ion-icon {
    pointer-events: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
}

.left {
    font-size: 30px;
    font-weight: 600;
}

.middle {
    text-align: center;
}

.middle label {
    font-weight: 500;
    margin: 0;
    font-size: 15px;
}

.middle .timer {
    color: black;
    font-size: 21px;
    font-weight: 600;
}

.right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 200px;
}

.cart {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart ion-icon {
    font-size: 30px;
    margin-right: 5px;
}

.cart .cart-button {
    background: none;
    padding-top: 5px;
}

.cart .cartItemCounter {
    position: absolute;
    top: 0;
    right: 0;
    background: linear-gradient(to left, #485fed, rgba(255, 44, 118, .25)), #485fed;
    padding-top: 1px;
    border-radius: 50%;
    width: 20px;
    color: #fff;
    height: 20px;
    z-index: 1;
}

.dropdown-cart-menu {
    position: absolute;
    left: -15rem;
    top: calc(100% + 0.25rem);
    background: #ffff;
    padding: 0.75rem;
    pointer-events: none;
    width: 30rem;
    border-radius: 8px;
    box-shadow: rgb(0 0 0 / 25%) 0px 4px 5px 2px;
    opacity: 0;
    z-index: 1;
    transform: translateY(-10px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}


.dropdown-cart-menu .cart-title {
    font-size: 20px;
    font-weight: 600;
    margin: 10px 0px;
    color: black;
}

.dropdown-cart-menu .cart-container {
    overflow: auto;
    max-height: 490px;
    padding: 10px 0;
    border-top: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
}

.cart-container .empty {
    text-align: center;
    font-size: 15px;
}

.cart-container .item {
    padding: 5px 0;
}

.cart-container .item:nth-child(even) {
    border-top: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
}

.cart-container .item .item-wrapper {
    display: flex;
    justify-content: space-between;
}

.cart-container .item .item-wrapper .left {
    width: 30%;
}

.cart-container .item .item-wrapper .left img {
    border-radius: 10px;
}

.cart-container .item .item-wrapper .right {
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.cart-container .item .item-wrapper .right .item-category {
    font-weight: 600;
    color: #a7a7a7;
    text-transform: uppercase;
}

.cart-container .item .item-wrapper .right .item-name {
    text-transform: capitalize;
    font-size: 18px;
    color: black;
    font-weight: 600;
    margin-bottom: 5px;
}

.cart-container .item .item-wrapper .right .variety {
    display: flex;
}

.cart-container .item .item-wrapper .right .label {
    color: #a7a7a7;
    margin-right: 5px;
}

.cart-container .item .item-wrapper .right .size,
.cart-container .item .item-wrapper .right .quantity,
.cart-container .item .item-wrapper .right .item-price {
    color: black;
    font-weight: 500;
}

.cart-container .item .item-wrapper .right .variety .item-size {
    display: flex;
    margin-right: 10px;
}

.cart-container .item .item-wrapper .right .variety .item-color {
    display: flex;
    align-items: center;
}

.cart-container .item .item-wrapper .right .variety .item-color .color {
    height: 15px;
    width: 15px;
    border-radius: 50%;
}

.cart-container .item .item-wrapper .right .qtyAndPrice {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.cart-container .item .item-wrapper .right .qtyAndPrice .item-quantity {
    display: flex;
}

.cart-container .item .item-wrapper .right .qtyAndPrice .item-price {
    font-size: 20px;
    font-weight: 600;
    margin-right: 10px;
}

.cart-container .item .item-footer {
    display: flex;
    justify-content: end;
    margin-top: 10px;
}

.cart-container .item .item-footer .remove-item {
    background: none;
}

.cart-container .item .item-footer .remove-item ion-icon {
    font-size: 16px;
    color: red;
}

.cart-checkout {
    padding: 0 10px;
    margin: 10px 0;
}

.cart-checkout .cart-total {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cart-checkout .cart-total .label,
.cart-checkout .cart-total .total {
    color: black;
    font-size: 20px;
    font-weight: 600;
}

.cart-checkout .checkout-button {
    width: 100%;
    height: 3rem;
    margin-top: 5px;
    background: red;
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
}

.cart-checkout .checkout-button.disable {
    background: #bababa;
    cursor: not-allowed;
}

.cart .cart-button.active+.dropdown-cart-menu {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.right .exit {
    border: none;
    height: 3rem;
    width: 8rem;
    color: red;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 5px;
    background: transparent;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 5px 0px;
    transition: all 0.3s ease-in-out;
}

.right .exit:hover {
    color: #fff;
    background: red;
}

main {
    display: flex;
}

main .filter-container {
    width: 20%;
    height: 665px;
    background: #fff;
    padding: 0px 20px;
    box-shadow: rgb(0 0 0 / 25%) 0px 4px 5px 0px;
    border-radius: 15px;
    margin-left: 30px;
}

main .filter-container .title {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 600;
}

main .filter-container ul>li {
    text-transform: capitalize;
    margin: 8px 0;
    font-size: 14px;
    cursor: pointer;
}

main .filter-container ul>li.active p {
    font-weight: 700;
}

main .filter-container ul>li>.list-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

main .filter-container ul>li .label {
    color: black;
    font-weight: 500;
    display: flex;
    align-items: center;
}

main .filter-container ul>li .label span {
    display: flex;
    margin-left: 5px;
    font-size: 15px;
}

main .filter-container ul>li .label .new,
main .product-container .product .product-details .type-container .type.new {
    color: #ff2c76;
}

main .filter-container ul>li .label .sale,
main .product-container .product .product-details .type-container .type.sale {
    color: #80ff72;
    font-size: 18px;
}

main .filter-container ul>li .label .trend,
main .product-container .product .product-details .type-container .type.trend {
    color: #485fed;
}

main .filter-container .clear-filter {
    background: none;
    margin-top: 20px;
    height: 3rem;
    font-size: 15px;
    color: #485def;
    font-weight: 600;
    width: 100%;
    text-align: start;
}

main .product-container {
    padding: 20px 80px;
    width: 80%;
    max-height: 666px;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
    column-gap: 80px;
}

main .product-container .loader {
    margin: 0 auto;
    margin-top: 20rem;
    color: #485def !important;
}

main .product-container .product {
    width: 20rem;
    height: 425px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 5px 0px;
    border-radius: 5px;
}

main .product-container .product .product-image {
    position: relative;
}

main .product-container .product .product-image img {
    height: 280px;
}

main .product-container .product .product-image>.stock-label {
    position: absolute;
    top: 10px;
    right: 0;
    background: linear-gradient(to left, #485fed, rgba(255, 44, 118, .25)), #485fed;
    padding: 5px 8px;
    color: #fff;
    font-weight: 500;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

main .product-container .product .product-image>.variety {
    position: absolute;
    width: 100%;
    bottom: 10px;
}

main .product-container .product .product-image>.variety .size-container {
    display: flex;
    padding: 0 5px;
    margin-bottom: 10px;
}

main .product-container .product .product-image>.variety .size-container .size {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding-top: 5px;
    text-align: center;
    font-size: 14px;
    background: #fff;
    font-weight: 500;
    margin: 0 5px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 5px 0px;
}

main .product-container .product .product-details {
    margin: 10px 0px;
    padding: 0 5px;
    height: 83px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main .product-container .product .product-details .detail-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
}

main .product-container .product .product-details .detail-wrapper>.item-name {
    color: black;
    font-size: 16px;
    font-weight: 600;
    width: 80%;
}

main .product-container .product .product-details .detail-wrapper>.item-price {
    color: black;
    font-size: 16px;
    font-weight: 600;
}

main .product-container .product .product-details .type-container {
    display: flex;
}

main .product-container .product .product-details .type-container .type {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding-top: 6px;
    text-align: center;
    font-size: 14px;
    background: #fff;
    font-weight: 500;
    margin: 0 5px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 5px 0px;
}

main .product-container .product .product-details .item-price>.price {
    margin-left: 5px;
}

main .product-container .product .product-button {
    display: flex;
    justify-content: center;
}

main .product-container .product .product-button>.addToCart-button {
    border: none;
    height: 3rem;
    width: 100%;
    color: #fff;
    font-weight: 600;
    padding: 10px 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background: linear-gradient(to left, #485fed, rgba(255, 44, 118, .25)), #485fed;
    box-shadow: rgb(0 0 0 / 25%) 0px 4px 5px 0px;
}

main .product-container .product .product-button>.addToCart-button:hover {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/* Add to cart Modal */
.modal-title {
    font-size: 20px;
    font-weight: 600;
}

.modal-content {
    background: #f1f1ff;
}

.addToCart-modal-body .wrapper {
    display: flex;
    height: 570px;
}

.img-container {
    width: 40%;
    height: 100%;
}

.main-image {
    border-bottom: 1px solid #d0d0d0;
    height: 365px;
    padding: 5px;
}

.main-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sub-image {
    display: flex;
    height: 170px;
    padding: 5px 0;
    justify-content: space-evenly;
    align-items: center;
}

.sub-image img {
    height: 100%;
    width: 140px;
    object-fit: cover;
    border: 1px solid #acacac;
}

.info-container {
    width: 60%;
    padding: 0 20px;
}

.info-container p {
    color: black;
}

.info-container .product-name {
    font-size: 30px;
    font-weight: 700;
}

.info-container .product-price {
    font-size: 28px;
    font-weight: 600;
    margin: 5px 0;
}

.info-container .product-price span {
    margin-left: 5px;
}

.info-container .product-description {
    font-size: 15px;
    max-height: 70px;
    margin: 10px 0;
}

.info-container .switch-container {
    padding: 10px 0;
}

.info-container .switch-container .switch {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 45px;
    background: #dde0fd;
    border-radius: 20px;
}

.switch div {
    width: 200px;
    text-align: center;
    padding: 10px 0px;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.switch>div.active {
    color: #fff;
    background: linear-gradient(to left, #485fed, rgba(255, 44, 118, .25)), #485fed;
}

.info-container .switch-container .detail-container,
.info-container .switch-container .review-container {
    padding-top: 15px;
    height: 350px;
}

.info-container .switch-container .detail-container .title {
    font-size: 20px;
    font-weight: 600;
}

.detail-container .unit-type {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 20px;
}

.detail-container .unit-type>.type {
    display: flex;
    align-items: center;
}

.detail-container .unit-type>.type .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    padding: 4px 0;
    border-radius: 20px;
    margin-right: 10px;
    background: #e3f7f3;
}

.detail-container .unit-type>.type .icon.unit {
    color: #00d200;
}

.detail-container .unit-type>.type .icon.unit p {
    color: lime;
    font-size: 15px;
    margin-left: 3px;
    font-weight: 600;
}

.detail-container .unit-type>.type .icon.trend {
    color: #485def;
}

.detail-container .unit-type>.type .icon.new {
    color: #ff2c76;
}

.detail-container .unit-type>.type .icon.sale {
    color: #80ff72;
}

.detail-container .unit-type>.type .icon ion-icon {
    font-size: 25px;
}

.detail-container .unit-type>.type>p {
    margin-left: 2px;
    font-weight: 600;
    font-size: 15px;
}

.detail-container .colors {
    margin: 10px 0;
}

.detail-container .colors .color-container {
    display: flex;
}

.detail-container .colors .color-container>.color {
    width: 45px;
    height: 45px;
    cursor: pointer;
    border-radius: 50%;
    border: 3px solid #fff;
    box-shadow: rgb(0 0 0 / 25%) 0px 4px 5px 0px;
    margin: 0 15px;
}

.detail-container .colors .color-container>.color.selected {
    box-shadow: none;
    border-color: black;
}

.detail-container .sizes .size-container {
    display: flex;
    font-size: 16px;
    font-weight: 600;
}

.detail-container .sizes .size-container>.size {
    margin: 0 15px;
    padding: 5px 20px;
    box-shadow: rgb(0 0 0 / 25%) 0px 4px 5px 0px;
    background: #fff;
    border-radius: 10px;
}

.detail-container .sizes .size-container>.size.selected {
    box-shadow: none;
    color: #fff;
    background: linear-gradient(to left, #485fed, rgba(255, 44, 118, .25)), #485fed;
}

.detail-container .sizes .size-container>.size.noStock {
    cursor: not-allowed;
    background: #bcbcbc;
    box-shadow: none;
}

.detail-container .detail-input {
    margin-top: 20px;
    width: 60%;
}

.detail-container .detail-input input {
    height: 50px;
    transition: all 0.30s ease-in-out;
    outline: none;
    padding: 10px 10px;
    border: 1px solid #e1e1e1;
    resize: none;
    border-radius: 5px;
}

.detail-container .detail-input input.error {
    box-shadow: 0 0 5px red;
    padding: 10px 10px;
    border: 1px solid red;
    background: #ffdede;
}

.detail-container .detail-input input:focus {
    box-shadow: 0 0 5px #485fed;
    padding: 10px 10px;
    border: 1px solid #485fed;
}

.review-container {}







/* Payment Method Modal */
.payment-modal-body {
    padding: 20px 30px;
    height: 650px;
    overflow: auto;
}

.payment-modal-body p {
    margin: 0;
}

.payment-modal-body .header {
    font-size: 2.5em;
    margin-bottom: 30px;
}

.payment-modal-body .content .section-label {
    margin-bottom: 15px;
    font-size: 18px;
}

.payment-modal-body .content .payment-method {
    margin-bottom: 30px;
}

.payment-modal-body .content .payment-method img {
    width: 50%;
    height: 65%;
}

.payment-modal-body .content .payment-method .method-container {
    display: flex;
    justify-content: space-around
}

.payment-modal-body .content .payment-method .method-container .method {
    border: 2px solid #eee;
    height: 200px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background: #fafafa;
    cursor: pointer;
}

.payment-modal-body .content .payment-method .method-container .method:hover {
    border-color: #485def;
}

.payment-modal-body .content .payment-method .method-container .method.selected {
    border: 3px solid #485def;
    background: #f1f1ff;
}

.payment-modal-body .content .payment-method .method-container .method.selected .brand-label {
    color: black;
}

.payment-modal-body .content .payment-method .method-container .method .brand-label {
    text-transform: uppercase;
    font-size: 15px;
    color: #acacac;
}

.payment-modal-body .content .payment-method .method-container .method .stripe {
    width: 80%;
}

.payment-modal-body .content .payment-method .method-container .method .cod {
    width: 50%;
}

.payment-modal-body .content .payment-info .info .user-address {
    margin-bottom: 20px;
}

.payment-modal-body .content .payment-info .info .user-address .selected {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.payment-modal-body .content .payment-info .info .user-address .selected .main,
.payment-modal-body .content .payment-info .info .user-address .address-list .other-address {
    display: flex;
    align-items: center;
}

.payment-modal-body .content .payment-info .info .user-address .selected .main .address,
.payment-modal-body .content .payment-info .info .user-address .address-list .other-address .address {
    font-size: 15px;
}

.payment-modal-body .content .payment-info .info .user-address .selected .toggle-address {
    font-size: 13px;
    padding: 2px 10px;
    border: none;
    border-left: 2px solid #aeaeae;
    background: #f1f1ff;
}

.payment-modal-body .content .payment-info .info .user-address .selected .main .tag,
.payment-modal-body .content .payment-info .info .user-address .address-list .other-address .tag {
    background: linear-gradient(to left, #485fed, rgba(255, 44, 118, .25)), #485fed;
    color: #fff;
    padding: 2px 10px;
    border-radius: 12px;
    text-transform: uppercase;
    font-size: 15px;
    margin-right: 10px;
}

.payment-modal-body .content .payment-info .info .user-address .selected .no-address {
    padding: 10px;
    font-size: 13px;
    width: 100%;
}

.payment-modal-body .content .payment-info .info .user-address .address-list {
    max-height: 160px;
    overflow-x: auto;
    border-top: 1px solid #cbcbcb;
    border-bottom: 1px solid #cbcbcb;
}

.payment-modal-body .content .payment-info .info .user-address .address-list .add-address {
    padding: 10px;
}

.payment-modal-body .content .payment-info .info .user-address .address-list .add-address button {
    width: 100%;
    height: 60px;
    border-style: dashed;
    border-radius: 10px;
    background: #fff;
    border-color: #acacac;
}

.payment-modal-body .content .payment-info .info .user-address .address-list .add-address button .icon {
    font-size: 25px;
    color: #485def;
}

.payment-modal-body .content .payment-info .info .user-address .address-list .add-address button span {
    font-size: 15px;
    color: #777;
}

.payment-modal-body .content .payment-info .info .user-address .address-list .other-address {
    padding: 5px 10px;
    cursor: pointer;
    height: 70px;
}

.payment-modal-body .content .payment-info .info .user-address .address-list .other-address:hover,
.payment-modal-body .content .payment-info .info .user-address .address-list .other-address.selected-address {
    background: #485def1a;
}

.payment-modal-body .content .payment-info .info .user-address .address-list .other-address:nth-child(even) {
    border-top: 1px solid #cbcbcb;
    border-bottom: 1px solid #cbcbcb;
}

.payment-modal-body .content .payment-info .info .user-info .row1 {
    display: flex;
    justify-content: space-between;
}

.payment-modal-body .content .payment-info .info .user-info .row1 .form-group {
    width: 48%;
}

.payment-modal-body .content .payment-info .info label,
.address-modal-body label {
    text-transform: uppercase;
    font-size: 14px;
}

.payment-modal-body .content .payment-info .info input {
    font-style: italic;
    padding: 25px 15px;
}

.payment-modal-body .footer {
    display: flex;
    justify-content: space-between;
    margin: 30px 0px 1px 0px;
}

.payment-modal-body .footer button {
    text-transform: uppercase;
    padding: 15px 20px;
    border-radius: 20px;
    font-size: 15px;
    box-shadow: rgb(0 0 0 / 25%) 0px 4px 5px 0px;
}

.payment-modal-body .footer .cancel {
    border: 3px solid transparent;
    background: transparent;
    color: #777;
    font-weight: 600;
}

.payment-modal-body .footer .cancel:hover {
    border: 3px solid #eee;
    box-shadow: none;
}

.payment-modal-body .footer .proceed {
    background: linear-gradient(to left, #485fed, rgba(255, 44, 118, .25)), #485fed;
    color: #fff;
    border: none;
}

/* Add New Address Modal */
.address-modal-body .form-wrap {
    display: flex;
    justify-content: space-between;
}

.address-modal-body .form-wrap .form-name {
    width: 52%;
}

.address-modal-body .form-wrap .form-phone {
    width: 45%;
}

.address-modal-body .form-buttons button {
    width: 100px;
    height: 40px;
    text-transform: capitalize;
    border-radius: 10px;
    border: none;
    background: #f1f1ff;
    box-shadow: rgb(0 0 0 / 25%) 0px 4px 5px 0px;
}

.address-modal-body .form-buttons button.selected-type {
    box-shadow: none;
    background: linear-gradient(to left, #485fed, rgba(255, 44, 118, .25)), #485fed;
    color: #fff;
}

.address-modal-body .form-buttons button:hover {
    box-shadow: none;
}

.address-modal-body .form-buttons button:nth-child(2) {
    margin: 0 15px;
}