/*MAIN*/
main {
    margin-top: 1.4rem;
}

main .reviews {
    margin-top: 1.2rem;
}

main .nav-reviews {
    position: sticky;
    top: 0;
    z-index: 233;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    margin: auto;
    transition: all 300ms ease;
    background: var(--color-white);
    box-shadow: var(--box-shadow);
}

main .nav-reviews a {
    font-size: 1rem;
}

main .nav-reviews .nav-item {
    cursor: pointer;
    transition: all 300ms ease;
}

main .nav-reviews li {
    text-align: center;
    padding: 1rem;
    width: 50%;
}

main .nav-reviews li a:hover {
    color: #6875e3;
}

main .nav-reviews li.active {
    border-bottom: 2px solid #6875e3;
}

main .nav-reviews li.active a {
    color: #6875e3;
    font-weight: 500;
}

main .order {
    background: var(--color-white);
    margin-top: 1.5rem;
    transition: all 300ms ease;
    box-shadow: var(--box-shadow);
}

main .order .top {
    padding: var(--card-padding);
    display: flex;
    justify-content: space-between;
}

main .order .top .shop {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1.5%;
}

main .order .top .status {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 1%;
}

main .order .top .status ion-icon,
main .order .top .shop ion-icon {
    font-size: 1.2rem;
}

main .order .middle {
    margin-top: 1.4rem;
    margin-bottom: 1.8rem;
}

main .order .middle .item-content {
    margin: 5px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

main .order .middle .item-content .item {
    display: flex;
    width: 50%;
}

main .order .middle .item-content img {
    border: 1px solid var(--color-info-dark);
    width: 100px;
}

main .order .middle .item-content .item-name {
    margin-left: 10px;
}

main .order .middle .item-content .item-price {
    color: #6875e3;
}

main .order .btn-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: end;
    gap: 2%;
    padding: 1rem;
}

main .order .btn-group button {
    cursor: pointer;
    padding: 1rem;
    background: transparent;
    border: 1px solid var(--color-info-light);
    font-size: 0.98rem;
    border-radius: var(--border-radius-1);
    width: 19%;
    text-align: center;
}

main .order .btn-group button.active {
    border: 0;
    background: var(--color-primary);
    color: #fff;
}

main #all,
main #history {
    transition: all 300ms ease;
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.7rem;
}

/*MODAL*/
.modal-wrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    transition: all 0.2s ease;
    z-index: 500;
}

.modal-wrap .shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: all 0.5s ease;
}

.modal-wrap .custom-modal {
    width: 450px;
    max-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--color-white);
    border-radius: 3px;
}

.modal-wrap .custom-modal .modal-container .modal-body .modal-item-wrap img {
    width: 50px;
    height: 50px;
}

.modal-ratings-wrap {
    width: 250px;
    height: 58px;
    background: var(--color-white);
    border-radius: 10px;
    margin: 1.5rem auto;
}

.stars {
    display: flex;
    flex-direction: row-reverse;
    gap: 5%;
    justify-content: center;
    align-items: center;
    padding: 0.88rem;
    color: var(--color-info-light) !important;
}

input {
    display: none;
}

i {
    font-size: 2rem;
}

i:hover {
    transform: scale(1.1) rotate(5deg);
    cursor: pointer;
}

.stars :checked~label {
    color: var(--color-primary);
}

.modal-wrap button.submit-btn {
    border: 1px solid var(--color-primary);
    background: var(--color-primary);
    color: var(--color-white);
}

.main.active .modal-wrap {
    visibility: visible;
    transition: all 0.5s ease;
}

.main.active .modal-wrap .shadow {
    opacity: 1;
    transition: all 0.5s ease;
}

.modal-wrap .custom-modal .header {
    background: var(--color-primary);
    color: var(--color-white);
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    position: relative;
    padding: var(--card-padding);
}

.modal-wrap .custom-modal .header .title {
    font-size: 1.4rem;
    font-weight: 600;
    text-align: center;
}

.modal-wrap .custom-modal .header .icon {
    position: absolute;
    top: 15px;
    right: 20px;
    cursor: pointer;
    font-size: 20px;
}

.modal-wrap .custom-modal .header .icon:hover {
    color: var(--color-info-light);
}

.modal-wrap .custom-modal .modal-container {
    padding: var(--card-padding);
}

.modal-wrap .custom-modal .modal-container .modal-body {
    margin-bottom: 25px;
}

.modal-wrap .custom-modal .modal-container .modal-body .modal-item-wrap {
    display: flex;
    flex-direction: row;
    gap: 2%;
}

.modal-wrap .custom-modal .modal-container .modal-body .modal-item-wrap h2 {
    font-size: 1.2rem;
}

.modal-wrap .custom-modal .modal-container .modal-body .modal-suggestions-wrap textarea {
    width: 100%;
    font-family: Poppins;
    color: var(--color-dark);
    background: var(--color-background);
    border: 1px solid var(--color-light);
    border-radius: var(--border-radius-1);
    padding: 1rem;
}

.modal-wrap .custom-modal .footer .footer-btn {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3%;
    justify-content: flex-end;
}

.modal-wrap .custom-modal .footer .footer-btn button {
    padding: 1.1rem;
    cursor: pointer;
    border: 0;
    outline: none;
    width: 25%;
    border-radius: 5px;
}

.modal-wrap .custom-modal .footer .footer-btn button.close-btn {
    background: var(--color-info-light);
    color: #363949;
}

.modal-wrap .custom-modal .footer .footer-btn button.active:hover {
    box-shadow: 0 1rem 2.4rem var(--color-primary);
    padding-top: 10px;
}

/*MEDIA QUERIES*/
/*BIG TABLETS AND SMALL LAPTOPS*/
@media screen and (max-width: 1200px) {
    .customer-container {
        width: 94%;
        grid-template-columns: 7rem auto 23rem;
    }

    aside .logo img {
        margin-left: 1.3rem;
        width: 3rem;
        height: 3rem;
    }

    aside .logo h2 {
        display: none;
    }

    aside .sidebar h3 {
        display: none;
    }

    aside .sidebar a {
        width: 5.6rem;
    }

    aside .sidebar a:last-child {
        position: relative;
        top: 0.4rem;
    }

    main .order .btn-group button {
        padding: 0.80rem 0.5rem;
        font-size: 0.78rem;
        width: 19%;
    }

    main .order .middle .item-content img {
        width: 70px;
        height: 70px;
    }

    main .order .middle .item-content .item p {
		font-size: 10px;
	}

    main .order .middle .item-content .item .item-name h2,
    main .order .middle .item-content .item-qty h2,
    main .order .middle .item-content .item-price h2 {
        font-size: 1.1rem;
    }
}

/*SMALLER TABLETS AND MOBILE*/
@media screen and (max-width: 768px) {
    .customer-container {
        width: 100%;
        grid-template-columns: 1fr;
    }

    aside {
        position: fixed;
        left: -100%;
        background: var(--color-white);
        width: 18rem;
        z-index: 3;
        box-shadow: 1rem 3rem 4rem var(--color-light);
        height: 100vh;
        padding-right: var(--card-padding);
        display: none;
        animation: showMenu 400ms ease forwards;
    }

    @keyframes showMenu {
        to {
            left: 0;
        }
    }

    aside .logo img {
        margin-left: 1;
        width: 2rem;
        height: 2rem;
    }

    aside .logo h2 {
        display: inline;
    }

    aside .sidebar h3 {
        display: inline;
    }

    aside .sidebar a {
        width: 18rem;
        height: 3.4rem;
    }

    aside .sidebar a:last-child {
        position: absolute;
        top: 18rem;
    }

    aside .close {
        display: inline-block;
        cursor: pointer;
    }

    main {
        margin-top: 4rem;
        padding: 2rem 1rem;
    }

    main .reviews {
        width: 92vw;
    }

    main .nav-reviews {
        position: relative;
        z-index: 0;
    }

    main .nav-reviews li {
        padding: 0.7rem;
    }

    main .nav-reviews a {
        font-size: 0.734rem;
    }

    main .reviews .order .top .status,
    main .reviews .order .top .shop {
        font-size: 0.73rem;
    }

    main .reviews .order .top ion-icon {
        font-size: 1rem;
    }

    main .order .middle .item-content .item .item-name h2,
    main .order .middle .item-content .item-qty h2,
    main .order .middle .item-content .item-price h2 {
        font-size: 0.85rem;
    }

    main .order .middle .item-content .item .item-name p {
        font-size: 0.76rem;
    }

    main .order .middle .item-content img {
        width: 50px;
        height: 50px;
    }

    main .order .btn-group button {
        padding: 0.6rem 0.3rem;
        font-size: 0.68rem;
        width: 23%;
    }

    main .order table th {
        font-size: 0.68rem;
        padding: 0.45rem;
    }

    main .order table td {
        padding: 0.67rem;
    }

    main .order table #orderTotal {
        font-size: 1rem;
    }

    main .order table #modeOfPayment {
        font-size: 0.65rem;
    }

    .right {
        width: 94%;
        margin: 0 auto 4rem;
    }

    .right .top {
        position: fixed;
        top: 0;
        left: 0;
        align-items: center;
        padding: 0 0.8rem;
        height: 4.6rem;
        background-color: var(--color-white);
        width: 100%;
        margin: 0;
        z-index: 2;
        box-shadow: 0 1rem 1rem var(--color-light);
    }

    .right .top .theme-toggler {
        width: 4.4rem;
        position: absolute;
        left: 65%;
    }

    .right .profile .info {
        display: none;
    }

    .right .top button {
        display: inline-block;
        background: transparent;
        cursor: pointer;
        color: var(--color-dark);
        position: absolute;
        left: 1rem;
    }
}

@media screen and (max-width: 425px) {
    .modal-wrap .modal {
        width: 320px;
    }

    .modal-wrap .modal .modal-container .modal-body .modal-item-wrap img {
        width: 40px;
        height: 40px;
    }

    .modal-wrap .modal .header {
        padding: 1rem;
    }

    .modal-wrap .modal .header .title {
        font-size: 1.2rem;
    }

    .modal-wrap .modal .header .icon {
        top: 10px;
        font-size: 23px;
    }

    .modal-wrap .modal .modal-container .modal-body .modal-item-wrap h2 {
        font-size: 1rem;
    }

    .modal-wrap .modal .modal-container .modal-body .modal-item-wrap p {
        font-size: 0.65rem;
    }

    .modal-wrap .modal .modal-container .modal-body .modal-suggestions-wrap textarea {
        font-size: 0.77rem;
    }

    .modal-wrap .modal .footer .footer-btn {
        gap: 5%;
    }

    .modal-wrap .modal .footer .footer-btn button {
        font-size: 0.88rem;
        padding: 1.1rem;
        width: 30%;
    }
}