/*MAIN*/
main {
    margin-top: 1.4rem;
}

main .settings {
    margin-top: 1.2rem;
}

main .nav-settings {
    position: sticky;
    top: 0;
    z-index: 233;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    margin: auto;
    transition: all 300ms ease;
    background: var(--color-white);
    box-shadow: var(--box-shadow);
}

main .nav-settings a {
    font-size: 0.88rem;
}

main .nav-settings .nav-item {
    cursor: pointer;
    transition: all 300ms ease;
}

main .nav-settings li {
    text-align: center;
    padding: 1rem;
    width: 100%;
}

main .nav-settings li a:hover {
    color: #6875e3;
}

main .nav-settings li.active {
    border-bottom: 2px solid #6875e3;
}

main .nav-settings li.active a {
    color: #6875e3;
    font-weight: 500;
}

main .content {
    background: var(--color-white);
    margin-top: 1.5rem;
    transition: all 300ms ease;
    box-shadow: var(--box-shadow);
}

main .content .top {
    padding: 1.4rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    border-bottom: 1px solid var(--color-primary);
}

main .content .row {
    display: flex;
}

main .content .row .col {
    flex: 1;
}

main .content .row .tabs {
    overflow: hidden;
    box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
}

main .content .row .tabs .tab {
    width: 100%;
    color: var(--color-dark);
    overflow: hidden;
}

main .content .row .tabs .tab .tab-label {
    display: flex;
    justify-content: space-between;
    padding: 1.2rem;
    padding-top: 0;
    font-size: 1.2rem;
    background: var(--color-white);
    font-weight: bold;
    cursor: pointer;
}

main .content .row .tabs .tab .tab-label::after {
    content: "❯";
    width: 1.2em;
    height: 1.2em;
    text-align: center;
    transition: all 300ms ease;
}

main .content .row .tabs .tab .tab-content {
    max-height: 0;
    padding: 0 1.2rem;
    color: var(--color-dark);
    font-size: 1.2rem;
    background: var(--color-white);
    transition: all 300ms ease;
}

main .content .row .tabs .tab input:checked+.tab-label::after {
    transform: rotate(90deg);
}

main .content .row .tabs .tab input:checked~.tab-content {
    max-height: 100vh;
    padding: 1.2rem;
}

main .content .top-address,
main .content .top-finance {
    padding: 1.4rem;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    border-bottom: 1px solid var(--color-primary);
}

main .content .top-address .btn-address button,
main .content .top-finance .btn-finance button {
    cursor: pointer;
    padding: 0.77rem;
    background: var(--color-primary);
    color: var(--color-white);
    border: 0;
    border-radius: var(--border-radius-1);
    text-align: center;
    box-shadow: 0 10px 25px -8px var(--color-primary);
    transition: all 300ms ease;
}

main .content .top-address .btn-address button:hover,
main .content .top-finance .btn-finance button:hover {
    box-shadow: none;
}

main .content .top button {
    padding: 1rem;
    background: transparent;
    color: var(--color-primary);
    cursor: pointer;
}

main .content .middle {
    display: grid;
    grid-template-columns: auto 20rem;
    padding: 1.6rem;
}

main .content .middle-policy {
    display: grid;
    grid-template-columns: auto;
    padding: 1.6rem;
    justify-content: center;
    place-items: center;
}

main .content .middle-policy p {
    font-size: 1rem;
}

main .content .middle-policy img {
    width: 180px;
    height: 180px;
    margin-bottom: 1rem;
}

main .content .middle-content {
    display: grid;
    grid-template-columns: auto 5rem;
    padding: 1.6rem;
}

main .content .middle .content-details,
main .content .middle-content .feedback-content-details {
    display: flex;
    gap: 4%;
}

main .content .middle-content .feedback-content-details {
    padding: 1.5rem;
    width: 100%;
}

main .content .middle-content .btn-goTo {
    margin: auto;
}

main .content .middle-content .btn-goTo a {
    font-size: 3rem;
    padding: 0.88rem;
    transition: all 300ms ease;
    color: var(--color-primary-variant);
}

main .content .middle-content .btn-goTo a:hover {
    margin-left: 12px;
}

main .content .middle-content .feedback-content-details ion-icon {
    font-size: 4rem;
    color: var(--color-primary-variant);
}

main .content .middle .content-btn {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    height: 50%;
}

main .content .middle .content-btn a {
    border: 1px solid var(--color-info-dark);
    margin: 0.33rem 0;
    padding: 0.88rem;
}

main .content .middle .content-details img {
    width: 70px;
    height: 70px;
}

main .content .middle .content-details ion-icon {
    font-size: 1.6rem;
}

main .content .btn-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: end;
    gap: 2%;
    padding: 1rem;
}

main .content .btn-group button {
    cursor: pointer;
    padding: 1rem;
    background: transparent;
    border: 1px solid var(--color-info-light);
    font-size: 0.98rem;
    border-radius: var(--border-radius-1);
    width: 19%;
    text-align: center;
}

main .content .btn-group button.active {
    border: 0;
    background: var(--color-primary);
    color: #fff;
}

main .content .middle {
    padding: 1.2rem;
}

main .settings .content .middle form table {
    width: 100%;
    border-collapse: collapse;
}

main .settings .content .middle form.account-settings-form {
    border-right: 1px solid var(--color-info-light);
}

main .settings .content .middle form table,
th,
td {
    /*	border: 1px solid #b1bcbe;*/
    padding: 1.2rem;
}

main .settings .content .middle form table,
th {
    font-weight: 400;
    font-size: 0.90rem;
    width: 25%;
    padding-right: 0;
}

main .settings .content .middle form table,
td {
    text-align: left;
    width: 100%;
}

main .settings .content .middle form table td #username {
    background: transparent;
    font-size: 1rem;
    color: var(--color-dark);
}

main .settings .content .middle form table td #username, 
#fullName,
#contactNum,
#birthdate,
#newPass,
#confirmPass {
    background: var(--color-white);
    border: 1px solid var(--color-info-light);
    box-shadow: inset 0 -1.3rem 1rem 0 rgba(0, 0, 0, 0.02);
    padding: 9px;
    width: 100%;
    font-size: 1rem;
    color: var(--color-dark);
    border-radius: var(--border-radius-1);
}

main .settings .content .middle form table td #verificationCode {
    background: var(--color-white);
    border: 1px solid var(--color-info-light);
    box-shadow: inset 0 -1.3rem 1rem 0 rgba(0, 0, 0, 0.02);
    padding: 9px;
    width: 100%;
    font-size: 1rem;
    color: var(--color-dark);
}

main .settings .content .middle form table td.verify {
    display: flex;
}

main .settings .content .middle form table td.verify button {
    border: none;
    cursor: pointer;
    padding: 4px;
    font-size: 0.88rem;
    font-family: "Poppins";
    width: 100%;
    background: var(--color-primary);
    color: var(--color-white);
}

main .settings .content .middle form table td #email {
    background: var(--color-background);
    font-size: 1rem;
    border: 1px solid var(--color-info-light);
    padding: 9px;
    width: 100%;
    color: var(--color-info-dark);
}

main .settings .content .middle form table td .radio {
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: left;
    margin: 0 10px;
}

main .settings .content .middle form table td .radio input {
    display: none;
}

.radio input+span {
    display: inline-block;
    position: relative;
    padding-left: 25px;
    font-size: 1rem;
}

.radio input+span:before {
    content: '';
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 50%;
    margin-right: 5px;
    width: 16px;
    height: 16px;
    border: 1px solid #ccc;
    background: #fff;
}

.radio input+span:after {
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    background: var(--color-primary);
    position: absolute;
    border-radius: 50%;
    top: 3px;
    left: 3px;
    opacity: 0;
    transform: scale(0, 0);
    transition: all 0.2s cubic-bezier(0.64, 0.57, 0.67, 1.53);
}

.radio input:checked+span:after {
    opacity: 1;
    transform: scale(1, 1);
}

main .settings .content .middle form table td .save-btn {
    cursor: pointer;
    padding: 1rem;
    background: var(--color-primary);
    font-size: 0.98rem;
    border-radius: var(--border-radius-1);
    width: 30%;
    color: var(--color-white);
    text-align: center;
}

main .settings .content .middle .uploadPhoto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main .settings .content .middle .uploadPhoto .profile-photo {
    height: 120px;
    width: 120px;
    margin-bottom: 15px;
    position: relative;
}

main .settings .content .middle .uploadPhoto .profile-photo img {
    height: 120px;
    width: 120px;
}

main .settings .content .middle .uploadPhoto .profile-photo ion-icon {
    background: #898989ad;
    position: absolute;
    font-size: 30px;
    bottom: 0;
    padding: 5px 43px;
    cursor: pointer;
}

main .settings .content .middle .uploadPhoto .input-file {
    text-align: center;
    width: 120px;
    margin-bottom: 15px;
}

main .settings .content .middle .uploadPhoto .input-file input[type=file] {
    font-family: "Poppins";
    width: 80%;
    margin-left: 2rem;
    cursor: pointer;
}

main .settings .content .middle .uploadPhoto .input-file .button-group {
    width: 120px;
    justify-content: space-between;
    display: flex;
}

main .settings .content .middle .uploadPhoto .input-file .button-group button {
    padding: 5px 5px;
}

main .content .middle .location,
.action,
main .content .middle .card {
    padding: var(--card-padding);
}

.card-action {
    padding: 1.2rem;
}

main .content .middle .location .customerDetails,
main .content .middle .card .cardDetails {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1%;
}

main .content .middle .location .customerDetails h2,
main .content .middle .card .cardDetails h2 {
    font-size: 1.1rem;
    font-weight: 600;
    border-right: 1px solid var(--color-info-light);
    padding-right: 0.48rem;
}

main .content .middle .location .customerDetails p,
main .content .middle .card .cardDetails p {
    font-size: 1.1rem;
}

main .content .middle .location .detailed-address,
.labels {
    margin-top: 0.66rem;
}

main .content .middle .location .labels>label {
    font-weight: 500;
    padding: 0.20rem;
}

main .content .middle .location .labels label.default-type {
    border: 1px solid var(--color-danger);
    color: var(--color-danger);
}

main .content .middle .location .labels label.work-type {
    border: 1px solid var(--color-warning);
    color: var(--color-warning);
}

main .content .middle .action {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 4rem 1rem;
}

main .content .middle .card-action {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

main .content .middle .card-action button {
    cursor: pointer;
    padding: 1rem;
    font-size: 0.88rem;
    font-family: "Poppins";
    transition: all 300ms ease;
}

main .content .middle .card-action button ion-icon {
    font-size: 0.88rem;
}

main .content .middle .action button {
    cursor: pointer;
    padding: 1rem;
    font-size: 1rem;
    font-family: "Poppins";
    transition: all 300ms ease;
}

main .content .middle .action button ion-icon {
    font-size: 0.95rem;
}

main .content .middle .action .edit-btn,
main .content .middle .card-action .edit-card-btn {
    color: var(--color-white);
    background: var(--color-success);
    border-top-left-radius: var(--border-radius-2);
    border-bottom-left-radius: var(--border-radius-2);
    box-shadow: 0 10px 25px -8px var(--color-success);
}

main .content .middle .action .delete-btn,
main .content .middle .card-action .delete-card-btn {
    color: var(--color-white);
    background: var(--color-danger);
    border-top-right-radius: var(--border-radius-2);
    border-bottom-right-radius: var(--border-radius-2);
    box-shadow: 0 10px 25px -8px var(--color-danger);
}

main .content .middle .action button:hover,
main .content .middle .card-action button:hover {
    box-shadow: none;
}

/*MODAL*/
.modal-wrap,
.modal-wrap-edit,
.modal-wrap-card,
.modal-wrap-card-edit {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    transition: all 0.2s ease;
    z-index: 500;
}

.modal-wrap .shadow,
.modal-wrap-edit .shadow,
.modal-wrap-card .shadow,
.modal-wrap-card-edit .shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: all 0.5s ease;
}

.modal-wrap .modal-address,
.modal-wrap-edit .modal-address,
.modal-wrap-card .modal-card,
.modal-wrap-card-edit .modal-card {
    width: 450px;
    max-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--color-white);
    border-radius: 3px;
}

i {
    font-size: 2rem;
}

i:hover {
    transform: scale(1.1) rotate(5deg);
    cursor: pointer;
}

.modal-wrap button.submit-btn,
.modal-wrap-edit button.update-btn,
.modal-wrap-card button.submit-card-btn,
.modal-wrap-card-edit button.update-card-btn {
    border: 1px solid var(--color-primary);
    background: var(--color-primary);
    color: var(--color-white);
}

.main.active .modal-wrap,
.main.active-edit .modal-wrap-edit,
.main.active-card .modal-wrap-card,
.main.active-edit-card .modal-wrap-card-edit {
    visibility: visible;
    transition: all 0.5s ease;
}

.main.active .modal-wrap .shadow,
.main.active-edit .modal-wrap-edit .shadow,
.main.active-card .modal-wrap-card .shadow,
.main.active-edit-card .modal-wrap-card-edit .shadow {
    opacity: 1;
    transition: all 0.5s ease;
}

.modal-wrap .modal-address .header,
.modal-wrap-edit .modal-address .header,
.modal-wrap-card .modal-card .header,
.modal-wrap-card-edit .modal-card .header {
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    position: relative;
    padding: 1.5rem;
    border-bottom: 1px solid var(--color-info-light);
}

.modal-wrap .modal-address .header .title,
.modal-wrap-edit .modal-address .header .title,
.modal-wrap-card .modal-card .header .title,
.modal-wrap-card-edit .modal-card .header .title {
    font-size: 1.4rem;
    font-weight: 600;
    text-align: left;
}

.modal-wrap .modal-address .header .icon,
.modal-wrap-edit .modal-address .header .icon,
.modal-wrap-card .modal-card .header .icon,
.modal-wrap-card-edit .modal-card .header .icon {
    position: absolute;
    top: 15px;
    right: 20px;
    cursor: pointer;
    font-size: 20px;
}

.modal-wrap .modal-address .header .icon:hover,
.modal-wrap-edit .modal-address .header .icon:hover,
.modal-wrap-card .modal-card .header .icon:hover,
.modal-wrap-card-edit .modal-card .header .icon:hover {
    color: var(--color-info-light);
}

.modal-wrap .modal-address .modal-container,
.modal-wrap-edit .modal-address .modal-container,
.modal-wrap-card .modal-card .modal-container,
.modal-wrap-card-edit .modal-card .modal-container {
    padding: 0.44rem 2rem;
}

.modal-wrap .modal-address .modal-container .modal-body,
.modal-wrap-edit .modal-address .modal-container .modal-body,
.modal-wrap-card .modal-card .modal-container .modal-body,
.modal-wrap-card-edit .modal-card .modal-container .modal-body {
    margin-bottom: 20px;
}

.modal-wrap-card .modal-card .modal-container .modal-body .modal-card-wrap .card-title-brand .card-variations .fab,
.modal-wrap-card-edit .modal-card .modal-container .modal-body .modal-card-wrap .card-title-brand .card-variations .fab {
    cursor: none;
    pointer-events: none;
    font-size: 1.5rem;
    color: var(--color-info-dark);
}

.modal-wrap-card .modal-card .modal-container .modal-body .modal-card-wrap .card-title-brand p,
.modal-wrap-card-edit .modal-card .modal-container .modal-body .modal-card-wrap .card-title-brand p {
    font-size: 1rem;
    font-weight: 500;
}

.modal-wrap-card .modal-card .modal-container .modal-body .modal-card-wrap .card-title-brand,
.modal-wrap-card-edit .modal-card .modal-container .modal-body .modal-card-wrap .card-title-brand {
    display: flex;
    margin-top: 1rem;
    justify-content: space-between;
    align-items: center;
}

.modal-wrap .modal-address .modal-container .modal-body .modal-address-wrap form .field-flex,
.modal-wrap-edit .modal-address .modal-container .modal-body .modal-address-wrap form .field-flex,
.modal-wrap-card .modal-card .modal-container .modal-body .modal-card-wrap form .field-flex,
.modal-wrap-card-edit .modal-card .modal-container .modal-body .modal-card-wrap form .field-flex {
    display: flex;
    gap: 3%;
}

.modal-wrap .modal-address .modal-container .modal-body .modal-address-wrap form .field-grid,
.modal-wrap-edit .modal-address .modal-container .modal-body .modal-address-wrap form .field-grid,
.modal-wrap-card .modal-card .modal-container .modal-body .modal-card-wrap form .field-grid,
.modal-wrap-card-edit .modal-card .modal-container .modal-body .modal-card-wrap form .field-grid {
    display: grid;
    grid-template-columns: auto;
}

.modal-wrap .modal-address .modal-container .modal-body .modal-address-wrap form .field-label,
.modal-wrap-edit .modal-address .modal-container .modal-body .modal-address-wrap form .field-label,
.modal-wrap-card .modal-card .modal-container .modal-body .modal-card-wrap form .field-label,
.modal-wrap-card-edit .modal-card .modal-container .modal-body .modal-card-wrap form .field-label {
    margin: 1rem;
}

.modal-wrap .modal-address .modal-container .modal-body .modal-address-wrap form .field-label p,
.modal-wrap-edit .modal-address .modal-container .modal-body .modal-address-wrap form .field-label p {
    font-size: 1.1rem;
}

.modal-wrap .modal-address .modal-container .modal-body .modal-address-wrap form .field-label #label-types,
.modal-wrap-edit .modal-address .modal-container .modal-body .modal-address-wrap form .field-label #label-types {
    display: flex;
    gap: 2%;
}

.modal-wrap .modal-address .modal-container .modal-body .modal-address-wrap form .field-label #label-types>label,
.modal-wrap-edit .modal-address .modal-container .modal-body .modal-address-wrap form .field-label #label-types>label {
    font-size: 0.99rem;
    margin-top: 12px;
    cursor: pointer;
    border: 1px solid var(--color-info-light);
    padding: 0.77rem;
    border-radius: 10px;
}

.modal-wrap .modal-address .modal-container .modal-body .modal-address-wrap form .field-label #label-types label:hover,
.modal-wrap-edit .modal-address .modal-container .modal-body .modal-address-wrap form .field-label #label-types label:hover {
    border: 1px solid var(--color-primary);
    color: var(--color-primary);
}

.modal-wrap .modal-address .modal-container .modal-body .modal-address-wrap form .field-label #label-types .label-active,
.modal-wrap-edit .modal-address .modal-container .modal-body .modal-address-wrap form .field-label #label-types .label-active {
    border: 1px solid var(--color-primary);
    color: var(--color-primary);
}

.modal-wrap .modal-address .modal-container .modal-body .modal-address-wrap form .custom-field,
.modal-wrap-edit .modal-address .modal-container .modal-body .modal-address-wrap form .custom-field,
.modal-wrap-card .modal-card .modal-container .modal-body .modal-card-wrap form .custom-field,
.modal-wrap-card-edit .modal-card .modal-container .modal-body .modal-card-wrap form .custom-field {
    position: relative;
    width: 100%;
    font-size: 14px;
    padding-top: 20px;
}

.modal-wrap .modal-address .modal-container .modal-body .modal-address-wrap form .field-label .set-default,
.modal-wrap-edit .modal-address .modal-container .modal-body .modal-address-wrap form .field-label .set-default {
    padding: 1.2rem;
}

.modal-wrap .modal-address .modal-container .modal-body .modal-address-wrap form .field-label .set-default input.chb,
.modal-wrap-edit .modal-address .modal-container .modal-body .modal-address-wrap form .field-label .set-default input.chb {
    visibility: hidden;
}

.modal-wrap .modal-address .modal-container .modal-body .modal-address-wrap form .field-label .set-default input.chb+label,
.modal-wrap-edit .modal-address .modal-container .modal-body .modal-address-wrap form .field-label .set-default input.chb+label {
    position: relative;
    padding-left: 7px;
    font-size: 1rem;
}

.modal-wrap .modal-address .modal-container .modal-body .modal-address-wrap form .field-label .set-default input.setDefault+label::before,
.modal-wrap-edit .modal-address .modal-container .modal-body .modal-address-wrap form .field-label .set-default input.setDefault+label::before {
    position: absolute;
    left: -20px;
    top: 1px;
    /*   text-align: center; */
    border: 2px solid var(--color-primary);
    content: " ";
    width: 14px;
    height: 14px;
    cursor: pointer;
    transition: all 0.1s ease-in, border-color 0.05s ease-in;
}

.modal-wrap .modal-address .modal-container .modal-body .modal-address-wrap form .field-label .set-default input.setDefault:checked+label::before,
.modal-wrap-edit .modal-address .modal-container .modal-body .modal-address-wrap form .field-label .set-default input.setDefault:checked+label::before {
    transform: rotate(40deg);
    border-top-color: transparent;
    border-left-color: transparent;
    top: 0;
    left: -15px;
    width: 7px;
    height: 14px;
}

.modal-wrap .modal-address .modal-container .modal-body .modal-address-wrap form .custom-field input,
.modal-wrap-edit .modal-address .modal-container .modal-body .modal-address-wrap form .custom-field input,
.modal-wrap-card .modal-card .modal-container .modal-body .modal-card-wrap form .custom-field input,
.modal-wrap-card-edit .modal-card .modal-container .modal-body .modal-card-wrap form .custom-field input {
    border: 1px solid var(--color-light);
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    color: var(--color-dark);
    padding: 10px;
    border-radius: 3px;
    background: var(--color-white);
    box-shadow: inset 0 -1.3rem 1rem 0 rgba(0, 0, 0, 0.02);
    width: 100%;
    font-size: 14px;
}

.modal-wrap .modal-address .modal-container .modal-body .modal-address-wrap form .custom-field input:focus,
.modal-wrap-edit .modal-address .modal-container .modal-body .modal-address-wrap form .custom-field input:focus,
.modal-wrap-card .modal-card .modal-container .modal-body .modal-card-wrap form .custom-field input:focus,
.modal-wrap-card-edit .modal-card .modal-container .modal-body .modal-card-wrap form .custom-field input:focus {
    border: 1px solid var(--color-primary);
}

.modal-wrap .modal-address .modal-container .modal-body .modal-address-wrap form .custom-field .placeholder,
.modal-wrap-edit .modal-address .modal-container .modal-body .modal-address-wrap form .custom-field .placeholder,
.modal-wrap-card .modal-card .modal-container .modal-body .modal-card-wrap form .custom-field .placeholder,
.modal-wrap-card-edit .modal-card .modal-container .modal-body .modal-card-wrap form .custom-field .placeholder {
    position: absolute;
    left: 12px;
    top: calc(50% + 10px);
    transform: translateY(-50%);
    color: #aaa;
    transition:
        top 0.3s ease-in-out,
        font-size 0.3s ease-in-out,
        color 0.3s ease-in-out;
}

.modal-wrap .modal-address .modal-container .modal-body .modal-address-wrap form .custom-field input:valid+.placeholder,
.modal-wrap .modal-address .modal-container .modal-body .modal-address-wrap form .custom-field input:focus+.placeholder,
.modal-wrap-edit .modal-address .modal-container .modal-body .modal-address-wrap form .custom-field input:valid+.placeholder,
.modal-wrap-edit .modal-address .modal-container .modal-body .modal-address-wrap form .custom-field input:focus+.placeholder,
.modal-wrap-card .modal-card .modal-container .modal-body .modal-card-wrap form .custom-field input:valid+.placeholder,
.modal-wrap-card .modal-card .modal-container .modal-body .modal-card-wrap form .custom-field input:focus+.placeholder,
.modal-wrap-card-edit .modal-card .modal-container .modal-body .modal-card-wrap form .custom-field input:valid+.placeholder,
.modal-wrap-card-edit .modal-card .modal-container .modal-body .modal-card-wrap form .custom-field input:focus+.placeholder {
    top: 22px;
    font-size: 12px;
    background: var(--color-white);
    color: #aaa;
    padding: 0 0.22rem;
}

.modal-wrap .modal-address .footer,
.modal-wrap-edit .modal-address .footer,
.modal-wrap-card .modal-card .footer,
.modal-wrap-card-edit .modal-card .footer {
    margin-bottom: 1rem;
}

.modal-wrap .modal-address .footer .footer-btn,
.modal-wrap-edit .modal-address .footer .footer-btn,
.modal-wrap-card .modal-card .footer .footer-btn,
.modal-wrap-card-edit .modal-card .footer .footer-btn {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3%;
    justify-content: flex-end;
}

.modal-wrap .modal-address .footer .footer-btn button,
.modal-wrap-edit .modal-address .footer .footer-btn button,
.modal-wrap-card .modal-card .footer .footer-btn button,
.modal-wrap-card-edit .modal-card .footer .footer-btn button {
    font-family: Poppins;
    padding: 0.88rem;
    cursor: pointer;
    border: 0;
    outline: none;
    width: 25%;
    border-radius: 5px;
}

.modal-wrap .modal-address .footer .footer-btn button.close-btn,
.modal-wrap-edit .modal-address .footer .footer-btn button.close-btn,
.modal-wrap-card .modal-card .footer .footer-btn button.close-btn,
.modal-wrap-card-edit .modal-card .footer .footer-btn button.close-btn {
    background: var(--color-info-light);
    color: #363949;
}

.modal-wrap .modal-address .footer .footer-btn button.active:hover,
.modal-wrap-edit .modal-address .footer .footer-btn button.active:hover,
.modal-wrap-card .modal-card .footer .footer-btn button.active:hover,
.modal-wrap-card-edit .modal-card .footer .footer-btn button.active:hover {
    box-shadow: 0 1rem 2.4rem var(--color-primary);
    padding-top: 10px;
}

/*MEDIA QUERIES*/
/*BIG TABLETS AND SMALL LAPTOPS*/
@media screen and (max-width: 1200px) {
    .customer-container {
        width: 94%;
        grid-template-columns: 7rem auto 18rem;
    }

    aside .logo img {
        margin-left: 1.3rem;
        width: 3rem;
        height: 3rem;
    }

    aside .logo h2 {
        display: none;
    }

    aside .sidebar h3 {
        display: none;
    }

    aside .sidebar a {
        width: 5.6rem;
    }

    aside .sidebar a:last-child {
        position: relative;
        top: 0.4rem;
    }

    main .nav-settings a {
        font-size: 0.77rem;
    }

    main .settings .content .middle form table,
    th,
    td {
        padding: 0.77rem;
    }

    main .settings .content .middle form table,
    th {
        font-size: 0.70rem;
    }

    main .settings .content .middle form table td #username {
        font-size: 0.88rem;
    }

    main .settings .content .middle form table td #fullName,
    #contactNum,
    #newPass,
    #confirmPass {
        padding: 8px;
        font-size: 0.77rem;
    }

    main .settings .content .middle form table td #email {
        font-size: 0.77rem;
        padding: 8px;
    }

    .radio input+span {
        padding-left: 20px;
        font-size: 0.88rem;
    }

    .radio input+span:before {
        width: 14px;
        height: 14px;
    }

    .radio input+span:after {
        width: 10px;
        height: 10px;
    }

    main .settings .content .middle form table td select {
        font-size: 0.88rem;
        padding: 8px;
        width: 32.32%;
    }

    main .settings .content .middle form table td .save-btn {
        padding: 0.88rem;
        font-size: 0.78rem;
        width: 25%;
    }

    main .settings .content .middle .uploadPhoto .profile-photo {
        height: 100px;
        width: 100px;
        margin-top: 3rem;
    }

    main .settings .content .middle .uploadPhoto .profile-photo img {
        height: 100px;
        width: 100px;
    }

    main .settings .content .middle .uploadPhoto .input-file {
        margin-bottom: 8rem;
    }

    main .settings .content .middle form table td #verificationCode {
        padding: 8px;
        font-size: 0.77rem;
    }

}

/*SMALLER TABLETS AND MOBILE*/
@media screen and (max-width: 768px) {
    .customer-container {
        width: 100%;
        grid-template-columns: 1fr;
    }

    aside {
        position: fixed;
        left: -100%;
        background: var(--color-white);
        width: 18rem;
        z-index: 3;
        box-shadow: 1rem 3rem 4rem var(--color-light);
        height: 100vh;
        padding-right: var(--card-padding);
        display: none;
        animation: showMenu 400ms ease forwards;
    }

    @keyframes showMenu {
        to {
            left: 0;
        }
    }

    aside .logo img {
        margin-left: 1;
        width: 2rem;
        height: 2rem;
    }

    aside .logo h2 {
        display: inline;
    }

    aside .sidebar h3 {
        display: inline;
    }

    aside .sidebar a {
        width: 18rem;
        height: 3.4rem;
    }

    aside .sidebar a:last-child {
        position: absolute;
        top: 18rem;
    }

    aside .close {
        display: inline-block;
        cursor: pointer;
    }

    main {
        margin-top: 4rem;
        padding: 2rem 1rem;
    }

    main .settings {
        width: 92vw;
    }

    main .nav-settings {
        position: relative;
        z-index: 0;
    }

    main .nav-settings li {
        padding: 0.7rem;
    }

    main .nav-settings a {
        font-size: 0.55rem;
    }

    main .content .middle {
        grid-template-columns: 1fr;
        padding: 1rem;
    }

    main .settings .content .middle form.account-settings-form {
        padding-top: 1rem;
        order: 2;
        border-right: 0;
        border-top: 1px solid var(--color-info-light);
    }

    main .settings .content .middle .uploadPhoto {
        order: 1;
    }

    main .settings .content .middle .uploadPhoto .profile-photo {
        height: 110px;
        width: 110px;
        margin-top: 1rem;
    }

    main .settings .content .middle .uploadPhoto .profile-photo img {
        height: 110px;
        width: 110px;
    }

    main .settings .content .middle .uploadPhoto .input-file {
        margin-bottom: 3rem;
    }

    main .settings .content .middle form table,
    th,
    td {
        padding: 0.88rem;
    }

    main .settings .content .middle form table,
    th {
        font-size: 0.88rem;
    }

    main .settings .content .middle form table td #username {
        font-size: 0.88rem;
    }

    main .settings .content .middle form table td #fullName,
    #contactNum,
    #newPass,
    #confirmPass {
        padding: 9px;
        font-size: 0.88rem;
    }

    main .settings .content .middle form table td #email {
        font-size: 0.88rem;
        padding: 9px;
    }

    .radio input+span {
        font-size: 0.88rem;
    }

    main .settings .content .middle form table td select {
        font-size: 0.99rem;
        padding: 9px;
        width: 32.32%;
    }

    main .settings .content .middle form table td .save-btn {
        padding: 0.99rem;
        font-size: 0.88rem;
        width: 30%;
    }

    main .settings .content .middle form table td #verificationCode {
        padding: 9px;
        font-size: 1rem;
        width: 100%;
    }

    .right {
        width: 94%;
        margin: 0 auto 4rem;
    }

    .right .top {
        position: fixed;
        top: 0;
        left: 0;
        align-items: center;
        padding: 0 0.8rem;
        height: 4.6rem;
        background-color: var(--color-white);
        width: 100%;
        margin: 0;
        z-index: 2;
        box-shadow: 0 1rem 1rem var(--color-light);
    }

    .right .top .theme-toggler {
        width: 4.4rem;
        position: absolute;
        left: 65%;
    }

    .right .profile .info {
        display: none;
    }

    .right .top button {
        display: inline-block;
        background: transparent;
        cursor: pointer;
        color: var(--color-dark);
        position: absolute;
        left: 1rem;
    }
}

@media screen and (max-width: 425px) {
    .modal-wrap .modal-address {
        width: 300px;
    }

    .modal-wrap .modal-address .header {
        padding: 1rem;
    }

    .modal-wrap .modal-address .header .title {
        font-size: 1.2rem;
    }

    .modal-wrap .modal-address .header .icon {
        top: 10px;
        font-size: 23px;
    }

    .modal-wrap .modal-address .footer .footer-btn {
        gap: 5%;
    }

    .modal-wrap .modal-address .footer .footer-btn button {
        font-size: 0.88rem;
        padding: 1.1rem;
        width: 30%;
    }
}