/*SIDEBAR*/
aside{
	height: 100vh;
	position: sticky;
	top: 0;
}
aside .top{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 1.4rem;
}
aside .logo{
	display: flex;
	gap: 0.8rem;
}
aside .logo img{
	width: 2rem;
	height: 2rem;
}
aside .close{
	display: none;
}

aside .sidebar{
	display: flex;
	flex-direction: column;
	height: 86vh;
	position: relative;
	top: 3rem;
}
aside h3{
	font-weight: 500;
	margin-bottom: 0.43rem;
}
aside .sidebar a{
	display: flex;
	color: var(--color-info-dark);
	margin-left: 2rem;
	gap: 1rem;
	align-items: center;
	position: relative;
	height: 3.7rem;
	transition: all 300ms ease;
}
aside .sidebar a span{
	font-size: 1.6rem;
	transition: all 300ms ease;
}
aside .sidebar a:last-child{
	position: absolute;
	top: 19rem;
	width: 100%;
}
aside .sidebar a.active{
	background: var(--color-light);
	color: var(--color-primary);
	margin-left: 0; 
}
aside .sidebar a.active:before{
	content: "";
	width: 6px;
	height: 100%;
	background: var(--color-primary);
}
aside .sidebar a.active span{
	color: var(--color-primary);
	margin-left: calc(1rem - 3px)
}
aside .sidebar a:hover{
	color: var(--color-primary);
}
aside .sidebar a:hover span{
	margin-left: 0.89rem;
}
aside .sidebar .notif-count{
	background: var(--color-danger);
	color: var(--color-white);
	padding: 2px 6px;
	font-size: 10px;
	border-radius: var(--border-radius-2);
	margin-bottom: 0.43rem;
}
aside .sidebar a.active .notif-count{
	color: var(--color-white);
	margin-left: 0;
}

/*RIGHT*/
.right{
	margin-top: 1.4rem;
}
.right .top{
	display: flex;
	justify-content: end;
	gap: 1rem;
}
.right .top button{
	display: none;
}
.right .theme-toggler{
	background: var(--color-light);
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 1.6rem;
	width: 4.2rem;
	cursor: pointer;
	border-radius: var(--border-radius-1);
}
.right .theme-toggler span{
	font-size: 1.2rem;
	width: 50%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 300ms ease;
}

.right .theme-toggler span.active{
	background: var(--color-primary);
	color: #fff;
	border-radius: var(--border-radius-1);
}
.right .top .profile{
	display: flex;
	gap: 0.94rem;
	text-align: right;
}
.right .live-schedules{
	margin-top: 1rem;
	padding: 0.64rem;
}
.right .live-schedules h2{
	margin-bottom: 0.8rem;
	font-size: 1rem;
}
.right .live-schedules .schedules{
	background: var(--color-white);
	padding: var(--card-padding);
	border-radius: var(--card-border-radius);
	box-shadow: var(--box-shadow);
	transition: all 300ms ease;
}
.right .live-schedules .schedules:hover{
	box-shadow: none;
}
.right .live-schedules .schedules .schedule{
	margin-bottom: 1rem;
}