<div class="alert <%= messageCode %> " role="alert">
    <%= infoMessage %> 
</div>
<h2 class="title">Sign in</h2>
<div class="input-field">
     <i><ion-icon name="mail"></ion-icon></i>
    <input type="text" id="email" placeholder="Email" name="email" required>
</div>
<div class="input-field">
    <i><ion-icon name="lock-closed"></ion-icon></i>
    <input type="password" id="password" placeholder="Password" name="password" required>
</div>
<input type="submit" value="Login" class="btn solid">

<p class="social-text">Or Sign in with social platforms</p>
<div class="social-media">
    <a class="social-icon" id="signInWithFacebook">
        <ion-icon name="logo-facebook"></ion-icon>
    </a>
    <a class="social-icon" id="signInWithGoogle">
        <ion-icon name="logo-google"></ion-icon>
    </a>
</div>