<h2 class="title">Sign up</h2>
<div class="input-field">
    <i><ion-icon name="mail"></ion-icon></i>
    <input type="text" placeholder="Email" name="email" required>
</div>
<div class="input-field">
    <i><ion-icon name="lock-closed"></ion-icon></i>
    <input type="password" placeholder="Password" name="password" required>
</div>
<div class="input-field">
    <i><ion-icon name="lock-closed"></ion-icon></i>
    <input type="password" placeholder="Confirm Password" name="confirmPassword" required>
</div>
<input type="submit" value="Sign up" class="btn solid">