<h2 class="title">Sign up</h2>
<div class="input-field">
    <i><ion-icon name="mail"></ion-icon></i>
    <input type="text" placeholder="Email" name="email" required>
</div>
<div class="input-field">
    <i><ion-icon name="lock-closed"></ion-icon></i>
    <input type="password" placeholder="Password" name="password" required>
</div>
<div class="input-field">
    <i><ion-icon name="lock-closed"></ion-icon></i>
    <input type="password" placeholder="Confirm Password" name="confirmPassword" required>
</div>
<input type="submit" value="Sign up" class="btn solid">
    
<p class="social-text">Or Sign up with social platforms</p>
<div class="social-media">
    <a href="#" class="social-icon" id="signInWithFacebook">
        <ion-icon name="logo-facebook"></ion-icon>
    </a>
    <a href="#" class="social-icon" id="signInWithGoogle">
        <ion-icon name="logo-google"></ion-icon>
    </a>
</div>