<div class="auth-body">
    
    <div class="seller-signIn-cont" id="signIn">

        <div class="signIn-cont static-cont">
            <div class="quote-logo">
                <i class="fas fa-quote-left"></i>
            </div>
            <div class="quote-title">
                Make a Dream.
            </div>
            <div class="quote-detail">
                “Chase the vision, not the money; the money will end up following you.”
            </div>
            <div class="quote-author">
                <div class="author-image">
                    <img src="/public/assets/images/auth/seller/static-quote-image1.jpg" alt="Tony Hsieh">
                </div>
                <div class="author-detail">
                    <p class="author-name">Tony Hsieh</p>
                    <p class="author-job">Entrepreneur</p>
                </div>
            </div>
            <div class="vertical-line"></div>
            <div class="horizontal-line"></div>
        </div>

        <div class="signIn-cont dynamic-cont">
            <div class="header-cont">
                <div class="header-logo">
                    <img src="/public/assets/images/mainLogo.png" alt="City Sales Cloud Logo" class="logo">
                    <p class="logoText">City Sales <p class="emph">Cloud</p> - Seller Center</p>
                </div>
                <div class="header-text">
                    <p class="mainText">Sign In to You Account</p>
                    <p class="subText">Sell nationwide to millions of customers 24 hours a day, 7 days a week!</p>
                </div>
            </div>

            <form id='seller_SignInForm'>
                <div class="body-cont">
                    <div class="form-cont">
                        <label for="signIn-Email" class='subText'>Email</label>
                        <input type="text" name='' id='signIn-Email' placeholder="demo@sample.com" required>
                    </div>
                    <div class="form-cont" class='subText'>
                        <label for="signIn-password">Password</label>
                        <input type="password" name='' id='signIn-password' required>
                    </div>
                    <a href="#">Forget Password?</a>
                    <button type="submit" id='sellerSignIn'>Sign In</button>
                </div>
            </form>
        </div>
        
    </div>

    <div class="seller-signUp-cont" id="signUp" style="display: none">

        <div class="signUp-guide">
  
            <div class="guide-start step active">
                <div class="quote">
                    <i class="fas fa-quote-left"></i>
                </div>
                <div class="guide-quote">
                    <p class="body"><em>I could have really used the product back when i was a freelancer. I was a good designer but terrible at running a studio.</em></p>
                    <p class="author">Biz Stone</p>
                    <p class="authorWork">Founder Twitter <ion-icon name="logo-twitter"></ion-icon> </p>
                </div>
            </div>
                    
            <div class="guide-sellerType step">
                       <p class="title">A few clicks away from creating your business.</p>
                       <p class="subText">Start your business in minutes.</p>
                       <p class="subText">Save time and money.</p>
                       <img src="/public/assets/images/auth/seller/business.png" alt="">
            </div>
                    
            <div class="guide-progress guide-business step">
                <div class="progress-header">
                    <img src="/public/assets/images/mainLogo.png" alt="City Sales Cloud Logo" class="logo">
                    <p class="logoText">City Sales <p class="emph">Cloud</p></p>
                </div>
                <div class="progress-body">
                    <div class="progress-list">
                        <div class="progress finished accountType">
                            <div class="progress-icon">
                                <ion-icon name="checkmark-circle-sharp"></ion-icon>
                            </div>
                            <div class="progress-title">
                                Account Type
                            </div>
                        </div>
                        <div class="progress active businessInfo">
                                    <div class="progress-icon">
                                        <ion-icon name="checkmark-circle-sharp"></ion-icon>
                                        <div class="circle">
                                            2
                                        </div>
                                    </div>
                                    <div class="progress-title">
                                        Business Details
                                        <div class="progress-drop">
                                            <p class="subTopic subBusiness1">About business</p>
                                            <p class="subTopic subBusiness2">Business documents</p>
                                        </div>
                                    </div>
                        </div>
                        <div class="progress pending personalInfo">
                                    <div class="progress-icon">
                                        <ion-icon name="checkmark-circle-sharp"></ion-icon>
                                        <div class="circle">
                                            3
                                        </div>
                                    </div>
                                    <div class="progress-title">
                                        Personal Details
                                        <div class="progress-drop">
                                            <p class="subTopic subPersonal1">About you</p>
                                            <p class="subTopic subPersonal2">Mailing address</p>
                                        </div>
                                    </div>
                        </div>
                        <div class="progress pending createAcc">
                            <div class="progress-icon">
                                <div class="circle">
                                    4
                                </div>
                            </div>
                            <div class="progress-title">
                                Create Account
                            </div>
                        </div>
                    </div>
                </div>
                <div class="progress-footer stepImage1"></div>
            </div>
        </div>

        <div class="signUp-detail">

            <form action="/sellercenter" method="POST" id="sellerRegistrationForm" class="invalid">

                <!-- Get Started -->
                <div class="tab detail-panel start">
                    <div class="panel-header">
                        <img src="/public/assets/images/mainLogo.png" alt="City Sales Cloud Logo" class="logo">
                        <p class="logoText">City Sales <p class="emph">Cloud</p></p>
                    </div>
                    <div class="panel-body">
                        <p class="title">Start your business now.</p>
                        <p class="subText">Creating your virtual store is just a few steps away.</p>
                        <p class="subText">Enter your email address to continue.</p>
                        <p class="subText">Email</p>
                        <input type="email" class="emailStart chkInput" id="chkInputEmail" placeholder="demo@sample.com"><br>
                        <span id="validatorText1" class="validatorTextStyle"></span>
                    </div>
                </div>

                <div class="panel-header" id="mid-header">
                    <p class="help">Having troubles? <a href="#" class="help-link">Get Help</a></p>
                </div>

                <!-- Select Seller Account -->
                <div class="tab detail-panel seller-type">
                        <div class="panel-body">
                            <div class="static-cont">
                                <p class="title">What type of seller are you?</p>
                                <p class="subText">Select a seller type.</p>
                            </div>
                            <div class="dynamic-cont">
                                <div class="form_radio_item">
                                    <input type="radio" name="sellerType" id="Individual" value="Individual Seller">
                                    <label for="Individual" class="form_radio_item_label">
                                        <div class="form_radio_item_icon">
                                            <span class="radio_icon">
                                                <ion-icon name="people"></ion-icon>
                                            </span>
                                        </div>
                                        <div class="form_radio_item_details">
                                            <span class="radio_desc">Individual Seller</span>
                                        </div>
                                    </label>
                                </div>
                                <div class="form_radio_item">
                                    <input type="radio" name="sellerType" id="Corporate" value="Corporate Seller">
                                    <label for="Corporate" class="form_radio_item_label">
                                        <div class="form_radio_item_icon">
                                            <span class="radio_icon">
                                                <ion-icon name="business"></ion-icon>
                                            </span>
                                        </div>
                                        <div class="form_radio_item_details">
                                            <span class="radio_desc">Corporate Seller</span>
                                        </div>
                                    </label>
                                </div><br>
                                <span id="validatorText"></span>
                            </div>
                        </div>
                </div>

                <div class="tab detail-panel businessAbout">
                        <div class="panel-body ">
                            <div class="static-cont">
                                <p class="title">About your business</p>
                                <p class="subText">Details about your business name and description.</p>
                            </div>
                            <div class="dynamic-cont">
                                <div class="company-name">
                                    <p class="subText business">Business name</p>
                                    <input type="text" name='businessName' id="inputBusinessName" placeholder="My Dream Store">
                                </div>
                                <div class="company-desc">
                                    <p class="subText business">Business description</p>
                                    <textarea name='businessDesc' id="inputBusinessDesc" rows="5" cols="56"></textarea>
                                </div>
                            </div>
                        </div>
                </div>

                <div class="tab detail-panel businessRequirement">
                        <div class="panel-body">
                            <div class="static-cont">
                                <p class="title">Business documents</p>
                                <p class="subText">Submit the required documents.</p>
                            </div>
                            <div class="dynamic-cont">
                                <div class="company-name">
                                    <p class="subText business">Personal photo (ID-type)</p>
                                    <input id="inputPersonalId" name='filePersonalID' type="file" class="filepond">
                                </div>
                                <div class="company-desc">
                                    <p class="subText business">Proof of citizenship (valid ID with Filipino citizenship)</p> 
                                    <input id="inputCitizenshipId" name='fileCitizenID' type="file" class="filepond">
                                </div>
                            </div>
                        </div>
                </div>
                    
                <div class="tab detail-panel personal-info">
                        <div class="panel-body">
                            <div class="static-cont">
                                <p class="title">A bit about u</p>
                                <p class="subText">Share some personal information about you.</p>
                            </div>
                            <div class="dynamic-cont">
                                <div class="seller-name">
                                    <div class="first">
                                        <p class="subText">First name</p>
                                        <input id="inputPersonalFN" name='personalFName' type="text" placeholder="John Doe">
                                    </div>
                                    <div class="second">
                                        <p class="subText">Last name</p>
                                        <input id="inputPersonalLN" name='personalLName' type="text" placeholder="Graze">
                                    </div>
                                </div>
                                <div class="seller-contact">
                                    <p class="subText">Phone</p>
                                    <div class="input-group mb-3">
                                        <span class="input-group-text default-code">+63</span>
                                        <input id="inputPersonalContact" name='personalContact' type="text" placeholder="9123456789">
                                    </div>
                                </div>
                                <div class="seller-others">
                                    <div class="birth">
                                        <p class="subText">Birth date</p>
                                        <input id="inputPersonalBday" name='personalBDay' type="date">
                                    </div>
                                    <div class="gender">
                                        <p class="subText">Gender</p>
                                        <select name="gender" id="gender inputPersonalGender">
                                            <option selected disabled value="">Select a gender...</option>
                                            <option value="Male">Male</option>
                                            <option value="Female">Female</option>
                                            <option value="Other">Other</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>

                <div class="tab detail-panel mailing-info">
                        <div class="panel-body">
                            <div class="static-cont">
                                    <p class="title">Mailing Address</p>
                                    <p class="subText">Enter your communication address.</p>
                            </div>
                            <div class="dynamic-cont">
                                <div class="seller-address">
                                    <div class="first">
                                        <p class="subText">State</p>
                                        <select name="state" id="state inputAddressState">
                                            <option selected disabled value="">Select a state...</option>
                                            <option value="Laguna">Laguna</option>
                                        </select>
                                    </div>
                                    <div class="second">
                                        <p class="subText">City</p>
                                        <select name="city" id="city inputAddressCity">
                                            <option selected disabled value="">Select a city...</option>
                                            <option value="Cabuyao">Cabuyao</option>
                                            <option value="Sta Rosa">Sta Rosa</option>
                                            <option value="Calamba">Calamba</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="street-address">
                                    <p class="subText">Street address</p>
                                    <input type="text" name='mailingStreet' id="inputAddressStreet">
                                </div>
                                <div class="zip-address">
                                    <p class="subText">ZIP Code</p>
                                    <input type="text" name='mailingZIP' id="inputAddressZIP">
                                </div>
                            </div>
                        </div>
                </div>

                <div class="tab detail-panel create-account">
                        <div class="panel-body">
                            <div class="static-cont">
                                <p class="title">Create your password</p>
                                <p class="subText">Sign up with your email address so that your information is not lost and safe with us.</p>
                                <div class="alert alert-info" role="alert">
                                    <div class="alert-icon">
                                        <ion-icon name="alert-circle-outline"></ion-icon>
                                    </div>
                                    Use 8 or more characters with a mix of letters, numbers & symbols.
                                </div>
                            </div>
                            <div class="dynamic-cont">
                                <div class="email-cont">
                                    <p class="subText business">Email</p>
                                    <input type="text" name='createSellerEmail' placeholder="demo@sample.com" id="createSellerEmail">
                                    <p class="subText business">Password</p>
                                    <input type="password" name='createSellerPassword' id="inputCreatePassword">
                                    <i class="far fa-eye" id='togglePassword'></i>
                                </div>
                                <span class="passwordValidation" id='checkPassword'></span>
                                <div class="seller-quote">
                                    <p class="quote">
                                        Our greatest weakness lies in giving up. The most certain way to succeed is always to try just one more time <em>-Thomas Edison</em>
                                    </p>
                                </div>    
                            </div>
                        </div>
                </div>

                <div class="panel-footer">
                    <button type="button" class="footer btnPrev" id="prevBtn" >Previous</button>
                    <button type="button" class="footer btnNext" id="nextBtn">Next</button>
                </div>
            </form>

        </div>
    </div>

    <div class="seller-auth-nav">
        <div class="nav-cont">
            <a href="/">
                <img src="/public/assets/images/mainLogo.png" alt="Logo">
            </a>
        </div>
        <div class="nav-cont switch active">
                <ion-icon name="shield-checkmark-outline"></ion-icon>
                <p class="linkTitle">Sign In</p>
        </div>
        <div class="nav-cont switch">
                <ion-icon class="person-add" name="person-add-outline"></ion-icon>
                <p class="linkTitle">Sign Up</p>
        </div>
    </div>
    
</div>
<%- include('../utils/verifyEmail') %>