<link rel="stylesheet" href="/public/assets/css/seller/liveSelling.css">
<script defer src="/public/script/seller/live/general.js" type="module"></script>
<script defer src="/public/script/seller/live/groupChat.js" type="module"></script>
<script defer src="/public/script/seller/live/sessionProducts.js" type="module"></script>

<div class="main-container">
    <div class="header-container">
        <div class="left">
            <p class="lbl-title">Live Selling Seller</p>
            <p id="uid" hidden>
                <%- uid %>
            </p>
        </div>
        <div class="countdown">
            <p class="sub-text">Time Remaining</p>
            <p class="timer" id="lblTimer">00:00:00</p>
        </div>
        <div class="right">
            <button class="exit-live-selling" id="btnExitLive" data-toggle="modal" data-target="#exitLiveModal">End Session</button>
        </div>
    </div>
    <div class="body-container">
        <div class="product-selection">
            <p class="lbl-title">Product Selection</p>
            <div class="product-list"></div>
        </div>
        <div class="live-selling">
            <div class="video" id="video-container">
                <p class="label">Live</p>
                <div class="viewer-count">
                    <ion-icon name="person-sharp"></ion-icon>
                    <p class="views" id="lblViewCount">0</p>
                </div>
                <!-- Video will be generated here -->
                <!-- <video src=""></video> -->
            </div>
            <div class="product"></div>
        </div>
        <div class="chat-box">
            <div class="chat">
                <div class="conversation"></div>
                <div class="input-form">
                    <input type="text" id="txtInputChat" placeholder="Aa">
                    <button id="btnInputChat">
                        <ion-icon name="paper-plane-outline"></ion-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exitLiveModal" tabindex="-1" aria-labelledby="exitLiveLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <ion-icon name="warning"></ion-icon>
                <p class="modal-title">Are you sure?</p>
                <p class="modal-label">You are about to end this live stream session.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button type="button" class="btn btnExit btn-primary" id="btnExit">Yes</button>
            </div>
        </div>
    </div>
</div>