<link rel="stylesheet" href="/public/assets/css/seller/manageTransactions.css">
<script defer src="https://unpkg.com/jspdf-invoice-template@1.4.0/dist/index.js"></script>
<script defer src="/public/script/seller/transactions/general.js" type="text/javascript"></script>
<script defer src="/public/script/seller/transactions/analytics.js" type="module"></script>
<script defer src="/public/script/seller/transactions/transactionTable.js" type="module"></script>
<script defer src="/public/script/seller/transactions/panels.js" type="module"></script>
<script defer src="/public/script/seller/transactions/recentTransactions.js" type="module"></script>

<div class="transaction-header">
    <p id="uid" hidden>
        <%- uid %>
    </p>
    <h5>Here's your transaction overview by today.</h5>
</div>

<div class="transaction-container">

    <div class="transaction-main">

        <div class="mini-panels">
            <div class="income-cont">
                <div class="income-text">
                    <p>Today's Profit</p>
                    <i>
                        <ion-icon name="cash-outline"></ion-icon>
                    </i>
                </div>
                <p class="income" id="todayProfit">₱0</p>
            </div>

            <div class="income-cont profit">
                <div class="income-text">
                    <p>Last Week's Profit</p>
                    <i>
                        <ion-icon name="rocket-outline"></ion-icon>
                    </i>
                </div>
                <p class="income" id="lastWeek">₱0</p>
            </div>

            <div class="income-cont revenue">
                <div class="income-text">
                    <p>Total Revenue</p>
                    <i>
                        <ion-icon name="stats-chart-outline"></ion-icon>
                    </i>
                </div>
                <p class="income" id="totalRevenue">₱0</p>
            </div>
        </div>

        <div class="tabs">
            <p class="tab-link active">Analytics</p>
            <p class="tab-link">Transactions</p>
        </div>

        <div class="transaction-cont">
            <div id="analytics" class="panel" style="display:block">
                <div class="chart-options">
                    <p id="lblChartOption" class="chart-option-label">Weekly Sales</p>
                    <select name="" id="selectChartOption" class="select-chart-options">
                        <option value="weekly" selected>Weekly Sales</option>
                        <option value="monthly">Monthly Sales</option>
                    </select>
                </div>
                
                <div class="transaction-chart">
                    <canvas id="transaction-chart"></canvas>
                </div>
            </div>

            <div id="transactions" class="panel" style="display:none">
                <p>Transactions History</p>
                <div class="transaction-table">
                    <div class="table-data">
                        <table id="tableData-transact" class="table table-borderless tbl-history">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Customer</th>
                                    <th>Payment</th>
                                    <th>Amount</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>

            <div id="finance" class="panel" style="display:none">
                <p>Finance</p>
                <div class="transaction-chart">
                </div>
            </div>
        </div>

    </div>

    <div class="transaction-side">
        <div class="recent-cont">
            <div class="more-cont">
                <div>
                    <p>Recent Transactions</p>
                </div>
                <div>
                    <p class="show-all tab-link">Show All</p>
                </div>
            </div>
            <div class="list-cont"></div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="staticBackdrop" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content invoice-content"></div>
    </div>
</div>