<link rel="stylesheet" href="/public/assets/css/seller/manageProducts.css">
<script defer src="/public/script/seller/products/addProduct.js" type="module"></script>
<script defer src="/public/script/seller/products/displayProducts.js" type="module"></script>

<div class="productMainCont">
    <p id="uid" hidden><%- uid %></p>

    <!-- SECTION: Display Products -->
    <div class="displayProductSection">
        <div class="alert alert-success" role="alert">
            Item successfully deleted
        </div>

        <div class="products-header">
            <p class="sectionTitle">Products</p>
            <div class="prod-header-divider"></div>
            <p class="totalProd">Total 0</p>
        </div>

        <div class="sideNav">
            <button class="btn btn-primary btn-sideNav" id="slideToAddProduct" type="button">+</button>
        </div>
        <div class="products-body">

            <p class="noItems">You Have No Products 🙁</p>

            <div id="loading-container">
                <div class="skeleton-row">
                    <div class="sampleCard loading">
                        <div class="image"></div>
                        <div class="content">
                            <h4></h4>
                            <div class="description"></div>
                        </div>
                    </div>
                    <div class="sampleCard loading">
                        <div class="image"></div>
                        <div class="content">
                            <h4></h4>
                            <div class="description"></div>
                        </div>
                    </div>
                    <div class="sampleCard loading">
                        <div class="image"></div>
                        <div class="content">
                            <h4></h4>
                            <div class="description"></div>
                        </div>
                    </div>
                    <div class="sampleCard loading">
                        <div class="image"></div>
                        <div class="content">
                            <h4></h4>
                            <div class="description"></div>
                        </div>
                    </div>
                </div>
                <div class="skeleton-row">
                    <div class="sampleCard loading">
                        <div class="image"></div>
                        <div class="content">
                            <h4></h4>
                            <div class="description"></div>
                        </div>
                    </div>
                    <div class="sampleCard loading">
                        <div class="image"></div>
                        <div class="content">
                            <h4></h4>
                            <div class="description"></div>
                        </div>
                    </div>
                    <div class="sampleCard loading">
                        <div class="image"></div>
                        <div class="content">
                            <h4></h4>
                            <div class="description"></div>
                        </div>
                    </div>
                    <div class="sampleCard loading">
                        <div class="image"></div>
                        <div class="content">
                            <h4></h4>
                            <div class="description"></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- SECTION: Add Product -->
    <div class="addProductSection" id="addProduct_slider">
        <div class="mainContainer" id="slideCont">

            <div class="left">
                <div class="product-header">
                    <button class="btnGoBack" id="closeAddProduct_slider">
                        <ion-icon name="arrow-back-outline"></ion-icon>
                    </button>
                    <p class="header-btnLabel">Back to Products</p>
                </div>

                <div class="product-body">
                    <div class="addProductImg">
                        <input type="file" class="filepond" id="productsImg" name="filepondProducts" multiple
                            data-max-file-size="3MB" data-max-files="4" />
                    </div>

                    <div class="displayDetails">
                        <div class="input-field">
                            <input type="text" id="txtProductName" placeholder="Product name">
                        </div>
                        <div class="price-field">
                            <div class="input-group-prepend">
                                <span class="input-group-text defaultCurrency">₱</span>
                            </div>
                            <input type="text" id="txtProductPrice" placeholder="Enter Amount...">
                        </div>
                        <div class="desc-field">
                            <textarea id="txtProductDesc" rows="5" cols="48"
                                placeholder="Product description"></textarea>
                        </div>
                        <div class="color-field">
                            <p class="fieldLabel">Available Colors</p>
                            <div class="color-cont">
                                <div class="selected-color"></div>
                                <div class="selected-color"></div>
                                <div class="selected-color"></div>
                                <div class="selected-color"></div>
                                <div class="selected-color"></div>
                            </div>
                        </div>
                        <div class="type-field">
                            <p class="fieldLabel">Product Type</p>
                            <div class="type-cont">
                                <div class="selected-type"></div>
                                <div class="selected-type"></div>
                                <div class="selected-type"></div>
                            </div>
                        </div>
                        <div class="size-field">
                            <p class="fieldLabel">Available Sizes</p>
                            <div class="size-cont">
                                <div class="selected-size"></div>
                                <div class="selected-size"></div>
                                <div class="selected-size"></div>
                                <div class="selected-size"></div>
                                <div class="selected-size"></div>
                                <div class="selected-size"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="product-footer">
                    <button class="btnPreviewProduct statusDisabled" id="productPreview" data-toggle="modal"
                        data-target="#previewModal" disabled>Preview</button>
                </div>
            </div>

            <div class="right">
                <div class="editDetails">
                    <div class="size-qty-colors_cont">
                        <div class="variety-header">
                            <p class="editFieldLabel">Product Varieties</p>
                            <button class="btnAddVariety" id="addSize">
                                <ion-icon name="add-outline"></ion-icon>
                            </button>
                            <div class="addSize-wrapper">
                                <div class="header">
                                    <button class="close">
                                        &times;
                                    </button>
                                </div>
                                <div class="quantity">
                                    <span class="mainText">How many quantity?</span>
                                    <div class="availableQty">
                                        <div class="range">
                                            <input id="slide-range" type="range" min="0" max="100" step="1" value="50">
                                        </div>
                                        <div class="qty-input">
                                            <div class="input-group mb-3">
                                                <input id="input-quantity" value="20">
                                                <span class="input-group-text pieces">Pieces</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="size-field">
                                    <span class="mainText">Select a size:</span>
                                    <div class="availableSize-cont">
                                        <button class="sizes" value='XS'>XS</button>
                                        <button class="sizes" value='S'>S</button>
                                        <button class="sizes" value='M'>M</button>
                                        <button class="sizes" value='L'>L</button>
                                        <button class="sizes" value='XL'>XL</button>
                                        <button class="sizes" value='XXL'>XXL</button>
                                    </div>
                                </div>
                                <div class="color-field">
                                    <span class="mainText">Select a color:</span>
                                    <div class="availableColors-cont">
                                        <div class="add-color"></div>
                                        <div class="add-color"></div>
                                        <div class="add-color"></div>
                                        <div class="add-color"></div>
                                        <div class="add-color"></div>
                                    </div>
                                    <input type="color" id="color-picker" />
                                </div>
                                <div class="footer">
                                    <button class="submitSizesAndQty">ADD</button>
                                </div>
                            </div>
                        </div>
                        <div class="sizesQty-cont">
                            <div class="sizesQty">
                                <div class="add-size">
                                    <span class="size"></span>
                                </div>
                                <div class="add-color"></div>
                                <div class="add-color"></div>
                                <div class="add-color"></div>
                                <div class="add-color"></div>
                                <div class="add-color"></div>
                            </div>
                            <div class="sizesQty">
                                <div class="add-size">
                                    <span class="size"></span>
                                </div>
                                <div class="add-color"></div>
                                <div class="add-color"></div>
                                <div class="add-color"></div>
                                <div class="add-color"></div>
                                <div class="add-color"></div>
                            </div>
                            <div class="sizesQty">
                                <div class="add-size">
                                    <span class="size"></span>
                                </div>
                                <div class="add-color"></div>
                                <div class="add-color"></div>
                                <div class="add-color"></div>
                                <div class="add-color"></div>
                                <div class="add-color"></div>
                            </div>
                            <div class="sizesQty">
                                <div class="add-size">
                                    <span class="size"></span>
                                </div>
                                <div class="add-color"></div>
                                <div class="add-color"></div>
                                <div class="add-color"></div>
                                <div class="add-color"></div>
                                <div class="add-color"></div>
                            </div>
                            <div class="sizesQty">
                                <div class="add-size">
                                    <span class="size"></span>
                                </div>
                                <div class="add-color"></div>
                                <div class="add-color"></div>
                                <div class="add-color"></div>
                                <div class="add-color"></div>
                                <div class="add-color"></div>
                            </div>
                            <div class="sizesQty">
                                <div class="add-size">
                                    <span class="size"></span>
                                </div>
                                <div class="add-color"></div>
                                <div class="add-color"></div>
                                <div class="add-color"></div>
                                <div class="add-color"></div>
                                <div class="add-color"></div>
                            </div>
                        </div>
                    </div>
                    <div class="productType_cont">
                        <p class="editFieldLabel">Product Type</p>
                        <div class="prodType-cont">
                            <div class="type-cont">
                                <div class="type">
                                    <ion-icon class="icon-trending" name="flash"></ion-icon>
                                </div>
                                <p class="typeLabel">Trending</p>
                            </div>
                            <div class="type-cont">
                                <div class="type">
                                    <ion-icon class="icon-arrival" name="heart"></ion-icon>
                                </div>
                                <p class="typeLabel">New Arrival</p>
                            </div>
                            <div class="type-cont">
                                <div class="type">
                                    <ion-icon class="icon-sale" name="analytics"></ion-icon>
                                </div>
                                <p class="typeLabel">On Sale</p>
                            </div>
                        </div>
                    </div>
                    <div class="footer">
                        <button class="editDone">Done</button>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>

<!-- SECTION: Modal for viewing single product -->
<div class="modal fade viewItemModal" tabindex="-1" id="viewItemModal">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title item-title"></h5>
            </div>
            <div class="modal-body item-body">
                <div class="spinner-border text-primary modal-loader" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<!-- SECTION: Modal for deleting single product -->
<div class="modal fade deleteItemModal" tabindex="-1" id="deleteItemModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body delete-item-body">
                <ion-icon name="close-circle-outline"></ion-icon>
                <p class="delete-title">Are your sure?</p>
                <p class="delete-subTitle">Do you really want to delete this product? This process cannot be undone.</p>
            </div>
            <div class="modal-footer delete-item-footer">
                <button type="button" class="btn-cancel" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn-delete" id="btnDeleteItem">Delete</button>
            </div>
        </div>
    </div>
</div>


<!-- SECTION: Modal for previewing products -->
<div class="modal fade previewModal" id="previewModal" data-backdrop="static" data-keyboard="false" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Product Preview</h5>
                <button type="button" class="btnSavePreview">Save</button>
            </div>
            <div class="modal-body preview-body">
                <div class="prodImg-cont"></div>
                <div class="prodDetail-cont">
                    <div class="details">
                        <div class="prodName-field">
                            <p class="prodName"></p>
                        </div>
                        <div class="prodPrice-field">
                            <div class="input-group-prepend">
                                <span class="input-group-text defaultCurrency">₱</span>
                            </div>
                            <p class="prodPrice"></p>
                        </div>
                        <div class="prodDesc-field">
                            <p class="prodDesc"></p>
                        </div>
                    </div>
                    <div class="varieties">
                        <div class="prodQtyAndType-field"></div>
                        <div class="prodOptions-field">
                            <div class="detailsOpt active">
                                <p class="optionTitle">Details</p>
                            </div>
                            <div class="detailsOpt">
                                <p class="optionTitle">Reviews</p>
                            </div>
                        </div>
                        <div class="prodColors-field">
                            <p class="fieldTitle">Colors</p>
                            <div class="colors-cont">
                                <div class="color-cont"></div>
                                <div class="color-cont"></div>
                                <div class="color-cont"></div>
                                <div class="color-cont"></div>
                                <div class="color-cont"></div>
                            </div>
                        </div>
                        <div class="prodSize-field">
                            <p class="fieldTitle">
                                Sizes
                            </p>
                            <div class="sizeFieldCont"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btnExitPreview" id="closeProductPreview" data-dismiss="modal">
                    <ion-icon name="arrow-back"></ion-icon>
                    <p class="btnName-footer">Back to Products</p>
                </button>

            </div>
        </div>
    </div>
</div>