<div class="navigation-cont" style="width: 100%;height: auto;"><button class="btn btn-primary btnNav" type="button"></button>
    <p class="p-sellercenter">Seller Center</p><button class="btn btn-primary btnProfile" type="button"></button><button class="btn btn-primary btnNotif" type="button"></button>
</div>
<div class="dashboard-header">
    <div class="welcome-cont">
        <p class="p-welcome">Welcome,</p>
        <p class="p-userName">MarcoSardido</p>
        <p class="p1">Are we all set to go live?</p><button class="btn btn-primary btnLive" type="button">Start Live Sell</button>
    </div>
    <div class="recent-live-graph">
        <p class="p2">Recent Live Summary</p>
    </div>
</div>
<div class="dashboard-body">
    <div class="dashboard-item"><img class="imgIcon" src="/public/assets/images/seller/dashboard/items-to-be-sold.svg">
        <p class="p3"><strong>Items to be Sold</strong></p>
        <h2 class="heading2 toBeSold">7</h2>
    </div>
    <div class="dashboard-item"><img class="imgIcon" src="/public/assets/images/seller/dashboard/weekly-sales.svg">
        <p class="p3"><strong>Weekly Revenue</strong></p>
        <h2 class="heading2 weeklyRevenue">$41.53</h2>
    </div>
    <div class="dashboard-item"><img class="imgIcon" src="/public/assets/images/seller/dashboard/total-sales.svg">
        <p class="p3"><strong>Total Revenue</strong></p>
        <h2 class="heading2 totalRevenue">$162.12</h2>
    </div>
    <div class="dashboard-item report-history">
        <p class="p4"><strong>Report History</strong></p><a class="linkViewAll" href="#">View all</a>
        <div class="userHistory">
            <div class="reportHistoryUser"><button class="btn btn-primary btnReportHistory" type="button"></button>
                <p class="p5 historyName">Johnley Jara</p>
                <p class="p5 historyDate">June 01, 2020</p>
                <p class="p5 historyTime">09:32 AM</p>
                <p class="p6 historyType">Product</p><button class="btn btn-primary btnNext" type="button"></button>
            </div>
            <div class="reportHistoryUser"><button class="btn btn-primary btnReportHistory" type="button"></button>
                <p class="p5 historyName">Manaloto Pepito</p>
                <p class="p5 historyDate">June 03, 2021</p>
                <p class="p5 historyTime">08:59 PM</p>
                <p class="p6 historyType">Service</p><button class="btn btn-primary btnNext" type="button"></button>
            </div>
            <div class="reportHistoryUser"><button class="btn btn-primary btnReportHistory" type="button"></button>
                <p class="p5 historyName">Basilio Keith</p>
                <p class="p5 historyDate">June 05, 2020</p>
                <p class="p5 historyTime">12:48 PM</p>
                <p class="p6 historyType">Transaction</p><button class="btn btn-primary btnNext" type="button"></button>
            </div>
            <div class="reportHistoryUser"><button class="btn btn-primary btnReportHistory" type="button"></button>
                <p class="p5 historyName">Brilliantes Eriel</p>
                <p class="p5 historyDate">June 06, 2020</p>
                <p class="p5 historyTime">03:19 PM</p>
                <p class="p6 historyType">Service</p><button class="btn btn-primary btnNext" type="button"></button>
            </div>
        </div>
    </div>
    <div class="dashboard-item"><img class="imgIcon" src="/public/assets/images/seller/dashboard/items-sold.svg">
        <p class="p3"><strong>Items Sold</strong></p>
        <h2 class="heading2 itemsSold">$162.12</h2>
    </div>
    <div class="dashboard-item"><img class="imgIcon" src="/public/assets/images/seller/dashboard/total-customers.svg">
        <p class="p3"><strong>Total Customers</strong></p>
        <h2 class="heading2 itemsSold">104</h2>
    </div>
    <div class="dashboard-item"><img class="imgIcon" src="/public/assets/images/seller/dashboard/star.svg">
        <p class="p3"><strong>Customer Rating</strong></p>
        <h2 class="heading2 itemsSold">4.2/5</h2>
    </div>
</div>