<div class="upper-container">
    <div class="cont"></div>
    <div class="cont"></div>
    <div class="cont"></div>
</div>
<div class="lower-container">
    <div class="table-container">
        <div class="btnAddProduct">
            <i><ion-icon name="add-outline"></ion-icon></i>
            <div class="btnText">Add Product</div>
        </div>
        <table class="table table-hover">
            <thead class="custom-thead">
              <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
              </tr>
            </tbody>
          </table>
    </div>
</div>