<!-- ======= Header ======= -->
<header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">
        <a href="/" class="logo me-auto"><img src="/public/assets/images/mainLogo.png" alt="brand name" class="img-fluid">
            City Sales <span id="cloud">Cloud</span></a>


        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
                <li><a class="nav-link" href="#">About</a></li>
                <li><a class="nav-link" href="/sellercenter">Be Our Partner</a></li>
                <li><a class="getstarted" href="/customercenter">Sign In</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

    </div>
</header> <!-- End Header -->

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">

    <div class="container">
        <div class="row">
            <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-2"
                data-aos="fade-up" data-aos-delay="200">
                <p>Welcome to City Sales Cloud</p>
                <h1>Online Live Selling Platform in the Philippines</h1>
                <p>City Sales Cloud is the new way to shop, put your business in front of thousands of potential
                    customers</p>
                <div class="d-flex justify-content-center justify-content-lg-start">
                    <a href="#" class="btn-get-started scrollto">Shop With Us</a>
                </div>
            </div>
            <div class="col-lg-6 order-1 order-lg-1 hero-img" data-aos="zoom-in" data-aos-delay="200">
                <img src="/public/assets/images/landingPage/section1/App Features.svg" class="img-fluid animated" alt="hero image">
            </div>
        </div>
    </div>

</section><!-- End Hero -->

<main id="main">

    <!-- ======= Partners Section ======= -->
    <section id="clients" class="clients section-bg">
        <div class="container">

            <div class="row" data-aos="zoom-in">

                <div class="col-lg-3 col-md-4 col-6 d-flex align-items-center justify-content-center">
                    <img src="/public/assets/images/landingPage/section2/partnerApple.svg" class="img-fluid" alt="Apple">
                </div>

                <div class="col-lg-3 col-md-4 col-6 d-flex align-items-center justify-content-center">
                    <img src="/public/assets/images/landingPage/section2/partnerPaypal.png" class="img-fluid" alt="Paypal">
                </div>

                <div class="col-lg-3 col-md-4 col-6 d-flex align-items-center justify-content-center">
                    <img src="/public/assets/images/landingPage/section2/partnerVisa.svg" class="img-fluid" alt="Visa">
                </div>

                <div class="col-lg-3 col-md-4 col-6 d-flex align-items-center justify-content-center">
                    <img src="/public/assets/images/landingPage/section2/partnerAmazon.svg" class="img-fluid" alt="Amazon">
                </div>

            </div>
        </div>
    </section><!-- End Partners Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>The best business solution for you</h2>
                <p>One of the strengths of online selling is that there are no limitations when it comes to who buys
                    your product.</p>
            </div>

            <div class="row">
                <div class="col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-timer"></i></div>
                        <h4>Selling Optimization</h4>
                        <p>City Sales Cloud is the dedicated shopping website just for you.</p>
                    </div>
                </div>

                <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in"
                    data-aos-delay="200">
                    <div class="icon-box icon-box-two">
                        <div class="icon"><i class="bx bx-broadcast"></i></div>
                        <h4>Wider Audience</h4>
                        <p>City Sales Cloud is the dedicated shopping website just for you.</p>
                    </div>
                </div>

                <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in"
                    data-aos-delay="300">
                    <div class="icon-box icon-box-three">
                        <div class="icon"><i class="bx bx-cube-alt"></i></div>
                        <h4>Creative Solutions</h4>
                        <p>City Sales Cloud is the dedicated shopping website just for you.</p>
                    </div>
                </div>

                <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in"
                    data-aos-delay="400">
                    <div class="icon-box icon-box-four">
                        <div class="icon"><i class="bx bx-trending-up"></i></div>
                        <h4>Daily Analysis</h4>
                        <p>City Sales Cloud is the dedicated shopping website just for you.</p>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Services Section -->

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us section-bg">
        <div class="container-fluid" data-aos="fade-up">

            <div class="row">

                <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch  order-2 order-lg-2">

                    <div class="content">
                        <h3>Insight and resources to help learn faster</h3>
                        <p>
                            One of the strengths of online selling is that there are no limitations when it comes to who
                            buys your product.
                        </p>
                    </div>
                </div>

                <div class="col-lg-5 align-items-stretch order-1 order-lg-1 img"
                    style='background-image: url("/public/assets/images/landingPage/section4/Shape Component.svg");'
                    data-aos="fade-right" data-aos-delay="150">&nbsp;</div>
            </div>

        </div>
    </section><!-- End Why Us Section -->

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
        <div class="container-fluid" data-aos="fade-up">

            <div class="row">

                <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch  order-2 order-lg-1">

                    <div class="content">
                        <h3>Analysis of business opportunities</h3>
                        <p>
                            One of the strengths of online selling is that there are no limitations when it comes to who
                            buys your product.
                        </p>
                    </div>
                </div>

                <div class="col-lg-5 align-items-stretch order-1 order-lg-2 img"
                    style='background-image: url("/public/assets/images/landingPage/section4/Shape Component2.svg");'
                    data-aos="fade-left" data-aos-delay="150">&nbsp;</div>
            </div>

        </div>
    </section><!-- End Why Us Section -->


    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
        <div class="container" data-aos="zoom-in">

            <div class="row">
                <div class="col-lg-9 text-center text-lg-left">
                    <h3>What Our Customers Say About Us</h3><br>
                    <p>"City Sales Cloud has been extremely helpful in providing us the best, cost-effective services
                        for our store. We joined them owing to their reputation in the industry. These guys lived up to
                        their name."</p>
                    <h5 style="color: #fff">- Sav Gallero</h5>
                </div>
            </div>

        </div>
    </section><!-- End Cta Section -->



    <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Choose your plan</h2>
                <p>Here are the best plans that we offer. Get yours now.</p>
            </div>

            <div class="row">

                <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="100">
                    <div class="box featured">
                        <img src="/public/assets/images/landingPage/section5/City_SVG.svg" class="img-fluid" width="200">
                        <h3>Business Plan</h3>
                        <h4><sup>₱</sup>1,000<span>per month</span></h4>
                        <ul>
                            <li><i class="bx bx-check"></i> You will be charged monthly</li>
                        </ul>
                        <a href="#" class="buy-btn">Get Started</a>
                    </div>
                </div>

                <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="200">
                    <div class="box">
                        <img src="/public/assets/images/landingPage/section5/Startup_SVG.svg" width="140" class="img-fluid">
                        <h3>Individual Plan</h3>
                        <h4><sup>₱</sup>500<span>per product selling</span></h4>
                        <ul>
                            <li><i class="bx bx-check"></i> You will be charged every time you sell</li>
                        </ul>
                        <a href="#" class="buy-btn">Get Started</a>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Pricing Section -->

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer">

    <div class="footer-newsletter">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <h4>City Sales Cloud</h4>
                    <p>One of the strengths of online selling is that there are no limitations when it comes to who buys
                        your product.</p>
                    <a href="#" class="buy-btn">Join Us</a>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-4 col-md-6 footer-contact">
                    <img src="/public/assets/images/mainLogo.png" class="img-fluid">
                    <h3>City Sales Cloud</h3>
                    <p>
                        <strong>Phone:</strong> 343-244-9879<br>
                        <strong>Email:</strong> citysalescloudservice@gmail.com<br>
                    </p>
                </div>

                <div class="col-lg-2 col-md-6 footer-links">
                    <h4>Quick Links</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">How It Works</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Guarantee</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Security</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Report Bug</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Pricing</a></li>
                    </ul>
                </div>

                <div class="col-lg-2 col-md-6 footer-links">
                    <h4>About Us</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">About CSC</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Team</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Blog</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Testimonial</a></li>
                    </ul>
                </div>

                <div class="col-lg-2 col-md-6 footer-links">
                    <h4>Support</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Dashboard</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Management</a></li>
                    </ul>
                </div>

                <div class="col-lg-2 col-md-6 footer-links">
                    <h4>Product</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Electronics</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Clothings</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Groceries</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Furnitures</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>

    <div class="container footer-bottom clearfix">
        <div class="copyright">
            &copy; 2022 <strong><span>City Sales Cloud</span></strong>. All Rights Reserved
        </div>

    </div>
</footer><!-- End Footer -->

<div id="preloader"></div>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>