<div class="contLandingPage">
    <div class="section1">
        <div class="navBar">
            <div class="navLogo">
                <img src="/public/assets/images/mainLogo.png" alt="City Sales Cloud Logo" class="logo">
                <p class="logoText">City Sales <p class="emph">Cloud</p></p>
            </div>
            <div class="navLinks">
                <a href="/sellercenter" class="navLink sellerLink">Be out partner</a>
                <a href="/customercenter" class="navLink customerLink">Login</a>
            </div>
        </div>
        <div class="contDivider">
            <div class="appFeatures">
                <img src="/public/assets/images/landingPage/section1/App Features.svg" alt="">
            </div>
            <div class="appTexts">
                <p class="topText">
                    welcome to city sales cloud.
                </p>
                <p class="middleText">
                    Online Live Selling Platform in the Philippines
                </p>
                <p class="bottomText">
                    City Sales Cloud is the new way to shop, put your business in front of thousands of potential customers.
                </p>
                <button class="startShopping">
                    shop with us
                </button>
            </div>
        </div>

        <img src="/public/assets/images/landingPage/section1/Shape Component.svg" alt="" class="shapeComponent">
    </div>

    <div class="section2">
        <div class="partnersCont">
            <img src="/public/assets/images/landingPage/section2/partnerApple.svg" alt="" class="partnerApple">
            <img src="/public/assets/images/landingPage/section2/partnerPaypal.png" alt="" class="partnerPaypal">
            <img src="/public/assets/images/landingPage/section2/partnerAmazon.svg" alt="" class="partnerAmazon">
            <img src="/public/assets/images/landingPage/section2/partnerVisa.svg" alt="" class="partnerVisa">
        </div>
    </div>

    <div class="section3">
        <div class="detail1_Col1">
            <div class="hLine"></div>
            <div class="detailCol1MainText">
                The best business solution for you
            </div>
            <div class="detailCol1SubText">
                One of the strengths of online selling is that there are no limitations when it comes to who buys your product.
            </div>
        </div>
        <div class="detail1_Col2">
            <div class="detailSubCol">
                <div class="detailLogo">
                    <img src="/public/assets/images/landingPage/section3/selling.png" alt="">
                </div>
                <div class="detailName">
                    Selling Optimization
                </div>
                <div class="detailDivider"></div>
                <div class="detailText">
                    City Sales Cloud is the dedicated shopping website just for you.
                </div>
            </div>
            <div class="detailSubCol">
                <div class="detailLogo">
                    <img src="/public/assets/images/landingPage/section3/People.png" alt="">
                </div>
                <div class="detailName">
                    Wider Audience
                </div>
                <div class="detailDivider"></div>
                <div class="detailText">
                    City Sales Cloud is the dedicated shopping website just for you.
                </div>
            </div>
            <div class="detailSubCol">
                <div class="detailLogo">
                    <img src="/public/assets/images/landingPage/section3/Settings.png" alt="">
                </div>
                <div class="detailName">
                    Creative Solutions
                </div>
                <div class="detailDivider"></div>
                <div class="detailText">
                    City Sales Cloud is the dedicated shopping website just for you.
                </div>
            </div>
            <div class="detailSubCol">
                <div class="detailLogo">
                    <img src="/public/assets/images/landingPage/section3/Stats.png" alt="">
                </div>
                <div class="detailName">
                    Daily Analysis
                </div>
                <div class="detailDivider"></div>
                <div class="detailText">
                    City Sales Cloud is the dedicated shopping website just for you.
                </div>
            </div>
        </div>
    </div>

    <div class="section4">
        <div class="mainTextCont">
            <div class="mainText">
                Insight and resources to help learn faster
            </div>
            <div class="subText">
                One of the strengths of online selling is that there are no limitations when it comes to who buys your product.
            </div>
        </div>
        <img src="/public/assets/images/landingPage/section4/Shape Component.svg" alt="" class="shapeComponent">
    </div>

    <div class="sectionP4">
        <div class="mainTextCont">
            <div class="mainText">
                Analysis of business opportunities
            </div>
            <div class="subText">
                One of the strengths of online selling is that there are no limitations when it comes to who buys your product.
            </div>
        </div>
        <img src="/public/assets/images/landingPage/section4/Shape Component2.svg" alt="" class="shapeComponent2">
    </div>

    <div class="section5">
        <div class="hLine"></div>
        <div class="mainText">
                Choose your plan
        </div>
        <div class="planCont">
            <div class="plan">
                    <div class="planLogo">
                        <img src="/public/assets/images/landingPage/section5/City_SVG.svg" alt="">
                    </div>
                    <div class="planTitle">
                        Corporate
                    </div>
                    <div class="planDesc">
                        You will be charged monthly.
                    </div>
                    <div class="planPrice">
                        ₱1,000
                    </div>
                    <a href="" class="startNow">
                        Start Now
                    </a>
            </div>
            <div class="plan">
                    <div class="planLogo">
                        <img src="/public/assets/images/landingPage/section5/Startup_SVG.svg" alt="">
                    </div>
                    <div class="planTitle">
                        Individual
                    </div>
                    <div class="planDesc">
                        You will be charged every time you sell.
                    </div>
                    <div class="planPrice">
                        ₱500
                    </div>
                    <a href="" class="startNow">
                        Start Now
                    </a>
            </div>
        </div>
    </div>

    <div class="section6">
        <div class="mainTextCont">
            <div class="topLine"></div>
            <div class="mainText">
                What our customers say about us
            </div>
            <div class="subText">
                "City Sales Cloud has been extremely helpful in providing us the best, cost-effective services for our store. We joined them owing to their reputation in the industry. These guys lived up to their name."
            </div>
            <div class="author">
                Sav Gallero
            </div>
            <div class="bottomLine"></div>
        </div>
        <img src="/public/assets/images/landingPage/section6/Testimonials.svg" alt="" class="testimonials">
        <img src="/public/assets/images/landingPage/section6/Shape Component.svg" alt="" class="shapeComponent">
    </div>

    <div class="section7">
        <div class="mainTextCont">
            <div class="mainText">
                City Sales Cloud
            </div>
            <div class="subText">
                One of the strengths of online selling is that there are no limitations when it comes to who buys your product.
            </div>
            <a href="/customercenter" class="joinUs">Join Us</a>
        </div>
        <img src="/public/assets/images/landingPage/section7/Shape Component.svg" alt="" class="shapeComponent">
    </div>

    <div class="section8">
        <div class="footerCont">
            <div class="infoCont">
                <div class="brandContact">
                    <div class="logo">
                        <img src="/public/assets/images/mainLogo.png" alt="logo">
                    </div>
                    <div class="mail">
                        citysalescloudservice@gmail.com
                    </div>
                    <div class="tele">
                        343-244-9879
                    </div>
                </div>
                <div class="footerLinks">
                    <div class="linkRow">
                        <div class="rowHeader">
                            quick links
                        </div>
                        <div class="rowBody">
                            <a href="" class="fLink">
                                how it works
                            </a>
                            <a href="" class="fLink">
                                guarantee
                            </a>
                            <a href="" class="fLink">
                                security
                            </a>
                            <a href="" class="fLink">
                                report bug
                            </a>
                            <a href="" class="fLink">
                                pricing
                            </a>
                        </div>
                    </div>
                    <div class="linkRow">
                        <div class="rowHeader">
                            about us
                        </div>
                        <div class="rowBody">
                            <a href="" class="fLink">
                                about CSC
                            </a>
                            <a href="" class="fLink">
                                team
                            </a>
                            <a href="" class="fLink">
                                blog
                            </a>
                            <a href="" class="fLink">
                                testimonial
                            </a>
                        </div>
                    </div>
                    <div class="linkRow">
                        <div class="rowHeader">
                            support
                        </div>
                        <div class="rowBody">
                            <a href="" class="fLink">
                                dashboard
                            </a>
                            <a href="" class="fLink">
                                management
                            </a>
                        </div>
                    </div>
                    <div class="linkRow">
                        <div class="rowHeader">
                            product
                        </div>
                        <div class="rowBody">
                            <a href="" class="fLink">
                                electronics
                            </a>
                            <a href="" class="fLink">
                                clothings
                            </a>
                            <a href="" class="fLink">
                                groceries
                            </a>
                            <a href="" class="fLink">
                                furniture's
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer">
                <p class="startText">
                    © 2019
                </p>
                <p class="brandText">
                    City Sales
                </p>
                <p class="brandEmph">
                    Cloud.
                </p>
                <p class="endText">
                    All right reserved
                </p>
            </div>
        </div>
    </div>
</div>