<div class="cont404">
    <div class="textSide">
        <div class="top">

            <div class="header-cont">
<div class="header-logo">
                    <img src="/public/assets/images/mainLogo.png" alt="City Sales Cloud Logo" class="logo">
                    <p class="logoText">City Sales <span class="emph">Cloud</span> <span class="path"> <%= currentPath %> </span></p>
                </div>
            </div>

            <p class="mainText">
                Lost in Cyberspace?
            </p>
            <p class="subText">
                It looks like that page doesn't exist - please check the URL and try again.
            </p>
            <a href="/" class="goBack">go back home</a>

        </div>
        <div class="bottom">
            <p class="mainText">
                Can't find what you were looking for?
            </p>
            <div class="linksCont">
                <div class="link">
                    <p class="linkText"> <a href="/customercenter">Customer SignIn Page</a> </p>
                    <ion-icon name="arrow-forward-outline"></ion-icon>
                </div>
                <div class="link">
                    <p class="linkText"> <a href="/sellercenter">Seller SignIn Page</a> </p>
                    <ion-icon name="arrow-forward-outline"></ion-icon>
                </div>
            </div>
        </div>
    </div>
    <div class="imgSide">
        <img src="/public/assets/images/page404/img_page404.png" alt="page not found">
    </div>
</div>