.report-main-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.report-header {
    padding: 0px 20px;
    padding-top: 10px;
}

.report-body {
    height: 100vh;
}

.table-data {
    margin: 0 auto;
    width: 90%;
    padding-top: 20px;
    height: 650px;
}

.tbl-history {
    width: 100% !important;
}

.tbl-history table,
.tbl-history td {
    text-align: center;
    background: #f1f1ff;
}

.tbl-history th {
    text-align: center;
}

.btn-popover {
    border: none;
    background: transparent;
    font-size: 25px;
    font-weight: 600;
    color: #2e4a83;
}

.btn-popover:hover {
    border: none;
    background: transparent;
    font-size: 25px;
    font-weight: 600;
    color: #485fed;
}

.dropdown-menu {
    min-width: auto;
}

.tbl-dropdown a {
    font-size: 13px;
    font-weight: 600;
    color: #2e4a83;
    cursor: pointer;
}

.status-success {
    background: #0fd64f;
    border-radius: 10px;
    color: #fff;
    font-size: 15px;
}

.status-pending {
    background: orange;
    border-radius: 10px;
    color: #fff;
    font-size: 15px;
}




/* 
    Modal Style
*/
.title-bar {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.title-bar .sub-title span {
    background: red;
    border-radius: 15px;
    color: white;
    padding: 2px 15px;
    margin-left: 5px;
}