body {
    padding: 30px 0;
}

ion-icon {
    pointer-events: none;
}

.auth-body {
    width: 100%;
    height: 90vh;
    padding: 20px;
}

.seller-auth-nav {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 140px;
    right: 165px;
    background: #fff;
    border: 1px solid #77777730;
    border-left: 1px solid #f1f1ff;
    width: 5rem;
    height: 440px;
}

.seller-auth-nav .nav-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    cursor: pointer;
}

.seller-auth-nav .switch.active {
    border-left: 5px solid #485fed;
}

.seller-auth-nav .nav-cont:nth-child(1) {
    height: 60%;
}

.seller-auth-nav .nav-cont:nth-child(2) {
    border-top: 1px solid #77777730;
    border-bottom: 1px solid #77777730;
}

.seller-auth-nav .nav-cont img {
    width: 60px;
    height: 70px;
}

.seller-auth-nav .nav-cont ion-icon {
    width: 30px;
    height: 25px;
    color: #485fed;
    transform: scale(1.2);
    padding-bottom: 5px;
}

.seller-auth-nav .nav-cont .person-add {
    transform: scaleX(-1);
}

.seller-auth-nav .nav-cont p {
    font-size: 14px;
    font-weight: 300;
}


.seller-signUp-cont,
.seller-signIn-cont {
    width: 70%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    border-radius: 10px;
    border: 1px solid #77777730;
}

.signUp-guide {
    width: 30%;
    background: linear-gradient(to left, #485fed, rgba(255, 44, 118, .25)), #485fed;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

/* 1st panel */

.signUp-guide .guide-start:before {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    content: ' ';
    position: absolute;
    opacity: 0.8;
    width: 314px;
    height: 616px;
    background-image: url('/public/assets/images/auth/seller/static-quote-image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.signUp-guide .guide-quote {
    position: absolute;
    width: 20.5vw;
    height: 25vh;
    bottom: 85px;
    left: 300px;
    z-index: 1;
    background: #fff;
    padding: 25px 20px;
    border-radius: 10px;
    border-bottom-right-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 5px 0px;
}

.signUp-guide .guide-quote .body {
    color: #777;
    font-size: 14px;
}

.signUp-guide .guide-quote .author {
    margin-bottom: 0;
    font-weight: 600;
    font-size: 16px;
}

.signUp-guide .guide-quote .authorWork {
    font-size: 14px;
    text-transform: uppercase;
    color: #777;
}

.signUp-guide .quote {
    position: absolute;
    padding: 5px;
    width: 3.2rem;
    height: 2.8rem;
    bottom: 248px;
    left: 280px;
    background: #485fed;
    z-index: 2;
    color: #fff;
    font-size: 23px;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.signUp-guide .guide-quote .authorWork ion-icon {
    position: absolute;
    width: 35px;
    height: 35px;
    bottom: 20px;
    right: 20px;
    color: #37c2ff;
}

/* End of 1st panel */



/* 2nd panel */

.signUp-guide .guide-sellerType {
    padding: 30px 30px;
    display: flex;
    flex-direction: column;
}

.signUp-guide .guide-sellerType .title {
    color: #fff;
    font-size: 25px;
    margin-top: 100px;
    margin-bottom: 20px;
}

.signUp-guide .guide-sellerType .subText {
    color: #fff;
    font-size: 15px;
    font-weight: 300;
    margin-bottom: 0;
}

.signUp-guide .guide-sellerType img {
    width: 15rem;
    margin-top: 100px;
    margin-left: 40px;
}

/* End of 2nd panel */

.signUp-guide .guide-progress {
    width: 100%;
    height: 100%;
    background: #fff;
    border: 1px solid #77777730;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
}

.guide-progress .progress-header {
    height: 15%;
    display: flex;
    align-items: center;
}

.guide-progress .progress-header .logo {
    width: 5rem;
    height: 5rem;
}

.guide-progress .progress-header .logoText,
.guide-progress .progress-header .emph {
    margin-top: 10px;
    font-size: 1em;
    font-weight: 600;
}

.guide-progress .progress-header .logoText {
    color: #1D6B83;
}

.guide-progress .progress-header .emph {
    padding-left: 5px;
    color: #39B7DF;
}

.guide-progress .progress-body {
    height: 55%;
}

.progress-body .progress-list {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}

.progress-body .progress {
    width: auto;
    height: 6vh;
    margin: 5px 10px;
    align-items: center;
    background: #fff;
}

.progress-body .progress .progress-title {
    font-size: 14px;
    padding-left: 15px;
    font-weight: 600;
    text-transform: uppercase;
}

.businessInfo.finished,
.personalInfo.finished {
    transition: all 0.5s ease-in-out;
}

.progress-body .progress.finished .progress-icon {
    font-size: 2.8em;
    color: #0fd64f;
}

.progress-body .progress.finished .progress-title {
    color: #b6b6b6;
}

.businessInfo.finished .progress-icon .circle,
.personalInfo.finished .progress-icon .circle {
    opacity: 0;
}

.businessInfo.finished .progress-title .progress-drop,
.personalInfo.finished .progress-title .progress-drop,
.personalInfo.pending .progress-title .progress-drop {
    margin-top: -30px;
    opacity: 0
}

.businessInfo.active,
.personalInfo.active {
    transition: height 0.5s ease-in-out;
}

.businessInfo.active .progress-title,
.businessInfo.active .progress-icon,
.personalInfo.active .progress-title,
.personalInfo.active .progress-icon {
    transition: margin-top 0.5s ease-in-out;
}

.businessInfo.active .progress-title,
.businessInfo.active .progress-icon,
.personalInfo.active .progress-title,
.personalInfo.active .progress-icon,
.personalInfo.active .progress-title,
.personalInfo.active .progress-icon {
    margin-top: -65px;
}

.businessInfo.active .progress-icon ion-icon,
.personalInfo.active .progress-icon ion-icon,
.personalInfo.pending .progress-icon ion-icon {
    display: none;
}

.businessInfo.active,
.personalInfo.active {
    height: 7rem;
}

.businessInfo.active .progress-title .progress-drop,
.personalInfo.active .progress-title .progress-drop {
    position: absolute;
    top: calc(100% + 2rem);
    pointer-events: auto;
}



.businessInfo.active .progress-title .progress-drop p:nth-child(1),
.businessInfo.active .progress-title .progress-drop p:nth-child(2),
.personalInfo.active .progress-title .progress-drop p:nth-child(1),
.personalInfo.active .progress-title .progress-drop p:nth-child(2) {
    font-weight: 500;
    text-transform: capitalize;
    font-size: 14px;
}

.businessInfo.active .progress-title .progress-drop p:nth-child(1),
.personalInfo.active .progress-title .progress-drop p:nth-child(1) {
    margin-bottom: 2rem;
}

.businessInfo.active .progress-title .progress-drop .subTopic.active,
.personalInfo.active .progress-title .progress-drop .subTopic.active {
    color: #000;
}

.businessInfo.active .progress-title .progress-drop .subTopic,
.personalInfo.active .progress-title .progress-drop .subTopic {
    color: #777;
}

.progress-body .progress.active .progress-title {
    position: relative;
    width: 100%;
    color: #485def;
}

.progress-body .progress.active .progress-icon {
    margin-left: 3px;
    border: 2px solid #485def;
    padding: 12px 8px;
    border-radius: 50px;
    font-size: 13px;
    color: #485def;
    font-weight: 600;
}

.progress-body .progress.pending .progress-title {
    color: #777;
}

.progress-body .progress.pending .progress-icon {
    margin-left: 3px;
    border: 2px solid #777;
    padding: 12px 8px;
    border-radius: 50px;
    font-size: 13px;
    color: #777;
    font-weight: 600;
}

.guide-progress .progress-footer.stepImage1 {
    height: 30%;
    background-image: url("/public/assets/images/auth/seller/about-business.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.guide-progress .progress-footer.stepImage2 {
    height: 30%;
    background-image: url("/public/assets/images/auth/seller/seller-docs.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.guide-progress .progress-footer.stepImage3 {
    height: 30%;
    margin-left: -35px;
    background-image: url("/public/assets/images/auth/seller/personal-info.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.guide-progress .progress-footer.stepImage4 {
    height: 30%;
    width: 90%;
    background-image: url("/public/assets/images/auth/seller/personal-email.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.guide-progress .progress-footer.stepImage5 {
    height: 30%;
    width: 90%;
    background-image: url("/public/assets/images/auth/seller/create.png");
    background-repeat: no-repeat;
    background-size: cover;
}


.step.active {
    display: block !important;
}

.step {
    display: none !important;
}

.tab {
    display: none;
}


/* Start of Body */

.signUp-detail {
    width: 70%;
    padding: 30px 50px;
    background: #f1f1ff;
}

/* 1st panel */

.detail-panel .panel-header,
.header-cont .header-logo {
    margin-top: -20px;
    display: flex;
    align-items: center;
}

.detail-panel .panel-header .logo,
.header-cont .header-logo .logo {
    width: 4.5rem;
    height: 5rem;
}

.detail-panel .panel-header .logoText,
.detail-panel .panel-header .emph,
.header-cont .header-logo .logoText,
.header-cont .header-logo .emph {
    text-align: center;
    margin-top: 15px;
    font-size: 1em;
    font-weight: 600;
}

.detail-panel .panel-header .logoText,
.header-cont .header-logo .logoText {
    color: #1D6B83;
}

.detail-panel .panel-header .emph,
.header-cont .header-logo .emph {
    padding-left: 5px;
    color: #39B7DF;
}

.start .panel-body {
    padding: 50px 0;
}

.start .panel-body .title {
    font-size: 28px;
    font-weight: 600;
}

.start .panel-body .subText {
    font-size: 15px;
    color: #777;
}

.start .panel-body .subText:nth-child(2) {
    margin-bottom: 3px;
}

.start .panel-body .subText:nth-child(4) {
    padding-top: 20px;
    margin-bottom: 2px;
}

.start .panel-body .emailStart {
    width: 60%;
    transition: all 0.30s ease-in-out;
    outline: none;
    padding: 10px 10px;
    border: 1px solid #e1e1e1;
    resize: none;
    border-radius: 5px;
}

.start .panel-body .emailStart:focus {
    box-shadow: 0 0 5px #485fed;
    padding: 10px 10px;
    border: 1px solid #485fed;
}

/* End of 1st panel */

.panel-header a {
    font-weight: 600;
}

.panel-header p {
    text-align: end;
    color: #777;
    font-size: 15px;
}

.detail-panel {
    padding: 30px 30px;
}

.detail-panel .panel-body {
    height: 57vh;
}

.panel-body .static-cont .title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
}

.panel-body .static-cont .subText {
    font-size: 15px;
    color: #777;
}

.panel-body .dynamic-cont {
    padding: 30px;
}

.panel-body .dynamic-cont .form_radio_item:nth-child(1) {
    margin-bottom: 10px;
}

.panel-body .dynamic-cont .form_radio_item input[type="radio"] {
    position: absolute;
    left: -9999px;
    width: 1px;
    height: 1px;
    opacity: 0;
    visibility: hidden;
}

.form_radio_item .form_radio_item_label {
    display: flex;
    align-items: center;
    height: 84px;
    width: 100%;
    padding: 20px;
    position: relative;
    background: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.form_radio_item .form_radio_item_label:before {
    content: '';
    position: absolute;
    left: 20px;
    top: 50%;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 5px solid #e7e7e7;
    transform: translateY(-50%);
    transition: 0.3s;
}

.form_radio_item .form_radio_item_label:hover {
    border-color: #485fed;
}

.form_radio_item input[type="radio"]:checked~.form_radio_item_label {
    background: #001cf90d;
    border-color: #485fed;
}

.form_radio_item input[type="radio"]:checked~.form_radio_item_label:before {
    border-color: #485fed;
}

.form_radio_item input[type="radio"]:checked~.form_radio_item_label .form_radio_item_icon {
    background: #485fed;
}

.form_radio_item input[type="radio"]:checked~.form_radio_item_label .form_radio_item_icon ion-icon {
    color: #fff;
}

.form_radio_item .form_radio_item_label .form_radio_item_icon {
    border: 1px solid #485fed;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 5px;
    margin-right: 20px;
    margin-left: 30px;
}

.form_radio_item .form_radio_item_label .form_radio_item_icon ion-icon {
    margin: 7px;
    font-size: 25px;
    color: #485fed;
}

/* 2nd Panel */

.panel-body .dynamic-cont .subText,
.panel-body .dynamic-cont .subText {
    margin-bottom: 0;
}

.panel-body .dynamic-cont input {
    margin-bottom: 20px;
}

.body-cont .form-cont input[type="text"],
.body-cont .form-cont input[type="password"],
.panel-body .dynamic-cont input[type="text"],
.panel-body .dynamic-cont input[type="password"],
.panel-body .dynamic-cont input[type="date"],
.panel-body .dynamic-cont select {
    width: 95%;
    transition: all 0.30s ease-in-out;
    outline: none;
    padding: 10px 10px;
    border: 1px solid #e1e1e1;
    resize: none;
    border-radius: 5px;
}

.body-cont .form-cont input[type="text"]:focus,
.body-cont .form-cont input[type="password"]:focus,
.panel-body .dynamic-cont input[type="text"]:focus,
.panel-body .dynamic-cont input[type="password"]:focus,
.panel-body .dynamic-cont input[type="date"]:focus,
.panel-body .dynamic-cont select:focus {
    box-shadow: 0 0 5px #485fed;
    padding: 10px 10px;
    border: 1px solid #485fed;
}

.panel-body .dynamic-cont .company-desc textarea {
    transition: all 0.30s ease-in-out;
    outline: none;
    padding: 10px 10px 0;
    border: 1px solid #e1e1e1;
    resize: none;
    border-radius: 5px;
}

.panel-body .dynamic-cont .company-desc textarea:focus {
    box-shadow: 0 0 5px #485fed;
    padding: 10px 10px 0;
    border: 1px solid #485fed;
}

.signUp-detail .panel-footer {
    display: flex;
    justify-content: space-between;
}

.signUp-detail .panel-footer .footer {
    height: 5vh;
    width: 10vw;
    border: none;
}

.signUp-detail .panel-footer .btnPrev {
    color: #777;
    background: #f1f1ff;
}

.signUp-detail .panel-footer .btnNext {
    color: #fff;
    background: #485fed;
    padding-right: 10px;
}

.signUp-detail .panel-footer .btnNext.getStarted {
    margin-top: -229px;
    margin-left: 385px;
    height: 5vh;
    width: 10vw;
    border: none;
    background: linear-gradient(to left, #485fed, rgba(255, 44, 118, .25)), #485fed;
    color: #fff;
    font-size: 13px;
    text-transform: capitalize;
    letter-spacing: 0.5px;
}

.signUp-detail .panel-footer .btnNext ion-icon {
    position: absolute;
    padding-left: 10px;
    color: #fff;
    font-size: 18px;
}

.panel-body .dynamic-cont .company-name .filepond {
    margin-bottom: 30px;
}

/* End of 2nd Panel */

/* 3nd Panel */

.detail-panel .panel-body .dynamic-cont .seller-name,
.detail-panel .panel-body .dynamic-cont .seller-others,
.detail-panel .panel-body .dynamic-cont .seller-address {
    display: flex;
}


.detail-panel .panel-body .dynamic-cont .seller-name input,
.detail-panel .panel-body .dynamic-cont .seller-address select {
    width: 230px;
}

.detail-panel .panel-body .dynamic-cont .seller-name div:nth-child(2),
.detail-panel .panel-body .dynamic-cont .seller-address div:nth-child(2) {
    padding-left: 25px;
}

.detail-panel .panel-body .dynamic-cont .seller-contact input {
    width: 300px;
}

.detail-panel .panel-body .dynamic-cont .seller-contact .default-code {
    background: #001cf90d;
    color: #485fed;
    font-weight: 600;
    height: 40px;
}

.detail-panel .panel-body .dynamic-cont .seller-others .birth {
    width: 242px;
}

.detail-panel .panel-body .dynamic-cont .seller-others .gender {
    width: 255px;
    padding-left: 16px;
}

.detail-panel .panel-body .dynamic-cont .street-address {
    margin-top: 20px;
}

.detail-panel .panel-body .dynamic-cont .zip-address {
    width: 242px;
}


/* End of 3nd Panel */



/* 4th Panel */

.dynamic-cont .email-cont i {
    position: absolute;
    right: 400px;
    bottom: 287px;
    font-size: 20px;
    cursor: pointer;
}

.detail-panel .panel-body .seller-quote .quote {
    font-size: 15px;
    color: #505050;
    width: 25rem;
    margin-top: 20px;
}

.detail-panel .panel-body .seller-quote .quote em {
    color: #485def;
}

/* End of 4th Panel */



/* Start of Seller SignIn Style */

.seller-signIn-cont .static-cont {
    width: 40%;
    background: linear-gradient(to left, #485fed, rgba(255, 44, 118, .25)), #485fed;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 70px 50px
}

.seller-signIn-cont .static-cont .vertical-line {
    position: absolute;
    top: 190px;
    left: 305px;
    background: #ffffff4f;
    width: 1px;
    height: 380px;
}

.seller-signIn-cont .static-cont .horizontal-line {
    position: absolute;
    bottom: 326px;
    left: 306px;
    background: #ffffff4f;
    width: 45px;
    height: 1px;
}

.seller-signIn-cont .static-cont .quote-logo {
    position: absolute;
    left: 277px;
    width: 3.5rem;
    height: 3.5rem;
    background: #a1d4ed;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.seller-signIn-cont .static-cont .quote-logo i {
    color: #485fed;
}

.seller-signIn-cont .static-cont .quote-title {
    margin-top: 80px;
    margin-bottom: 20px;
    font-size: 4.5em;
    color: #fff;
    font-weight: 600;
    line-height: 120%;
}

.seller-signIn-cont .static-cont .quote-detail {
    margin-bottom: 50px;
    margin-left: 70px;
    color: #ffffffc4;
    font-size: 15px;
    font-weight: 300;
}

.seller-signIn-cont .static-cont .quote-author {
    display: flex;
    align-items: center;
    margin-left: 70px;
}

.seller-signIn-cont .static-cont .quote-author img {
    width: 3rem;
    border-radius: 50%;
}

.seller-signIn-cont .static-cont .quote-author .author-detail p {
    margin-bottom: 0;
    padding-left: 10px;
}

.seller-signIn-cont .static-cont .quote-author .author-detail .author-name {
    color: #fff;
    font-size: 1em;
}

.seller-signIn-cont .static-cont .quote-author .author-detail .author-job {
    color: #ffffffc4;
    font-size: 14px;
    font-weight: 300;
}

.seller-signIn-cont .dynamic-cont {
    padding: 50px;
    width: 60%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 5px 0px;
}

.header-cont .header-logo {
    margin-bottom: 20px;
}

.header-cont .header-text .mainText {
    font-size: 2em;
    text-align: center;
    margin-bottom: 5px;
}

.dynamic-cont .header-cont .header-text,
.dynamic-cont .body-cont,
.dynamic-cont .footer-cont {
    padding: 0 35px;
}

.header-cont .header-text .subText {
    text-align: center;
    font-size: 16px;
    color: #505050;
    margin-bottom: 30px;
}

.body-cont .form-cont {
    margin-bottom: 10px;
}

.body-cont .form-cont:nth-child(2) {
    margin-bottom: 0;
}

.body-cont .form-cont label {
    margin-bottom: 0;
}

.body-cont button {
    border: none;
    width: 95%;
    height: 2.5rem;
    background: linear-gradient(to left, #485fed, rgba(255, 44, 118, .25)), #485fed;
    color: #fff;
    font-size: 15px;
    margin-top: 20px;
    border-radius: 5px;
    transition: all 0.6s;
    background-size: 200%;
}

.body-cont button:hover {
    background-position: right;
}

.body-cont a {
    margin-left: 315px;
    font-size: 13px;
}

/* End of Seller SignIn Style */




/* Password Reset Modal Style */

.reset-password-modal p {
    margin: 0;
}

.password-reset-modal .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
}

.password-reset-modal .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.password-reset-modal .content img {
    width: 60%;
    margin: 20px 0;
}

.password-reset-modal .content .main-text {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 20px;
}

.password-reset-modal .content .sub-text {
    color: #777;
    font-size: 15px;
}

.password-reset-modal .content .long-text {
    width: 80%;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 30px;
}

.password-reset-modal .content .input-reset {
    width: 90%;
}


.password-reset-modal .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.password-reset-modal .footer button {
    border: none;
    width: 95%;
    height: 2.5rem;
    background: linear-gradient(to left, #485fed, rgba(255, 44, 118, .25)), #485fed;
    color: #fff;
    font-size: 15px;
    margin-top: 20px;
    border-radius: 5px;
}

/* End of Password Reset Modal Style */




/* Input Validation Style */

.alert {
    display: flex;
    align-items: center;
    font-size: 13px;
    padding: 1px 10px;
    margin-bottom: -15px;
    pointer-events: none;
}

.alert .alert-icon {
    font-size: 25px;
    padding-right: 10px;
    margin-top: 5px;
}

.validatorTextStyle {
    pointer-events: none;
    font-weight: 600;
    font-style: italic;
    font-size: 14px;
}

.passwordValidation {
    position: absolute;
    pointer-events: none;
    font-weight: 600;
    font-size: 14px;
    font-style: italic;
    bottom: 255px;
}

.passwordValidation.valid {
    color: #00ff00;
}

.passwordValidation.invalid {
    color: #ff0000;
}

.valid .validatorTextStyle {
    color: #00ff00;
}

.invalid .validatorTextStyle {
    color: #ff0000;
}

/* End of Input Validation Style */