<aside>
    <div class="top">
        <div class="logo">
            <img src="/public/assets/images/mainLogo.png">
            <h2 style="font-size: 1.178rem">City Sales <span class="highlight">Cloud</span></h2>
        </div>
        <div class="close" id="close-btn">
            <span><ion-icon name="close-sharp" style="font-size: 2rem;"></ion-icon></span>
        </div>
    </div>
    
    <!-- NAV LINKS -->
    <div class="sidebar">
        <a href="/customercenter">
            <span><ion-icon name="radio-sharp"></ion-icon></span>
            <h3>Live streams</h3>
        </a>
        <a href="/customercenter/orders">
            <span><ion-icon name="bag-check-outline"></ion-icon></span>
            <h3>Orders</h3>
        </a>
        <a href="/customercenter/reviews">
            <span><ion-icon name="heart-outline"></ion-icon></span>
            <h3>Reviews</h3>
        </a>
        <a href="/customercenter/settings">
            <span><ion-icon name="settings-outline"></ion-icon></span>
            <h3>Settings</h3>
        </a>
        <a href="/customercenter/auth/logout">
            <span><ion-icon name="log-out-outline"></ion-icon></span>
            <h3>Logout</h3>
        </a>
    </div>
</aside>