/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  color: #444444;
}

a {
  text-decoration: none;
  color: #fff;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #fff;
  border-top-color: #6875e3;
  border-bottom-color: #7e55ae;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: linear-gradient(to left, #6875e3, #7e55ae);
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 24px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #7e55ae;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  transition: all 0.5s;
  z-index: 997;
  padding: 12px 0;
}

#header.header-scrolled,
#header.header-inner-pages {
  background: #6875e3;
  color: #fff;
}

#header.header-scrolled .logo {
  color: #fff;
}

#header.header-scrolled .logo #cloud {
  color: #fff;
}

#header .logo {
  font-size: 23px;
  margin: 0;
  padding: 0;
  color: #37517e;
  font-weight: 600;
}

#header #cloud {
  color: #6875e3;
}

#header .logo a {
  color: #fff;
}

#header .logo img {
  max-height: 55px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-size: 15px;
  font-weight: 500;
  color: #fff;
  white-space: nowrap;
  transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: #47b2e4;
}

.navbar .getstarted,
.navbar .getstarted:focus {
  padding: 8px 20px;
  margin-left: 30px;
  border-radius: 50px;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
  border-radius: 4px;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 14px;
  text-transform: none;
  font-weight: 500;
  color: #0c3c53;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
  color: #47b2e4;
}

.navbar .dropdown:hover>ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover>ul {
    left: -100%;
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #fff;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(40, 58, 90, 0.9);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  border-radius: 10px;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #37517e;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
  color: #47b2e4;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
  color: #37517e;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
  color: #47b2e4;
}

.navbar-mobile .dropdown>.dropdown-active {
  display: block;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  background-image: url('../images/landingPage/section1/Shape Component.svg');
  background-position: right;
  background-size: 72rem;
  background-repeat: no-repeat;
}

#hero p {
  color: #fff;
  font-size: 16px;
}

#hero .container {
  padding-top: 72px;
}

#hero h1 {
  margin: 0 0 10px 0;
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
}

#hero h2 {
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 50px;
  font-size: 24px;
}

#hero .btn-get-started {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  display: inline-block;
  padding: 10px 28px 11px 28px;
  border-radius: 10px;
  transition: 0.5s;
  margin: 10px 0 0 0;
  color: #6875e3;
  background: #fff;
}

#hero .btn-get-started:hover {
  background: linear-gradient(to left, #6875e3, #7e55ae);
  color: #fff;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
}

#hero .btn-watch-video {
  font-size: 16px;
  display: flex;
  align-items: center;
  transition: 0.5s;
  margin: 10px 0 0 25px;
  color: #fff;
  line-height: 1;
}

#hero .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@media (max-width: 1366px) {
  #hero {
    background-position: right;
    background-size: 65rem;
  }
}

@media (max-width: 991px) {
  #hero {
    height: 100vh;
    text-align: center;
  }

  #hero .animated {
    -webkit-animation: none;
    animation: none;
  }

  #hero .hero-img {
    text-align: center;
  }

  #hero .hero-img img {
    width: 50%;
  }

  #header .logo {
    color: #fff;
  }

  #header .logo #cloud {
    color: #fff;
  }
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }

  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }

  #hero .hero-img img {
    width: 70%;
  }

  #header .logo {
    color: #fff;
  }

  #header .logo #cloud {
    color: #fff;
  }
}

@media (max-width: 575px) {
  #hero .hero-img img {
    width: 80%;
  }

  #hero .btn-get-started {
    font-size: 16px;
    padding: 10px 24px 11px 24px;
  }

  #header .logo {
    color: #fff;
  }

  #header .logo #cloud {
    color: #fff;
  }
}

@-webkit-keyframes up-down {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #f3f5fa;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #212529;
}

.section-title h2::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: linear-gradient(to left, #6875e3, #7e55ae);
  bottom: 0;
  left: calc(50% - 20px);
}

.section-title p {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Clients
--------------------------------------------------------------*/
.clients {
  padding: 12px 0;
  text-align: center;
}

.clients img {
  max-width: 45%;
  transition: all 0.4s ease-in-out;
  display: inline-block;
  padding: 15px 0;
  filter: grayscale(100);
}

.clients img:hover {
  filter: none;
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .clients img {
    max-width: 40%;
  }
}

/*--------------------------------------------------------------
# About Us
--------------------------------------------------------------*/
.about .content h3 {
  font-weight: 600;
  font-size: 26px;
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  padding-left: 28px;
  position: relative;
}

.about .content ul li+li {
  margin-top: 10px;
}

.about .content ul i {
  position: absolute;
  left: 0;
  top: 2px;
  font-size: 20px;
  color: #47b2e4;
  line-height: 1;
}

.about .content p:last-child {
  margin-bottom: 0;
}

.about .content .btn-learn-more {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 32px;
  border-radius: 4px;
  transition: 0.3s;
  line-height: 1;
  color: #47b2e4;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  margin-top: 6px;
  border: 2px solid #47b2e4;
}

.about .content .btn-learn-more:hover {
  background: #47b2e4;
  color: #fff;
  text-decoration: none;
}

/*--------------------------------------------------------------
# Why Us
--------------------------------------------------------------*/
.why-us .content {
  padding: 60px 100px 0 100px;
}

.why-us .content h3 {
  font-weight: 600;
  font-size: 34px;
  color: #212529;
}

.why-us .content h4 {
  font-size: 20px;
  font-weight: 700;
  margin-top: 5px;
}

.why-us .content p {
  font-size: 15px;
  color: #848484;
}

.why-us .img {
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
}

.why-us .accordion-list {
  padding: 0 100px 60px 100px;
}

.why-us .accordion-list ul {
  padding: 0;
  list-style: none;
}

.why-us .accordion-list li+li {
  margin-top: 15px;
}

.why-us .accordion-list li {
  padding: 20px;
  background: #fff;
  border-radius: 4px;
}

.why-us .accordion-list a {
  display: block;
  position: relative;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  padding-right: 30px;
  outline: none;
  cursor: pointer;
}

.why-us .accordion-list span {
  color: #47b2e4;
  font-weight: 600;
  font-size: 18px;
  padding-right: 10px;
}

.why-us .accordion-list i {
  font-size: 24px;
  position: absolute;
  right: 0;
  top: 0;
}

.why-us .accordion-list p {
  margin-bottom: 0;
  padding: 10px 0 0 0;
}

.why-us .accordion-list .icon-show {
  display: none;
}

.why-us .accordion-list a.collapsed {
  color: #343a40;
}

.why-us .accordion-list a.collapsed:hover {
  color: #47b2e4;
}

.why-us .accordion-list a.collapsed .icon-show {
  display: inline-block;
}

.why-us .accordion-list a.collapsed .icon-close {
  display: none;
}

@media (max-width: 1024px) {

  .why-us .content,
  .why-us .accordion-list {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 992px) {
  .why-us .img {
    min-height: 400px;
  }

  .why-us .content {
    padding-top: 30px;
  }

  .why-us .accordion-list {
    padding-bottom: 30px;
  }
}

@media (max-width: 575px) {
  .why-us .img {
    min-height: 200px;
  }
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services .icon-box {
  box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.1);
  padding: 50px 30px;
  transition: all ease-in-out 0.4s;
  background: #fff;
}

.services .icon-box .icon {
  margin-bottom: 10px;
}

.services .icon-box .icon .bx-timer {
  color: #2626D0;
  font-size: 36px;
  transition: 0.3s;
}

.services .icon-box .icon .bx-broadcast {
  color: #00D9EA;
  font-size: 36px;
  transition: 0.3s;
}

.services .icon-box .icon .bx-cube-alt {
  color: #32BEA6;
  font-size: 36px;
  transition: 0.3s;
}

.services .icon-box .icon .bx-trending-up {
  color: #65A844;
  font-size: 36px;
  transition: 0.3s;
}

.services .icon-box h4 {
  font-weight: 600;
  margin-bottom: 15px;
  font-size: 18px;
}

.services .icon-box h4 a {
  color: #37517e;
  transition: ease-in-out 0.3s;
}

.services .icon-box p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

/*first card*/
.services .icon-box:hover {
  transform: translateY(-10px);
  background-color: #2626D0;
  color: #fff;
  box-shadow: 0px 0 25px 0 rgb(38, 38, 208, 0.555);
}

.services .icon-box:hover .icon .bx-timer {
  color: #fff;
}

/*second card*/
.services .icon-box-two:hover {
  transform: translateY(-10px);
  background-color: #00D9EA;
  color: #fff;
  box-shadow: 0px 0 25px 0 rgb(0, 217, 234, 0.555);
}

.services .icon-box:hover .icon .bx-broadcast {
  color: #fff;
}

/*third card*/
.services .icon-box-three:hover {
  transform: translateY(-10px);
  background-color: #32BEA6;
  color: #fff;
  box-shadow: 0px 0 25px 0 rgb(50, 190, 166, 0.555);
}

.services .icon-box:hover .icon .bx-cube-alt {
  color: #fff;
}

/*fourth card*/
.services .icon-box-four:hover {
  transform: translateY(-10px);
  background-color: #65A844;
  color: #fff;
  box-shadow: 0px 0 25px 0 rgb(101, 168, 68, 0.555);
}

.services .icon-box:hover .icon .bx-trending-up {
  color: #fff;
}

.services .icon-box:hover h4 a {
  color: #47b2e4;
}

/*--------------------------------------------------------------
# Cta
--------------------------------------------------------------*/
.cta {
  background: linear-gradient(rgba(104, 117, 227, 0.9), rgba(126, 85, 174, 0.9)), url("../images/landingPage/section6/Testimonials.svg") fixed center center;
  background-size: cover;
  padding: 120px 0;
}

.cta h3 {
  color: #fff;
  font-size: 28px;
  font-weight: 700;
}

.cta p {
  color: #fff;
}

.cta .cta-btn {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 40px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px;
  border: 2px solid #fff;
  color: #fff;
}

.cta .cta-btn:hover {
  background: #47b2e4;
  border: 2px solid #47b2e4;
}

@media (max-width: 1024px) {
  .cta {
    background-attachment: scroll;
  }
}

@media (min-width: 769px) {
  .cta .cta-btn-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

/*--------------------------------------------------------------
# Pricing
--------------------------------------------------------------*/
.pricing .row {
  padding-top: 40px;
  align-items: center;
  justify-content: center;
}

.pricing .box {
  padding: 60px 40px;
  box-shadow: 0 3px 20px -2px rgba(20, 45, 100, 0.1);
  background: #fff;
  height: 100%;
  border-top: 4px solid #fff;
  border-radius: 5px;
  text-align: center;
}

.pricing h3 {
  font-weight: 500;
  margin-bottom: 15px;
  margin-top: 28px;
  font-size: 20px;
  color: #37517e;
}

.pricing h4 {
  font-size: 48px;
  color: #37517e;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  margin-bottom: 25px;
}

.pricing h4 sup {
  font-size: 28px;
}

.pricing h4 span {
  color: #47b2e4;
  font-size: 18px;
  display: block;
}

.pricing ul {
  padding: 20px 0;
  list-style: none;
  color: #999;
  text-align: left;
  line-height: 20px;
}

.pricing ul li {
  padding: 10px 0 10px 30px;
  position: relative;
}

.pricing ul i {
  color: #28a745;
  font-size: 24px;
  position: absolute;
  left: 0;
  top: 6px;
}

.pricing ul .na {
  color: #ccc;
}

.pricing ul .na i {
  color: #ccc;
}

.pricing ul .na span {
  text-decoration: line-through;
}

.pricing .buy-btn {
  display: inline-block;
  padding: 12px 25px;
  border-radius: 4px;
  color: #47b2e4;
  transition: none;
  font-size: 16px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  transition: 0.3s;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
}

.pricing .buy-btn:hover {
  background: linear-gradient(to left, #6875e3, #7e55ae);
  color: #fff;
}

.pricing .featured {
  border-top-color: #6875e3;
}

.pricing .featured .buy-btn {
  background: linear-gradient(to left, #6875e3, #7e55ae);
  color: #fff;
}

.pricing .featured .buy-btn:hover {
  background: linear-gradient(to left, #6875e3, #7e55ae);
}

@media (max-width: 992px) {
  .pricing .box {
    max-width: 60%;
    margin: 0 auto 30px auto;
  }
}

@media (max-width: 767px) {
  .pricing .box {
    max-width: 80%;
    margin: 0 auto 30px auto;
  }
}

@media (max-width: 420px) {
  .pricing .box {
    max-width: 100%;
    margin: 0 auto 30px auto;
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  font-size: 14px;
}

#footer .footer-newsletter {
  padding: 60px;
  background-image: url('../images/landingPage/section7/Shape Component.svg');
  background-position: center right;
  background-size: cover 20px;
  background-repeat: no-repeat;
  text-align: center;
  font-size: 15px;
  color: #fff;
}

.footer-newsletter .buy-btn {
  display: inline-block;
  padding: 12px 25px;
  border-radius: 4px;
  color: #6875e3;
  transition: none;
  font-size: 16px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  transition: 0.3s;
  background: #fff;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
}

.footer-newsletter .buy-btn:hover {
  background: linear-gradient(to left, #6875e3, #7e55ae);
  color: #fff;
}

#footer .footer-newsletter h4 {
  font-size: 24px;
  margin: 150px 0 20px 0;
  padding: 0;
  line-height: 1;
  font-weight: 600;
  color: #fff;
}

#footer .footer-top img {
  max-height: 100px;
}

#footer .footer-top {
  padding: 60px 0 30px 0;
  background: #fff;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact h3 {
  font-size: 28px;
  margin: 0 0 10px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 600;
  color: #47b2e4;
}

#footer .footer-top .footer-contact p {
  font-size: 15px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Poppins", sans-serif;
  color: #5e5e5e;
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  color: #37517e;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #47b2e4;
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #777777;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  text-decoration: none;
  color: #47b2e4;
}

#footer .footer-bottom {
  padding-top: 30px;
  padding-bottom: 30px;
  color: #fff;
  text-align: center;
}

#footer .copyright {
  color: #000;
}

@media (max-width: 768px) {
  #footer .footer-bottom {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  #footer .copyright,
  #footer .credits {
    text-align: center;
    float: none;
  }

  #footer .credits {
    padding-top: 4px;
  }
}

.modal-content {
  background-color: #e1e1e1;
}

.start-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.start-body img {
  width: 30%;
}

.start-body .title {
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 600;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}

.start-body .alert {
  display: flex;
  align-items: center;
  font-size: 13px;
  padding: 1px 10px;
}

.start-body .alert .alert-icon {
  font-size: 25px;
  padding-right: 10px;
  margin-top: 5px;
}


.start-body form {
  width: 70%;
}

.start-body form .subText {
  font-size: 15px;
  color: #777;
  margin: 0;
}

.start-body form .form-email {
  margin-bottom: 20px;
}

.start-body form .form-password {
  position: relative;
}

.start-body form .form-password i {
  position: absolute;
  right: 20px;
  bottom: 35px;
}

.start-body form .form-password .password-check {
  margin: 5px 0 0 0;
  font-size: 13px;
}

.start-body form .form-password .password-check.valid {
  color: #1acf1a;
}

.start-body form .form-password .password-check.invalid {
  color: red;
}

.start-body form input[type="text"],
.start-body form input[type="email"],
.start-body form input[type="password"] {
  width: 100%;
  transition: all 0.30s ease-in-out;
  outline: none;
  padding: 10px 10px;
  border: 1px solid #e1e1e1;
  resize: none;
  border-radius: 5px;
}

.start-body form input[type="text"]:focus,
.start-body form input[type="password"]:focus {
  box-shadow: 0 0 5px #485fed;
  padding: 10px 10px;
  border: 1px solid #485fed;
}

.start-body form .form-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1.5rem;
}

.start-body form .form-button button:disabled {
  background: gray;
  cursor: not-allowed;
}

.start-body form .form-button button {
  border: none;
  width: 95%;
  height: 2.5rem;
  background: linear-gradient(to left, #485fed, rgba(255, 44, 118, .25)), #485fed;
  color: #fff;
  font-size: 15px;
  margin-top: 20px;
  border-radius: 5px;
  transition: all 0.6s;
  background-size: 200%;
}

.start-body form .form-button p {
  margin: 10px;
}

.start-body form .form-button a {
  font-size: 15px;
  color: #485def;
  font-weight: 600;
}





.createLiveCont {
  overflow-y: auto;
  height: 500px;
}

.createLiveCont p {
  margin: 0;
}

.createLiveCont .editCont .subText {
  margin-bottom: 0;
  font-size: 15px;
}

.createLiveCont .editCont .detailsCont {
  padding: 0 20px;
}

.createLiveCont .editCont .detailsCont .storeInfo {
  display: flex;
  margin-bottom: 15px;
}

.createLiveCont .editCont .detailsCont .storeInfo .storeEvt {
  margin-right: 50px;
}

.createLiveCont .editCont .detailsCont .storeInfo .storeDesc input[type="text"] {
  width: 25vw;
}


.createLiveCont .editCont .detailsCont .storeInfo .storeEvt input[type="text"] {
  width: 15vw;
}

.createLiveCont .editCont .detailsCont input[type="text"],
.createLiveCont input[type="time"],
.createLiveCont select {
  margin-top: 3px;
  transition: all 0.30s ease-in-out;
  outline: none;
  padding: 10px 10px;
  border: 1px solid #e1e1e1;
  resize: none;
  border-radius: 5px;
}

.createLiveCont input[type="time"],
.createLiveCont select {
  width: 11.5vw;
}

.createLiveCont .editCont .detailsCont input[type="text"]:focus,
.createLiveCont input[type="time"]:focus,
.createLiveCont select:focus {
  box-shadow: 0 0 5px #485fed;
  padding: 10px 10px;
  border: 1px solid #485fed;
}

.createLiveCont .editCont .detailsCont .storeName .mainText {
  font-size: 26px;
  font-weight: 600;
}

.createLiveCont .editCont .imgCont {
  display: flex;
  padding: 0 20px;
  margin-top: 20px;
}

.createLiveCont .editCont .imgCont .fileLogo,
.createLiveCont .editCont .imgCont .fileBanner {
  margin-top: 5px;
}

.createLiveCont .editCont .imgCont .storeLogo {
  width: 20%;
}

.createLiveCont .editCont .imgCont .storeBanner {
  width: 35%;
  margin-left: 50px;
  margin-right: 50px;
}

.createLiveCont .editCont .btnPrevCont {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.createLiveCont .editCont .btnPrevCont .previewButton {
  width: 8vw;
  height: 2.5rem;
  border-radius: 5px;
  border: none;
  color: #fff;
  box-shadow: rgb(0 0 0 / 25%) 0px 4px 5px 0px;
  font-size: 15px;
  background: linear-gradient(to left, #485fed, rgba(255, 44, 118, .25)), #485fed;
}

.createLiveCont .prevCont {
  height: 27vh;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}

.createLiveCont .prevCont .prevDesc {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  align-items: center;
}

.createLiveCont .prevCont .prevDesc .mainLabel {
  font-weight: 600;
  font-size: 20px;
}

.createLiveCont .prevCont .prevDesc .labelDesc {
  font-size: 15px;
  color: #9d9c9b;
}

.createLiveCont .prevCont .preview.skeleton {
  width: 100%;
  height: 20vh;
  border: 2px solid #b7b7b7;
  border-style: dashed;
}

.createLiveCont .prevCont .preview.skeleton .upperCont {
  height: 10vh;
  display: flex;
  padding: 5px 0;
}

.createLiveCont .prevCont .preview.skeleton .upperCont .logo {
  height: 60px;
  width: 60px;
  border: 2px solid #b7b7b7;
  border-style: dashed;
}

.createLiveCont .prevCont .preview.skeleton .lowerCont .storeNameCont .fixedLiveStatus {
  background: none;
  color: #777;
  border: 2px solid #b7b7b7;
  border-style: dashed;
}

.createLiveCont .prevCont .preview.skeleton .lowerCont .storeNameCont .storeName,
.createLiveCont .prevCont .preview.skeleton .lowerCont .storeDescCont .storeDesc {
  color: #777;
}



.createLiveCont .prevCont .preview {
  width: 100%;
  height: 20vh;
  padding-top: 5px;
  padding-left: 20px;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-size: cover;
}

.createLiveCont .prevCont .preview .upperCont {
  height: 10vh;
  display: flex;
  padding: 5px 0;
}

.createLiveCont .prevCont .preview .upperCont .logo {
  background: #fff;
  border-radius: 10px;
  display: flex;
}

.createLiveCont .prevCont .preview .upperCont .logo img {
  width: 60px;
  border-radius: 10px;
}

.createLiveCont .prevCont .preview .lowerCont {
  padding-top: 10px;
}

.createLiveCont .prevCont .preview .lowerCont .storeNameCont {
  display: flex;
  height: 30px;
  color: #fff;
}

.createLiveCont .prevCont .preview .lowerCont .storeNameCont .fixedLiveStatus {
  margin-right: 10px;
  background: red;
  border-radius: 10px;
  width: 50px;
  height: 25px;
  font-size: 15px;
  text-align: center;
  color: #fff;
  border: 2px solid #fff;
}

.createLiveCont .prevCont .preview .lowerCont .storeNameCont .storeName {
  font-weight: 600;
}

.createLiveCont .prevCont .preview .lowerCont .storeDescCont {
  height: 30px;
}

.createLiveCont .prevCont .preview .lowerCont .storeDescCont p.storeDesc {
  margin-top: 5px;
  font-weight: 300;
  font-size: 12px;
  color: #fff;
}

.createLiveCont .second-part .storeSched .alert {
  display: flex;
}

.createLiveCont .second-part .storeSched .alert ion-icon {
  font-size: 25px;
  margin-right: 10px;
}

.createLiveCont .second-part .storeSched .sched {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.createLiveCont .second-part .storeSched .sched div:nth-child(2) {
  margin: 0px 50px;
}

.createLiveCont .second-part .storeSched .sched p {
  font-size: 13px;
  color: #9d9c9b;
}

.createLiveCont .second-part .storeSched .sched .time {
  margin: 0;
  font-size: 30px;
  color: black;
}

.modal-footer {
  display: flex;
  justify-content: space-between;
}

.modal-footer .buttonCloseModal {
  width: 8vw;
  height: 2.5rem;
  border-radius: 5px;
  border: none;
  color: #fff;
  box-shadow: rgb(0 0 0 / 25%) 0px 4px 5px 0px;
  font-size: 15px;
  background: red;
}

.modal-footer .buttonCloseModal:hover {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.modal-footer .button-controller button {
  width: 10vw;
  height: 2.5rem;
  border-radius: 5px;
  border: none;
  color: #fff;
  box-shadow: rgb(0 0 0 / 25%) 0px 4px 5px 0px;
  font-size: 15px;
}

.modal-footer .button-controller .disabled {
  cursor: not-allowed;
  background: #777;
}

.buttonCreate, .buttonBack {
  background: linear-gradient(to left, #485fed, rgba(255, 44, 118, .25)), #485fed;
}

.buttonCreate:hover {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.filepond--item {
  width: 100%;
}