.transaction-header {
    margin: 20px 15px;
}

.transaction-container {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin: 20px 50px;
}

.transaction-main {
    flex-direction: column;
    margin: 0 20px;
    width: 100%;
}

.income-cont {
    width: 300px;
    height: 125px;
    background: #fff;
    border-radius: 10px;
    padding-left: 20px;
    line-height: 40px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 5px 0px;
}

.income-text {
    display: flex;
    justify-content: space-between;
}

.income-cont p {
    padding-top: 5px;
    margin: 0;
}

.income-cont i {
    color: #63e185;
    font-size: 2em;
    padding: 10px 20px 0;
}

.income {
    font-size: 3em;
    font-weight: 600;
}

.transaction-side {
    flex-direction: column;
    margin: 0 20px;
}

.recent-cont {
    padding-top: 10px;
}

.more-cont {
   display: flex;
   justify-content: space-between;
}

a {
    color: #485fed;
    text-decoration: none !important;
}

.recent-cont > p {
    font-size: 15px;
    font-weight: 600;
    padding-left: 10px;
}

.list-cont {
     height: 100%;
}

.item-sold {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
}

.item-img {
    padding-top: 15px;
    font-size: 1.8em;
}

.item-detail{
    width: 200px;
    text-align:start;
    padding-top: 13px;
    font-weight: 500;
    line-height: 20px;
}

.item-detail p {
    font-weight: 300;
    color: #5c5c5c;
    font-size: 11px;
}

.item-amount {
    font-weight: 600;
    padding-top: 22px;
}

.tabs {
    display: flex;
    padding: 25px 0
}

.tab-link > a {
    color: #777;
    font-size: 15px;
}

.tab-link > a:hover {
    color: #485fed;
    font-size: 15px;
}

a.active {
    width: 100%;
    height: 10px;
    padding: 5px;
    background: #485fed;
    color: #fff !important;
    border-radius: 10px;
}

.tab-link:nth-child(1),
.tab-link:nth-child(2) {
    margin-right: 30px;
}

.transaction-cont {
    width: 100%;
    height: auto;
    font-size: 1.em;
    font-weight: 600;
}

.transaction-chart {
    width: 110vh;
    height: auto;
}

.card {
    width: 350px;
    height: 200px;
    color: #fff;
    cursor: pointer;
    perspective: 1000px;
}

.card-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.front, .back{
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #6d17cb, #2876f9);
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 40px;
    border-radius: 15px;
    overflow: hidden;
    z-index: 1;
    backface-visibility: hidden;
}


.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-map {
    width: 95%;
    left: 10px;
    position: absolute;
    opacity: 0.5;
    z-index: -1;
}

.card-num {
    font-size: 1.3em;
    margin-top: 35px;
    font-weight: 600;
}

.card-holder {
    font-size: 0.5em;
    font-weight:300;
}

.card-details {
    font-size: 1em;
    margin-top: -15px;
    font-weight: 500;
}

.card-bar {
    background: #222;
    margin-left: -40px;
    margin-right: -40px;
    height: 35px;
}

.card-code {
    margin-top: 15px;
}

.card-code div {
    flex: 1;
}

.card-code img {
    width: 100%;
    display: block;
    line-height:0;
}

.card-code p {
    margin-top: 15px;
    background: #fff;
    color: #000;
    font-size: 13px;
    padding: 0px 5px;
}

.signature {
    margin-top: 25px;
    font-size: 12px;
}

.back {
    transform: rotateY(180deg);
}

.card:hover .card-inner {
    transform: rotateY(-180deg);
}