#prodSection {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.upper-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cont {
    width: 300px;
    height: 130px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 5px 0px;
    background: #fff;
    border-radius: 10px;
    margin: 0px 50px;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cont-1 {
    border-left: 10px solid #4c5ee9;
}

.cont1-icon {
    font-size: 3.5em;
    color: #4c5ee9;
    padding-left: 20px;
}



.cont-2 {
    border-left: 10px solid #f67c00;
}

.cont2-icon {
    font-size: 3.5em;
    color: #f67c00;
    padding-left: 20px;
}



.cont-3 {
    border-left: 10px solid #63e185;
}

.cont3-icon {
    font-size: 3.5em;
    color: #63e185;
    padding-left: 20px;
}

.text-cont {
    padding-top: 10px;
    padding-left: 35px;
    display:flex;
    flex-direction: column;
    line-height: 10px;
}

.item-total {
    font-size: 2.2em;
    font-weight: 600;
}

.item-desc {
    font-weight: 500;
    font-size: 1em;
    color: #777;
}



.lower-container {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    height: 70vh;
}

.table-container {
    width: 80%;
    height: 63vh;
    margin-top: 25px;
    box-shadow: 0px 0px 30px -15px;
    border-radius: 5px;
    background: #fff;
    padding: 0px 20px;
}

.btnAddProduct {
    width: 27vh;
    border: 2px solid rgba(#FFF, 0.6);
    border-radius: 50%;
    position: relative;
    transform: translateY(-50%);
    margin-top: 35px;
    cursor: pointer;
    transition: all 350ms ease;
    transition-timing-function: cubic-bezier(0.05,1.8,1,1.57);
}
.btnAddProduct:hover {
    transform: translateY(-40%);
}

.add-icon {
    font-size: 22px;
    font-weight: 700;
    background: #fff;
    color: #777;
    width: 45px;
    height: 45px;
    border: 6px solid #6257db;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btnText {
    position: absolute;
    margin-left: 55px;
    margin-top: -39px;  
    font-weight: 300;
    font-size: 1.4em;
}

.custom-thead {
    background: #B4CFEC;
    color: #fff;
}

th {
    font-weight: 500 !important;
    font-size: 1em !important;
}

td {
    font-weight: 500;
    font-size: 1em;
    color: #2e4a83;
}

.btnEdit, .btnDelete {
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
}

.edit-icon, .delete-icon {
    font-size: 1.3em;
    font-weight: 700;
    color: #777;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.edit-icon:hover {
    color: orange;
} 

.delete-icon:hover {
    color: red;
}

.btn-primary {
    background: #4c5ee9;
    border: none;
    font-weight: 500;
}