.navigation {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    width: 70px;
    box-sizing: initial;
    border-left: 5px solid #7552d0;
    background: linear-gradient(to left, #485fed, rgba(255, 44, 118, .25)), #485fed;
    transition: all 0.5s ease;
    overflow: hidden;
}

.toggle {
    position: relative;
    padding-left: 20px;
    padding-top: 40px;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toggle ion-icon {
    position: absolute;
    color: #fff;
    font-size: 34px;
    display: none;
}

.toggle ion-icon.open,
.toggle.active ion-icon.close {
    display: block;
}

.toggle ion-icon.close,
.toggle.active ion-icon.open {
    display: none;
}

.navigation.active {
    width:250px;
}

.navigation hr {
    width: 95%;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(241, 241, 255, 0.50), rgba(0, 0, 0, 0));
}

.navigation.active hr {
    width: 95%;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(241,241,255 0.50), rgba(0, 0, 0, 0));
}

.navigation ul {
    position: absolute;
    top: 100;
    left: 0;
    width: 100%;
    padding-left: 5px;
    padding-top: 40px;
}

.navigation ul li {
    position: relative;
    list-style: none;
    width: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

}

/* .navigation ul li .tooltip {
    position: absolute;
    left: 122px;
    top: 0;
    transform: translateY(-50%);
    border-radius: 6px;  
    height: 35px;
    width: 122px;
    background: linear-gradient(to left, #485fed, rgba(255, 44, 118, .25)), #485fed;
    line-height: 35px;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    color: #fff;
    transition: 0s;
    opacity: 0;
    pointer-events: none;
}

.navigation ul li:hover .tooltip {
    transition: all 0.5s ease;
    opacity: 1;
    top: 50%;
} */

.navigation ul li.active {
    background: #F1F1FF;
}

.navigation ul li b:nth-child(1) {
    position: absolute;
    top: -20px;
    height: 20px;
    width: 100%;
    background: #F1F1FF;
    display: none;
}

.navigation ul li b:nth-child(1)::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-bottom-right-radius: 20px;
    background: linear-gradient(to left, #485fed, rgba(255, 44, 118, .25)), #485fed;
}

.navigation ul li b:nth-child(2) {
    position: absolute;
    bottom: -20px;
    height: 20px;
    width: 100%;
    background: #F1F1FF;
    display: none;
}

.navigation ul li b:nth-child(2)::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top-right-radius: 20px;
    background: linear-gradient(to left, #485fed, rgba(255, 44, 118, .25)), #485fed;
}

.navigation ul li.active b:nth-child(1),
.navigation ul li.active b:nth-child(2) {
    display: block;
}

.navigation ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: #F1F1FF;
}

.navigation ul li.active a {
    color: #333;
}

.navigation ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 70px;
    text-align: center;
}

.navigation ul li a .icon ion-icon {
    font-size: 1.5em;
    pointer-events: none;
}

.navigation ul li a .title {
    position: relative;
    display: block;
    padding-left: 10px;
    height: 60px;
    line-height: 60px;
    white-space: normal;
    
}

.checkbox {
    opacity: 0;
    position: absolute;
}

.label {
    width: 50px;
    height: 26px;
    background: #111;
    display: flex;
    border-radius: 50px;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
}

.fa-sun {
    color: #f39c12;
}

.fa-moon {
    color: #f1c40f;
}

.ball {
    width: 22px;
    height: 22px;
    top: 2px;
    left: 2px;
    border-radius:50%;
    background: #fff;
    position: absolute;
    transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
    transform: translateX(24px);
}

.navigation .profile-container {
    position: absolute;
    color: #fff;
    bottom: 0;
    left: 0;
    width: 100%;
}

.navigation .profile-container .profile {
    position: relative;
    padding: 15px 10px;
}

.profile-container .profile .profile-details {
    display: flex;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    white-space: nowrap;
}

.navigation.active .profile .profile-details {
    opacity: 1;
    pointer-events: auto;
}

.profile .profile-details img {
    height: 45px;
    width: 45px;
    object-fit: cover;
    border-radius: 12px;
}

.profile .profile-details .details {
    margin-left: 20px;
}

.profile .profile-details .name {
    font-size: 15px;
    font-weight: 500;
}

.profile .profile-details .subType {
    font-size: 12px;
    font-weight: 300;
}

.profile #logout {
    position: absolute;
    bottom: 25px;
    transform: translateX(-50%);
    min-width: 50px;
    font-size: 1.8em;
    border-radius: 12px;
    text-align: center;
    transform: rotate(180deg);
    text-decoration: none;
    color: #fff;
}

.navigation.active .profile #logout {
    left: 78%;
}

.home-content {
    position: absolute;
    height: 100%;
    width: calc(100% - 75.5px);
    left: 75.5px;
    transition: all 0.5s ease;
    background: #F1F1FF;
}

.home-content .text {
    font-size: 25px;
    font-weight: 700;
    margin: 12px;
}

.navigation.active ~ .home-content {
    width: calc(100% - 255px);
    left: 255px
}

.pageTitle {
    padding-left: 20px;
    font-size: 1.5em;
    font-weight: 500;
    margin: 26px 30px 25px 30px;
}


/* DARK MODE */

.home-content.dark {
    background: #292c35;
}

.home-content.dark pre,
.home-content.dark .pageTitle {
    color: #fff;
}