<div class="dashboard-header">
    <div class="dropdown">
        <button class="btnLive-schedule">View Live Schedules<i><ion-icon name="calendar-outline"></ion-icon></i></button>
        <div class="dropdown-list">
            <div class="dropdown-list-item">
                <div class="dropdown-utils">
                    05:00 PM - 08:00 PM | Coco's Opening Sale
                </div>
                <div class="dropdown-title">
                    Coco's Surplus Shop
                </div>
                <div class="dropdown-desc">
                    Shop, interact, and have fun with my virtual room.
                </div>
            </div>
            <div class="dropdown-list-item">
                <div class="dropdown-utils">
                    08:00 PM - 011:00 PM | 11:11 Sale
                </div>
                <div class="dropdown-title">
                    Pet Supply and Accessories
                </div>
                <div class="dropdown-desc">
                    Shop, interact, and have fun with my virtual room.
                </div>
            </div>
            <div class="dropdown-list-item">
                <div class="dropdown-utils">
                    09:00 AM - 01:00 PM | Sample Sale
                </div>
                <div class="dropdown-title">
                    Sample Sample Shop
                </div>
                <div class="dropdown-desc">
                    Shop, interact, and have fun with my virtual room.
                </div>
            </div>
        </div>
    </div>
    <div class="icon">
        <div class="notif"></div>
        <ion-icon name="notifications"></ion-icon>
    </div>
</div>
<div class="dashboard-body">
    <div class="live-rooms-container">
        <div class="featured-room">
            <div class="live-room" style="background-image: url('/public/assets/images/customer/Rectangle\ 30.png')">
                <div class="upper">
                    <div class="fixed-logo-frame">
                        <div class="logo">
                            <img src="/public/assets/images/customer/apple-icon 1.png" alt="(store) logo">
                        </div>
                    </div>
                </div>
                <div class="lower">
                    <div class="room-title">
                        <p class="fixed-live-status">Live</p>
                        <p class="store-name">Apple</p>
                    </div>
                    <div class="room-desc">
                        <p class="store-desc">Introducing the all new Apple Products!</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="room-row">
            <div class="live-room" style="background-image: url('/public/assets/images/customer/default_room_cover/default5.jpg')">
                <div class="upper">
                    <div class="fixed-logo-frame">
                        <div class="logo">
                            <img src="/public/assets/images/customer/apple-icon 1.png" alt="(store) logo">
                        </div>
                    </div>
                </div>
                <div class="lower">
                    <div class="room-title">
                        <p class="fixed-live-status">Live</p>
                        <p class="store-name">Sample Store</p>
                    </div>
                    <div class="room-desc">
                        <p class="store-desc">Sample Sample Description</p>
                    </div>
                </div>
            </div>
            <div class="live-room" style="background-image: url('/public/assets/images/customer/default_room_cover/default6.jpg')">
                <div class="upper">
                    <div class="fixed-logo-frame">
                        <div class="logo">
                            <img src="/public/assets/images/customer/apple-icon 1.png" alt="(store) logo">
                        </div>
                    </div>
                </div>
                <div class="lower">
                    <div class="room-title">
                        <p class="fixed-live-status">Live</p>
                        <p class="store-name">Testing Store</p>
                    </div>
                    <div class="room-desc">
                        <p class="store-desc">Testing Testing Description</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="room-row">
            <div class="live-room" style="background-image: url('/public/assets/images/customer/default_room_cover/default7.jpg')">
                <div class="upper">
                    <div class="fixed-logo-frame">
                        <div class="logo">
                            <img src="/public/assets/images/customer/apple-icon 1.png" alt="(store) logo">
                        </div>
                    </div>
                </div>
                <div class="lower">
                    <div class="room-title">
                        <p class="fixed-live-status">Live</p>
                        <p class="store-name">Coco's Surplus Shop</p>
                    </div>
                    <div class="room-desc">
                        <p class="store-desc">Shop, interact, and have fun with my virtual room.</p>
                    </div>
                </div>
            </div>
            <div class="live-room" style="background-image: url('/public/assets/images/customer/default_room_cover/default8.jpg')">
                <div class="upper">
                    <div class="fixed-logo-frame">
                        <div class="logo">
                            <img src="/public/assets/images/customer/apple-icon 1.png" alt="(store) logo">
                        </div>
                    </div>
                </div>
                <div class="lower">
                    <div class="room-title">
                        <p class="fixed-live-status">Live</p>
                        <p class="store-name">Pet Supply and Accessories</p>
                    </div>
                    <div class="room-desc">
                        <p class="store-desc">Shop, interact, and have fun with my virtual room.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>