<link rel="stylesheet" href="/public/assets/css/customer/dashboard.css">
<script src="/public/script/customer/dashboard/modal.js" type="module"></script>

<div class="dashboard-header">
    <div class="dropdown">
        <button class="btnLive-schedule">View Live Schedules<i>
                <ion-icon name="calendar-outline"></ion-icon>
            </i></button>
        <div class="dropdown-list">
            <div class="dropdown-list-item">
                <div class="dropdown-utils">
                    05:00 PM - 08:00 PM | Coco's Opening Sale
                </div>
                <div class="dropdown-title">
                    Coco's Surplus Shop
                </div>
                <div class="dropdown-desc">
                    Shop, interact, and have fun with my virtual room.
                </div>
            </div>
            <div class="dropdown-list-item">
                <div class="dropdown-utils">
                    08:00 PM - 011:00 PM | 11:11 Sale
                </div>
                <div class="dropdown-title">
                    Pet Supply and Accessories
                </div>
                <div class="dropdown-desc">
                    Shop, interact, and have fun with my virtual room.
                </div>
            </div>
            <div class="dropdown-list-item">
                <div class="dropdown-utils">
                    09:00 AM - 01:00 PM | Sample Sale
                </div>
                <div class="dropdown-title">
                    Sample Sample Shop
                </div>
                <div class="dropdown-desc">
                    Shop, interact, and have fun with my virtual room.
                </div>
            </div>
        </div>
    </div>
    <div class="icon">
        <div class="notif"></div>
        <ion-icon name="notifications"></ion-icon>
    </div>
</div>
<div class="dashboard-body">
    <div class="live-rooms-container"></div>
</div>



<!-- Join room modal -->
<div class="modal fade" id="joinRoomModal" tabindex="-1" aria-labelledby="joinModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content"></div>
    </div>
</div>