<link rel="stylesheet" href="/public/assets/css/customer/dashboard.css">
<script defer src="/public/script/customer/dashboard/general.js" type="module"></script>

<main>
    <h1>Live Streams</h1>
    <div class="no-live-text">
        <h2>There are no live session available at the moment.</h2>
        <h3>Please check again later.</h3>
    </div>

    <div class="live-container"></div>
    
    <br><br> 
</main>

<!-- Join room modal -->
<div class="modal fade" id="joinRoomModal" tabindex="-1" aria-labelledby="joinModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content"></div>
    </div>
</div>