<link rel="stylesheet" href="/public/assets/css/customer/dashboard.css">
<script defer src="/public/script/customer/dashboard/general.js" type="module"></script>

<main>
    <h1>Live Streams</h1>
    <% if (isVerified) { %> 
        <div class="no-live-text" id="noLiveText">
            <h2>There are no live session available at the moment.</h2>
            <h3>Please check again later.</h3>
        </div>
       
        <div class="live-container"></div>
    <% } else { %> 
        <div class="not-verified">
            <ion-icon name="alert-outline"></ion-icon>
            <h2>Email account not verified.</h2>
            <h3>Please verify your email to continue shopping.</h3>
        </div>
    <% } %> 
    
    <br><br> 
</main>

<!-- Join room modal -->
<div class="modal fade" id="joinRoomModal" tabindex="-1" aria-labelledby="joinModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content"></div>
    </div>
</div>