<link rel="stylesheet" href="/public/assets/css/customer/market.css">
<script defer src="/public/script/customer/market/general.js"></script>
<script defer src="/public/script/customer/market/displayProducts.js" type="module"></script>
<script defer src="/public/script/customer/market/addToCart.js" type="module"></script>

<header>
    <p id="uid" hidden>
        <%- uid %>
    </p>
    <div class="left">
        Handyman Appliances
    </div>
    <div class="right">
        <div class="cart">
            <button class="cart-button" id="btnCart">
                <ion-icon name="cart-outline"></ion-icon>
            </button>
            <div class="dropdown-cart-menu" id="dropdownCart">
                <p class="cart-title">My Cart</p>
                <div class="cart-container">
                    <div class="item">
                        <div class="item-wrapper">
                            <div class="left">
                                <img src="https://image.uniqlo.com/UQ/ST3/AsianCommon/imagesgoods/445076/item/goods_30_445076.jpg?width=1600&impolicy=quality_75"
                                    alt="">
                            </div>
                            <div class="right">
                                <p class="item-category">Bags</p>
                                <p class="item-name">Canvas Tote Bag</p>
                                <div class="variety">
                                    <div class="item-size">
                                        <p class="label">Size:</p>
                                        <p class="size">Large</p>
                                    </div>
                                    <div class="item-color">
                                        <p class="label">Color:</p>
                                        <div class="color" style="background: red"></div>
                                    </div>
                                </div>
                                <div class="qtyAndPrice">
                                    <div class="item-quantity">
                                        <p class="label">Quantity:</p>
                                        <p class="quantity">13</p>
                                    </div>
                                    <p class="item-price">₱<span class="price">1,350</span></p>
                                </div>
                            </div>
                        </div>
                        <div class="item-footer">
                            <button class="remove-item" id="btnRemoveItem">
                                <ion-icon name="trash-outline"></ion-icon>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="cart-checkout">
                    <div class="cart-total">
                        <p class="label">Total Price:</p>
                        <p class="total">₱<span class="total">13,546</span></p>
                    </div>
                    <button class="checkout-button" data-toggle="modal" data-target="#modalCheckout">Check out</button>
                </div>
            </div>
            <p class="cart-counter">(1)</p>
        </div>
        <button class="exit" id="btnExitMarket">Leave</button>
    </div>
</header>
<main>
    <div class="filter-container">
        <div class="category">
            <p class="title">Category</p>
            <!-- Add active in <li> if selected -->
            <!-- <li class="active"> -->
            <ul id="dynamicCategoryList"></ul>
        </div>
        <div class="Size">
            <p class="title">Size</p>
            <ul id="dynamicSizeList"></ul>
        </div>
        <div class="Type">
            <p class="title">Type</p>
            <ul id="dynamicTypeList"></ul>
        </div>
        <button class="clear-filter" id="btnClearFilter">Clear Filters</button>
    </div>
    <div class="product-container" id="prodContainer"></div>
</main>

<!-- Add To Cart Modal -->
<div class="modal fade" id="modalAddToCart" tabindex="-1" aria-labelledby="addToCartModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addToCartModalLabel">ADD TO CART</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body addToCart-modal-body" id="dynamicAddToCartModal">
                <!-- <div class="wrapper">
                    <div class="img-container">
                        <div class="main-image">
                            <img src="https://image.uniqlo.com/UQ/ST3/AsianCommon/imagesgoods/445076/item/goods_30_445076.jpg?width=1600&impolicy=quality_75"
                                alt="">
                        </div>
                        <div class="sub-image">
                            <img src="https://image.uniqlo.com/UQ/ST3/AsianCommon/imagesgoods/445076/item/goods_30_445076.jpg?width=1600&impolicy=quality_75"
                                alt="">
                            <img src="https://image.uniqlo.com/UQ/ST3/AsianCommon/imagesgoods/445076/item/goods_30_445076.jpg?width=1600&impolicy=quality_75"
                                alt="">
                            <img src="https://image.uniqlo.com/UQ/ST3/AsianCommon/imagesgoods/445076/item/goods_30_445076.jpg?width=1600&impolicy=quality_75"
                                alt="">
                        </div>
                    </div>
                    <div class="info-container">
                        <p class="product-name">Casual Shoes Fashion Sneakers</p>
                        <p class="product-price">₱<span>13,453</span></p>
                        <p class="product-description">Get these shoes now! Very affordable and comfortable to wear!!
                        </p>
                        <div class="switch-container">
                            <div class="switch">
                                <div class="active">Details</div>
                                <div>Reviews</div>
                            </div>
                            <div class="detail-container">
                                <div class="unit-type">
                                    <div class="type">
                                        <div class="icon unit">
                                            <ion-icon name="checkmark"></ion-icon>
                                            <p>145</p>
                                        </div>
                                        <p>Available Units</p>
                                    </div>
                                    <div class="type">
                                        <div class="icon trend">
                                            <ion-icon name="flash"></ion-icon>
                                        </div>
                                        <p>Trending</p>
                                    </div>
                                    <div class="type">
                                        <div class="icon new">
                                            <ion-icon name="heart"></ion-icon>
                                        </div>
                                        <p>New Arrival</p>
                                    </div>
                                    <div class="type">
                                        <div class="icon sale">
                                            <ion-icon name="analytics"></ion-icon>
                                        </div>
                                        <p>On Sale</p>
                                    </div>
                                </div>
                                <div class="colors">
                                    <p class="title">Colors</p>
                                    <div class="color-container">
                                        <div class="color" style="background-color:red"></div>
                                        <div class="color" style="background-color:blue"></div>
                                        <div class="color" style="background-color:yellow"></div>
                                        <div class="color" style="background-color:green"></div>
                                        <div class="color" style="background-color:palevioletred"></div>
                                    </div>
                                </div>
                                <div class="sizes">
                                    <p class="title">Sizes</p>
                                    <div class="size-container">
                                        <button class="size">XS (20)</button>
                                        <button class="size">S (20)</button>
                                        <button class="size">M (20)</button>
                                        <button class="size">L (20)</button>
                                        <button class="size">XL (20)</button>
                                        <button class="size">XXL (20)</button>
                                    </div>
                                </div>
                                <div class="input-group detail-input">
                                    <input type="text" class="form-control" placeholder="Enter quantity">
                                    <div class="input-group-append">
                                      <span class="input-group-text" id="basic-addon2">/ ~</span>
                                    </div>
                                  </div>
                            </div>

                            <div class="review-container" style="display: none"></div>
                        </div>
                    </div>
                </div> -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Confirm</button>
            </div>
        </div>
    </div>
</div>

<!-- Checkout Modal -->
<div class="modal fade" id="modalCheckout" tabindex="-1" aria-labelledby="checkoutModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="checkoutModalLabel">Checkout</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>