<link rel="stylesheet" href="/public/assets/css/customer/market.css">
<script defer src="/public/script/customer/market/general.js" type="module"></script>
<script defer src="/public/script/customer/market/displayProducts.js" type="module"></script>
<script defer src="/public/script/customer/market/checkout.js" type="module"></script>

<header>
    <p id="uid" hidden>
        <%- uid %>
    </p>
    <div class="left">
        Handyman Appliances
    </div>
    <div class="middle">
        <label>Time Left</label>
        <p class="timer" id="lblTimer">00:00:00</p>
    </div>
    <div class="right">
        <div class="cart">
            <button class="cart-button" id="btnCart">
                <div class="cartItemCounter" id="dynamicItemCounter">0</div>
                <ion-icon name="cart-outline"></ion-icon>
            </button>
            <div class="dropdown-cart-menu" id="dropdownCart">
                <p class="cart-title">My Cart</p>
                <div class="cart-container"></div>
                <div class="cart-checkout">
                    <div class="cart-total">
                        <p class="label">Total Price:</p>
                        <p class="total" id="dynamicTotalLabel"></p>
                    </div>
                    <button class="checkout-button disable" disabled id="btnCheckout" data-toggle="modal"
                        data-target="#cartPaymentModal">Check out</button>
                </div>
            </div>
        </div>
        <button class="exit" id="btnExitMarket">Leave</button>
    </div>
</header>

<main>
    <div class="filter-container">
        <div class="category">
            <p class="title">Category</p>
            <!-- Add active in <li> if selected -->
            <!-- <li class="active"> -->
            <ul id="dynamicCategoryList"></ul>
        </div>
        <div class="Size">
            <p class="title">Size</p>
            <ul id="dynamicSizeList"></ul>
        </div>
        <div class="Type">
            <p class="title">Type</p>
            <ul id="dynamicTypeList"></ul>
        </div>
        <button class="clear-filter" id="btnClearFilter">Clear Filters</button>
    </div>
    <div class="product-container" id="prodContainer"></div>
</main>

<!-- Add To Cart Modal -->
<div class="modal fade" id="modalAddToCart" tabindex="-1" aria-labelledby="addToCartModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addToCartModalLabel">ADD TO CART</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body addToCart-modal-body" id="dynamicAddToCartModal"></div>
        </div>
    </div>
</div>

<!-- Payment Modal -->
<div class="modal fade" id="cartPaymentModal" data-backdrop="static" data-keyboard="false" tabindex="-1"
    aria-labelledby="cartPaymentModal" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body payment-modal-body">
                <div class="header">Payment</div>
                <div class="content">
                    <div class="payment-method">
                        <p class="section-label">Choose payment method below</p>
                        <div class="method-container">
                            <div class="method" id="STRIPE">
                                <img class="stripe"
                                    src="/public/assets/images/customer/live_selling/payment_method_card.png"
                                    alt="stripe" class="brand">
                                <p class="brand-label">pay with credit card via stripe</p>
                            </div>
                            <div class="method" id="COD">
                                <img class="cod"
                                    src="/public/assets/images/customer/live_selling/payment_method_cod.png" alt="cod"
                                    class="brand">
                                <p class="brand-label">pay when you got the package</p>
                            </div>
                        </div>
                    </div>
                    <div class="payment-info">
                        <p class="section-label">Billing Info</p>
                        <div class="info">
                            <div class="user-address" id="dynamicAddress"></div>
                            <div class="user-info">
                                <div class="row1">
                                    <div class="form-group">
                                        <label for="inputBillerName">full name</label>
                                        <input type="text" id="inputBillerName" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="inputBillerPhone">phone number</label>
                                        <input type="text" id="inputBillerPhone" class="form-control">
                                    </div>
                                </div>
                                <div class="row2">
                                    <div class="form-group">
                                        <label for="inputBillerEmail">Email address</label>
                                        <input type="email" id="inputBillerEmail" value="<%= displayAccountInfo[0].email %> " class="form-control" aria-describedby="emailHelp">
                                        <small id="emailHelp" class="form-text text-muted">To notify you about your order.</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer">
                    <button class="cancel" data-dismiss="modal">return to live selling</button>
                    <button class="proceed" id="btnConfirmPay">confirm my purchase</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Add new address Modal -->
<div class="modal fade" id="addNewAddressModal" data-backdrop="static" data-keyboard="false" tabindex="-1"
    aria-labelledby="addNewAddressModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add new shipping address</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body address-modal-body">
                <div class="form-wrap">
                    <div class="form-group form-name">
                        <label for="newAddressName">Full Name</label>
                        <input type="text" class="form-control" id="newAddressName">
                    </div>
                    <div class="form-group form-phone">
                        <label for="newAddressPhone">Phone Number</label>
                        <input type="text" class="form-control" id="newAddressPhone">
                    </div>
                </div>
                <div class="form-group">
                    <label for="newAddressHouse">House Number, Building and Street Name</label>
                    <input type="text" class="form-control" id="newAddressHouse">
                </div>
                <div class="form-wrap">
                    <div class="form-group">
                        <label for="newAddressBarangay">Barangay</label>
                        <select class="form-control" id="newAddressBarangay">
                            <option value="" disabled selected hidden>Please choose your barangay</option>
                            <option value="Pulo">Pulo</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="newAddressProvince">Province</label>
                        <select class="form-control" id="newAddressProvince">
                            <option value="" disabled selected hidden>Please choose your province</option>
                            <option value="Laguna">Laguna</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="newAddressCity">City</label>
                    <select class="form-control" id="newAddressCity">
                        <option value="" disabled selected hidden>Please choose your city</option>
                        <option value="Cabuyao">Cabuyao</option>
                        <option value="Sta Rosa">Sta. Rosa</option>
                        <option value="Calamba">Calamba</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="newAddressPostal">Postal Code</label>
                    <input type="text" class="form-control" id="newAddressPostal">
                </div>
                <div class="form-buttons">
                    <button class="address-type">home</button>
                    <button class="address-type">work</button>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btnExit btn-primary" id="btnSaveNewAddress">Save</button>
            </div>
        </div>
    </div>
</div>