<link rel="stylesheet" href="/public/assets/css/customer/order.css">

<main>
    <h1>Order Status</h1>
    <div class="orders">
        <!-- Navigation -->
        <div class="nav-orders">

            <div class="back">
                <a href="orders.html" style="font-size: 1.06rem">
                    <ion-icon name="chevron-back-outline"></ion-icon> Back
                </a>
            </div>

            <div class="orderInfo">
                <div>ORDER ID: </div>
                <div id="orderID" style="font-weight: 600"> 220725CCA4KN38</div> |
                <b style="color: #ff7782">Shipped</b>
            </div>

        </div><!-- END OF NAVIGATION and ORDER INFO -->

        <!-- List of Orders -->
            <div class="order" style="background: var(--color-background)">

                <!-- STEP PROGRESS BAR -->
                <div class="orderProgress">
                    <ul>

                        <!-- ORDER PLACED -->
                        <li>
                            <ion-icon name="receipt-outline" class="icon"></ion-icon>
                            <div class="active order-progress one">
                                <p>1</p>
                                <ion-icon name="checkmark-outline"></ion-icon>
                            </div>
                            <h2>Placed</h2>
                            <small id="orderDate" class="text-muted" style="display: block;">07/25/2022</small>
                        </li>

                        <!-- PAYMENT INFO CONFIRMED -->
                        <li>
                            <ion-icon name="cash-outline" class="icon"></ion-icon>
                            <div class="active order-progress two">
                                <p>2</p>
                                <ion-icon name="checkmark-outline"></ion-icon>
                            </div>
                            <h2>Confirmed</h2>
                            <small id="orderDate" class="text-muted" style="display: block;">07/25/2022</small>
                        </li>

                        <!-- ORDER SHIPPED OUT-->
                        <li>
                            <ion-icon name="rocket-outline" class="icon"></ion-icon>
                            <div class="active order-progress three">
                                <p>3</p>
                                <ion-icon name="checkmark-outline"></ion-icon>
                            </div>
                            <h2>Shipping</h2>
                            <small id="orderDate" class="text-muted" style="display: block;">07/27/2022</small>
                        </li>

                        <!-- DELIVERED-->
                        <li>
                            <ion-icon name="archive-outline" class="icon"></ion-icon>
                            <div class="order-progress four">
                                <p>4</p>
                                <ion-icon name="checkmark-outline"></ion-icon>
                            </div>
                            <h2>Delivered</h2>
                            <small id="orderDate" class="text-muted" style="display: none;">07/30/2022</small>
                        </li>

                    </ul>
                </div><!-- END OF STEP PROGRESS BAR -->

                <hr size="6" style="background-color: var(--color-primary);">
                
                <div class="customerInfo">
                    <div class="delivAdd">
                        <ion-icon name="cube-outline"></ion-icon>
                        <h2 style="font-weight: 500">Delivery Address</h2>
                    </div>
                    
                    <div class="customerDetails">
                        <p id="customerName" style="font-weight: 500; font-size: 1rem">Marco Sardido</p><br>
                        <p id="customerNumber">(+63)9219564201</p>
                        <p id="customerAddress">2168 Hilltop Haven Drive, Los Angeles, California 90017</p>
                    </div>
                </div>


                <hr size="3" style="background-color: #b1bcbe;">

                <!-- ITEM ORDERED -->
                <div class="middle">
                    <div class="item-content">
                        <div class="item">
                            <img src="public/assets/images/sampleItems/iphone-7-black.jpg">
                            <div class="item-name">
                                <h2 style="font-weight: 400">Iphone 7 Pro Limited Black Edition</h2>
                                <p class="text-muted">Color: Black</p>
                                <p class="text-muted">Warranty: 24 months</p>
                            </div>
                        </div>
                        <div class="item-qty">
                            <h2 style="font-weight: 400">Qty: 2</h2>
                        </div>
                        <div class="item-price">
                            <h2>₱40,042.00</h2>
                        </div>
                    </div>
                </div>


                <table class="totalSummary">
                    <tr>
                        <th class="text-muted">Merchandise Subtotal</th>
                        <td id="merchTotal">₱40,000</td>
                    </tr>
                    <tr>
                        <th class="text-muted">Shipping</th>
                        <td id="shippingFee">₱42</td>
                    </tr>
                    <tr>
                        <th class="text-muted">Order Total</th>
                        <td id="orderTotal">₱40,042</td>
                    </tr>
                    <tr>
                        <th class="text-muted">Payment Method</th>
                        <td id="modeOfPayment">Cash On Delivery</td>
                    </tr>
                </table>
            </div><!-- End of List of Orders -->
    
    </div> <!-- END OF ORDER CONTAINER -->
    <br>
</main>