<link rel="stylesheet" href="/public/assets/css/customer/order.css">

<main>
    <h1>My Orders</h1>

    <div class="orders">
        <!-- Navigation -->
        <ul class="nav-orders">
            <li class="nav-item active">
                <a href="#">All</a>
            </li>
            <li class="nav-item">
                <a href="#">To Ship</a>
            </li>
            <li class="nav-item">
                <a href="#">To Receive</a>
            </li>
            <li class="nav-item">
                <a href="#">Delivered</a>
            </li>
        </ul>

        <!--======== ALL ORDERS ============ -->
        <div id="all" style="display: block">
            <!-- List of Orders -->
            <div class="order">
                <div class="top">
                    <div class="shop">
                        <ion-icon name="storefront-outline"></ion-icon>
                        <b style="font-size: 0.85rem">Apple</b>
                    </div>
                    <div class="status">
                        <ion-icon name="rocket-outline" class="text-muted"></ion-icon>
                        <div class="text-muted">Item has been shipped</div> |
                        <b style="color: #ff7782">Shipped</b>
                    </div>
                </div>

                <hr size="3" style="width: 86%; margin: auto; background-color: #7d8da1;">

                <div class="middle">
                    <div class="item-content">
                        <div class="item">
                            <img src="public/assets/images/sampleItems/iphone-7-black.jpg">
                            <div class="item-name">
                                <h2 style="font-weight: 400">Iphone 7 Pro Limited Black Edition</h2>
                                <p class="text-muted">Color: Black</p>
                                <p class="text-muted">Warranty: 24 months</p>
                            </div>
                        </div>
                        <div class="item-qty">
                            <h2 style="font-weight: 400">Qty: 2</h2>
                        </div>
                        <div class="item-price">
                            <h2>₱40,042.00</h2>
                        </div>
                    </div>
                </div>

                <hr size="3" style="background-color: #7d8da1;">

                <div class="btn-group">
                    <a href="orderStatus.html" class="active">Check Status</a>
                </div>
            </div><!-- End of List of Orders -->

            <!-- List of Orders -->
            <div class="order">
                <div class="top">
                    <div class="shop">
                        <ion-icon name="storefront-outline"></ion-icon>
                        <b style="font-size: 0.85rem">Apple Accessories Store</b>
                    </div>
                    <div class="status">
                        <ion-icon name="cube-outline" class="text-muted"></ion-icon>
                        <div class="text-muted">Order Placed</div> |
                        <b style="color: orange">Processing</b>
                    </div>
                </div>

                <hr size="3" style="width: 86%; margin: auto; background-color: #7d8da1;">

                <div class="middle">
                    <div class="item-content">
                        <div class="item">
                            <img src="public/assets/images/sampleItems/airpods-pro-1.jpg">
                            <div class="item-name">
                                <h2 style="font-weight: 400">Earpods Pro Limited White Edition</h2>
                                <p class="text-muted">Color: White</p>
                                <p class="text-muted">Warranty: 5 months</p>
                            </div>
                        </div>
                        <div class="item-qty">
                            <h2 style="font-weight: 400">Qty: 1</h2>
                        </div>
                        <div class="item-price">
                            <h2>₱1,235.00</h2>
                        </div>
                    </div>
                </div>

                <hr size="3" style="background-color: #7d8da1;">

                <div class="btn-group">
                    <a href="#" class="active">Check Status</a>
                </div>
            </div><!-- End of List of Orders -->

            <!-- List of Orders -->
            <div class="order">
                <div class="top">
                    <div class="shop">
                        <ion-icon name="storefront-outline"></ion-icon>
                        <b style="font-size: 0.85rem">Samsung Live Store</b>
                    </div>
                    <div class="status">
                        <ion-icon name="cube-outline" class="text-muted"></ion-icon>
                        <div class="text-muted">Item has been delivered</div> |
                        <b style="color: mediumseagreen">Delivered</b>
                    </div>
                </div>

                <hr size="3" style="width: 86%; margin: auto; background-color: #7d8da1;">

                <div class="middle">
                    <div class="item-content">
                        <div class="item">
                            <img src="public/assets/images/sampleItems/Samsung-Note-8.jpg">
                            <div class="item-name">
                                <h2 style="font-weight: 400">Samsung Note 8</h2>
                                <p class="text-muted">Color: Black</p>
                                <p class="text-muted">Warranty: 2 Years</p>
                            </div>
                        </div>
                        <div class="item-qty">
                            <h2 style="font-weight: 400">Qty: 1</h2>
                        </div>
                        <div class="item-price">
                            <h2>₱15,546.00</h2>
                        </div>
                    </div>
                </div>

                <hr size="3" style="background-color: #7d8da1;">

                <div class="btn-group">
                    <a href="#" class="active">Rate</a>
                    <a href="#">Check Status</a>
                </div>
            </div><!-- End of List of Orders -->

            <!-- List of Orders -->
            <div class="order">
                <div class="top">
                    <div class="shop">
                        <ion-icon name="storefront-outline"></ion-icon>
                        <b style="font-size: 0.85rem">Mac Draven's Store</b>
                    </div>
                    <div class="status">
                        <ion-icon name="cube-outline" class="text-muted"></ion-icon>
                        <div class="text-muted">Item has been delivered</div> |
                        <b style="color: mediumseagreen">Delivered</b>
                    </div>
                </div>

                <hr size="3" style="width: 86%; margin: auto; background-color: #7d8da1;">

                <div class="middle">
                    <div class="item-content">
                        <div class="item">
                            <img src="public/assets/images/sampleItems/beats-by-dre.jpg">
                            <div class="item-name">
                                <h2 style="font-weight: 400">Beats Wireless Headphone</h2>
                                <p class="text-muted">Color: Black</p>
                                <p class="text-muted">Warranty: 1 Month</p>
                            </div>
                        </div>
                        <div class="item-qty">
                            <h2 style="font-weight: 400">Qty: 1</h2>
                        </div>
                        <div class="item-price">
                            <h2>₱3,236.00</h2>
                        </div>
                    </div>
                </div>

                <hr size="3" style="background-color: #7d8da1;">

                <div class="btn-group">
                    <a href="#" class="active">Rate</a>
                    <a href="#">Check Status</a>
                </div>
            </div><!-- End of List of Orders -->

        </div> <!-- END OF ALL ORDER -->

        <!-- =========TO SHIP========== -->
        <div id="toShip" style="display: none">
            <!-- List of Orders -->
            <div class="order">
                <div class="top">
                    <div class="shop">
                        <ion-icon name="storefront-outline"></ion-icon>
                        <b style="font-size: 0.85rem">Apple Accessories Store</b>
                    </div>
                    <div class="status">
                        <ion-icon name="cube-outline" class="text-muted"></ion-icon>
                        <div class="text-muted">Order Placed</div> |
                        <b style="color: orange">Processing</b>
                    </div>
                </div>

                <hr size="3" style="width: 86%; margin: auto; background-color: #7d8da1;">

                <div class="middle">
                    <div class="item-content">
                        <div class="item">
                            <img src="public/assets/images/sampleItems/airpods-pro-1.jpg">
                            <div class="item-name">
                                <h2 style="font-weight: 400">Earpods Pro Limited White Edition</h2>
                                <p class="text-muted">Color: White</p>
                                <p class="text-muted">Warranty: 5 months</p>
                            </div>
                        </div>
                        <div class="item-qty">
                            <h2 style="font-weight: 400">Qty: 1</h2>
                        </div>
                        <div class="item-price">
                            <h2>₱1,235.00</h2>
                        </div>
                    </div>
                </div>

                <hr size="3" style="background-color: #7d8da1;">

                <div class="btn-group">
                    <a href="#" class="active">Check Status</a>
                </div>
            </div><!-- End of List of Orders -->
        </div>

        <!-- =========TO RECEIVE========== -->
        <div id="toReceive" style="display: none">
            <!-- List of Orders -->
            <div class="order">
                <div class="top">
                    <div class="shop">
                        <ion-icon name="storefront-outline"></ion-icon>
                        <b style="font-size: 0.85rem">Apple</b>
                    </div>
                    <div class="status">
                        <ion-icon name="rocket-outline" class="text-muted"></ion-icon>
                        <div class="text-muted">Item has been shipped</div> |
                        <b style="color: #ff7782">Shipped</b>
                    </div>
                </div>

                <hr size="3" style="width: 86%; margin: auto; background-color: #7d8da1;">

                <div class="middle">
                    <div class="item-content">
                        <div class="item">
                            <img src="public/assets/images/sampleItems/iphone-7-black.jpg">
                            <div class="item-name">
                                <h2 style="font-weight: 400">Iphone 7 Pro Limited Black Edition</h2>
                                <p class="text-muted">Color: Black</p>
                                <p class="text-muted">Warranty: 24 months</p>
                            </div>
                        </div>
                        <div class="item-qty">
                            <h2 style="font-weight: 400">Qty: 2</h2>
                        </div>
                        <div class="item-price">
                            <h2>₱40,042.00</h2>
                        </div>
                    </div>
                </div>

                <hr size="3" style="background-color: #7d8da1;">

                <div class="btn-group">
                    <a href="#" class="active">Check Status</a>
                </div>
            </div><!-- End of List of Orders -->
        </div>

        <!-- =========DELIVERED========== -->
        <div id="delivered" style="display: none">
            <!-- List of Orders -->
            <div class="order">
                <div class="top">
                    <div class="shop">
                        <ion-icon name="storefront-outline"></ion-icon>
                        <b style="font-size: 0.85rem">Samsung Live Store</b>
                    </div>
                    <div class="status">
                        <ion-icon name="cube-outline" class="text-muted"></ion-icon>
                        <div class="text-muted">Item has been delivered</div> |
                        <b style="color: mediumseagreen">Delivered</b>
                    </div>
                </div>

                <hr size="3" style="width: 86%; margin: auto; background-color: #7d8da1;">

                <div class="middle">
                    <div class="item-content">
                        <div class="item">
                            <img src="public/assets/images/sampleItems/Samsung-Note-8.jpg">
                            <div class="item-name">
                                <h2 style="font-weight: 400">Samsung Note 8</h2>
                                <p class="text-muted">Color: Black</p>
                                <p class="text-muted">Warranty: 2 Years</p>
                            </div>
                        </div>
                        <div class="item-qty">
                            <h2 style="font-weight: 400">Qty: 1</h2>
                        </div>
                        <div class="item-price">
                            <h2>₱15,546.00</h2>
                        </div>
                    </div>
                </div>

                <hr size="3" style="background-color: #7d8da1;">

                <div class="btn-group">
                    <a href="#" class="active">Rate</a>
                    <a href="#">Check Status</a>

                </div>
            </div><!-- End of List of Orders -->

            <!-- List of Orders -->
            <div class="order">
                <div class="top">
                    <div class="shop">
                        <ion-icon name="storefront-outline"></ion-icon>
                        <b style="font-size: 0.85rem">Mac Draven's Store</b>
                    </div>
                    <div class="status">
                        <ion-icon name="cube-outline" class="text-muted"></ion-icon>
                        <div class="text-muted">Item has been delivered</div> |
                        <b style="color: mediumseagreen">Delivered</b>
                    </div>
                </div>

                <hr size="3" style="width: 86%; margin: auto; background-color: #7d8da1;">

                <div class="middle">
                    <div class="item-content">
                        <div class="item">
                            <img src="public/assets/images/sampleItems/beats-by-dre.jpg">
                            <div class="item-name">
                                <h2 style="font-weight: 400">Beats Wireless Headphone</h2>
                                <p class="text-muted">Color: Black</p>
                                <p class="text-muted">Warranty: 1 Month</p>
                            </div>
                        </div>
                        <div class="item-qty">
                            <h2 style="font-weight: 400">Qty: 1</h2>
                        </div>
                        <div class="item-price">
                            <h2>₱3,236.00</h2>
                        </div>
                    </div>
                </div>

                <hr size="3" style="background-color: #7d8da1;">

                <div class="btn-group">
                    <a href="#" class="active">Rate</a>
                    <a href="#">Check Status</a>
                </div>
            </div><!-- End of List of Orders -->
        </div>

    </div> <!-- END OF ORDER CONTAINER -->
    <br><br>
</main>