<link rel="stylesheet" href="/public/assets/css/customer/review.css">


<div class="review-header">
    <div class="icon">
        <div class="notif"></div>
        <ion-icon name="notifications"></ion-icon>
    </div>
</div>
<div class="review-body">
    <div class="review-list-cont">
        <div class="title-cont">
            <p>My Reviews</p>
        </div>
        <div class="tabs-cont">
            <a href="#" class="active">To Be Reviewed</a>
            <a href="#">History</a>
        </div>
        <div class="list-cont">
            <div class="list-dynamic-cont">
                <div class="list-row-review active">
                    <div class="left-desc">
                        <div class="item-img">
                            <img src="/public/assets/images/iphone-7-black.jpg" alt="IPhone 7">
                        </div>
                        <div class="item-desc">
                            <p class="list-item-name">IPhone 7 Pro Limited Black Edition<p>
                            <p class="list-item-purchase-date">Purchased on: 01 Jun 2021<p>
                        </div>
                    </div>
                </div>
            </div>  
            <div class="list-dynamic-cont">
                <div class="list-row-review">
                    <div class="left-desc">
                        <div class="item-img">
                            <img src="/public/assets/images/beats-by-dre.png" alt="Beats by Dr. DRE">
                        </div>
                        <div class="item-desc">
                            <p class="list-item-name">Beats by Dr. DRE<p>
                            <p class="list-item-purchase-date">Purchased on: 02 Jun 2021<p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="list-dynamic-cont">
                <div class="list-row-review">
                    <div class="left-desc">
                        <div class="item-img">
                            <img src="/public/assets/images/Samsung-Note-8.jpg" alt="Samsung Note 8">
                        </div>
                        <div class="item-desc">
                            <p class="list-item-name">Samsung Note 8<p>
                            <p class="list-item-purchase-date">Purchased on: 03 Jun 2021<p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="list-dynamic-cont">
                <div class="list-row-review">
                    <div class="left-desc">
                        <div class="item-img">
                            <img src="/public/assets/images/airpods-pro-1.jpg" alt="Apple Airpods Pro">
                        </div>
                        <div class="item-desc">
                            <p class="list-item-name">Apple Airpods Pro<p>
                            <p class="list-item-purchase-date">Purchased on: 05 Jun 2021<p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="review-details-cont">
        <div class="review-info-cont">
            <p class="review-delivered-date">Delivered on: 03 Jun 2021</p>
            <p class="review-item-store">Sold by: Apple</p>
        </div>
        <div class="review-body-cont">
            <div class="review-item">
                <div class="item-review-cont">
                    <p class="review-static-label">What do you think of the product?</p>
                    <div class="item-info">
                        <img src="/public/assets/images/iphone-7-black.jpg" alt="IPhone 7">
                        <div class="item-info-desc">
                            <p class="item-info-name">IPhone 7 Pro Limited Black Edition</p>
                            <p>5.5 inches Full HD Display | A10 Processor | iOS 10</p>
                        </div>
                    </div>
                    <div class="item-rate">
                        <div class="rating">
                            <input type="radio" name="buttons" id="Very-Unsatisfied">
                            <input type="radio" name="buttons" id="Unsatisfied">
                            <input type="radio" name="buttons" id="Neutral">
                            <input type="radio" name="buttons" id="Satisfied">
                            <input type="radio" name="buttons" id="Very-Satisfied">
                            <div class="icons">
                                <label for="Very-Unsatisfied">😢</label>
                                <label for="Unsatisfied">🙁</label>
                                <label for="Neutral">😐</label>
                                <label for="Satisfied">🙂</label>
                                <label for="Very-Satisfied">🤩</label>
                            </div>
                        </div>
                    </div>
                    <div class="item-feedback">
                        <p class="review-static-feedback">Do you have any thoughts you'd like to share?<p>
                        <textarea name="" id="" cols="55" rows="10" resize="none"></textarea>
                    </div>
                    <div class="btn-submit-feedback">
                        <button>Submit</button>
                    </div>
                </div>
            </div>
            <div class="review-shipping">
                <div class="shipping-info">

                </div>
                <div class="shipping-rate">

                </div>
                <div class="shipping-feedback">
                    
                </div>
            </div>
        </div>

    </div>
</div>
