<link rel="stylesheet" href="/public/assets/css/customer/review.css">
<script defer src="/public/script/customer/reviews/functions.js" type="text/javascript"></script>
<script defer src="/public/script/customer/reviews/general.js" type="text/javascript"></script>

<main class="main">
    <p id="uid" hidden>
        <%=uid%>
    </p>
    <h1>My Reviews</h1>

    <div class="reviews">
        <!-- Navigation -->
        <ul class="nav-reviews">
            <li class="nav-item active">
                <a>To Rate</a>
            </li>
            <li class="nav-item">
                <a>History</a>
            </li>
        </ul>

        <!--======== ALL ORDERS ============ -->
        <div id="reviewFilterAll" style="display: block"></div>


        <!-- ========= HISTORY ========== -->
        <div id="reviewFilterHistory" style="display: none"></div>

    </div>

    <br><br>

    <!-- ================== MODAL ==================== -->
    <div class="modal-wrap">
        <div class="shadow close-btn"></div>
        <div class="custom-modal">

            <div class="header">
                <div class="title">Rate Product</div>
                <span class="icon close-btn" id="btnCloseReviewModal">
                    <ion-icon class="i" name="close-outline"></ion-icon>
                </span>
            </div>
            <div class="modal-container">
                <div class="modal-body">
                    <div class="modal-item-wrap" id="reviewModalItem"></div>
                    <div class="modal-ratings-wrap">
                        <form class='stars'>
                            <!-- STAR 5 -->
                            <input type="radio" name='stars' value='5' id='five' class='star'>
                            <label for="five"><i class='fa fa-star'></i></label>
                            <!-- STAR 4 -->
                            <input type="radio" name='stars' value='4' id='four' class='star'>
                            <label for="four"><i class='fa fa-star'></i></label>
                            <!-- STAR 3 -->
                            <input type="radio" name='stars' value='3' id='three' class='star'>
                            <label for="three"><i class='fa fa-star'></i></label>
                            <!-- STAR 2 -->
                            <input type="radio" name='stars' value='2' id='two' class='star'>
                            <label for="two"><i class='fa fa-star'></i></label>
                            <!-- STAR 1 -->
                            <input type="radio" name='stars' value='1' id='one' class='star' checked>
                            <label for="one"><i class='fa fa-star '></i></label>
                        </form>
                    </div>
                    <div class="modal-suggestions-wrap">
                        <textarea id="txtFeedBack" cols="40" rows="5" placeholder="Tell others why you love this product" data-gramm="false" data-gramm_editor="false" data-enable-grammarly="false"></textarea>
                    </div>
                </div>
                <div class="footer">
                    <div class="footer-btn">
                        <button class="submit-btn active" id="btnSubmitReview">SUBMIT</button>
                    </div>
                </div>
            </div>

        </div>

    </div>

</main>