<div class="settings-header">
    <div class="icon">
        <div class="notif"></div>
        <ion-icon name="notifications"></ion-icon>
    </div>
</div>
<div class="settings-body">
    <div class="settings-menu-cont">
        <div class="title-cont">
            <p>Settings</p>
        </div>
        <div class="menu-cont">
            <a href="#" class="settings-menu-link active">Account</a>
            <a href="#" class="settings-menu-link">Address Book</a>
            <a href="#" class="settings-menu-link">Finance</a>
            <a href="#" class="settings-menu-link">FAQ</a>
            <a href="#" class="settings-menu-link">About Us</a>
        </div>
    </div>
    <hr>
    <div class="settings-details-cont">
        <div class="details-inner-cont">
            <div id="account-panel" class="account" style="display: block">
                <form action="#">
                    <div class="global-header-panel">
                        <p>My Account</p>
                        <b class="account"></b>
                    </div>
                    <div class="account-profile">
                        <div class="details-static-label">
                            <p>Avatar</p>
                        </div>
                        <div class="details-dynamic-cont">
                            <img src="/public/assets/images/Avatar.png" alt="Profile Picture">
                            <div class="details-current">
                                <div>
                                    <p class="details-current-name">Marco Sardido</p>
                                    <p class="details-current-email">marcosardido@gmail.com</p>
                                </div>
                                <div>
                                    <button>Upload</button>
                                    <button>Remove</button>
                                </div>
                                
                            </div>
                            
                        </div>
                    </div>
                    <div class="account-details">
                        <div class="account-details-upper">
                            <div class="account-row-info">
                                <div class="details-static-label">
                                    <div>
                                        <p>Display name</p>
                                    </div>
                                    <div>
                                        <p>Visible to other members</p>
                                    </div>
                                </div>
                                <div class="details-dynamic-cont">
                                    <input type="text" name="" id="" required placeholder="e.g. John">
                                </div>
                            </div>
                            <div class="account-row-info">
                                <div class="details-static-label">
                                    <div>
                                        <p>Full name</p>
                                    </div>
                                    <div>
                                        <p>How do you want to be called?</p>
                                    </div>
                                </div>
                                <div class="details-dynamic-cont">
                                    <input type="text" name="" id="" required placeholder="e.g. John Smith">
                                </div>
                            </div>
                        </div>
                        <div class="account-details-lower">
                            <div class="account-row-info">
                                <div class="details-static-label">
                                    <div>
                                        <p>Email address</p>
                                    </div>
                                    <div>
                                        <p>For logging in</p>
                                    </div>
                                </div>
                                <div class="details-dynamic-cont">
                                    <input type="email" name="" id="" required placeholder="e.g. john_smith@sample.com">
                                </div>
                            </div>
                            <div class="account-row-info">
                                <div class="details-static-label">
                                    <div>
                                        <p>Phone number</p>
                                    </div>
                                    <div>
                                        <p>For receiving notifications</p>
                                    </div>
                                </div>
                                <div class="details-dynamic-cont">
                                    <input type="text" name="" id="" required placeholder="e.g. +31 6 12 34 56 78">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="account-status">
                        <div class="account-status-static">
                            <p>Delete Account</p>
                            <p>By deleting your account you will lose all your data</p>
                        </div>
                        <div class="account-status-detail">
                            <button>Delete account</button>
                        </div>
                    </div>
                    <div class="global-footer-panel">
                        <button type="submit">Save Changes</button>
                    </div>
                </form>
            </div>
            <div id="address-panel" class="address" style="display: none">
                <div class="global-header-panel">
                    <p>Address Book</p>
                    <b class="address"></b>
                </div>
                <div class="global-footer-panel">
                    <button type="submit">Save Changes</button>
                </div>
            </div>
            <div id="payment-panel" class="payment" style="display: none">
                <div class="global-header-panel">
                    <p>Financial Accounts</p>
                    <b class="financial"></b>
                </div>
                <div class="global-footer-panel">
                    <button type="submit">Save Changes</button>
                </div>
            </div>
            <div id="faq-panel" class="faq" style="display: none">
                <div class="global-header-panel">
                    <p>FAQ</p>
                    <b class="faq"></b>
                </div>
                <div class="global-footer-panel">
                    <button type="submit">Save Changes</button>
                </div>
            </div>
            <div id="contact-panel" class="contact" style="display: none">
                <div class="global-header-panel">
                    <p>About Us</p>
                    <b class="about"></b>
                </div>
                <div class="global-footer-panel">
                    <button type="submit">Save Changes</button>
                </div>
            </div>
        </div>
    </div>
</div>
