<div class="navigation" id="sideNavBar">
    <div class="toggle">
        <ion-icon name="menu-outline" class="open"></ion-icon>
        <ion-icon name="close-outline" class="close"></ion-icon>
    </div>
    <ul>
        <li class="list">
            <b></b>
            <b></b>
            <a href="dashboard">
                <span class='icon'><ion-icon name="grid-outline"></ion-icon></span>
                <span class='title'>Dashboard</span>
            </a>
            <!-- <span class='tooltip'>Dashboard</span> -->
        </li>
        <li class="list">
            <b></b>
            <b></b>
            <a href="products">
                <span class='icon'><ion-icon name="cube-outline"></ion-icon></span>
                <span class='title'>Products</span>
            </a>
        </li>
        <li class="list">
            <b></b>
            <b></b>
            <a href="transactions">
                <span class='icon'><ion-icon name="wallet-outline"></ion-icon></span>
                <span class='title'>Transactions</span>
            </a>
        </li>
        <li class="list">
            <b></b>
            <b></b>
            <a href="reports">
                <span class='icon'><ion-icon name="clipboard-outline"></ion-icon></span>
                <span class='title'>Reports</span>
            </a>
        </li>
        <li class="list">
            <b></b>
            <b></b>
            <a href="settings">
                <span class='icon'><ion-icon name="settings-outline"></ion-icon></span>
                <span class='title'>Settings</span>
            </a>
        </li>
        <hr>
        <div class="nav-utils">
            <input type="checkbox" class="checkbox" id="checkbox">
            <label for="checkbox" class="label">
                <i class="fas fa-moon"></i>
                <i class="fas fa-sun"></i>
                <div class="ball"></div>
            </label>
        </div>

    </ul>
    <div class="profile-container">
        <div class="profile">
            <div class="profile-details">
                <a href="/profile">
                    <img src="/public/assets/images/Avatar.png" alt="MarcoSardido">
                </a>
                <div class="details">
                    <div class="name">Marco Sardido</div>
                    <div class="subType">Individual Seller</div>
                </div>
            </div>
            <a href="auth/logout">
                <ion-icon name="log-in-outline" id="logout"></ion-icon>
            </a>
        </div>
    </div>
</div>