<div class="modal fade" id="<%=subSuccess%>" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content modal-subSuccess">
            <div class="modal-header">
                <img src="/public/assets/images/utils/CSCWebIcon.png">
                <h5 class="modalTitle">City Sales <span>Cloud</span></h5>
            </div>
            <div class="modal-body">
                <div class="body-cont">
                    <div class="left-cont">
                        <div class="top-cont">
                            <p class="mainText">
                                Great! <%=sellerInfo.sellerCol.fullName.split(" ")[0]%>, everything is ready.
                        </p>
                        <p class=" subText">
                                    Fill the information needed in settings tab, start adding your products, and lets
                                    open your virtual store!
                            </p>
                        </div>
                    </div>
                    <div class="right-cont">
                        <img src="/public/assets/images/utils/start_selling.png">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="footer-cont">
                    <a href='/sellercenter/settings?tab=account' id="start_selling">Start Selling</a>
                </div>
            </div>
        </div>
    </div>
</div>