<div class="modal fade" id="verifyEmailModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-body">
            <div class="verifyEmail">

                <div class="verify-header">
                    <img src="/public/assets/images/partials/verify-email.png" alt="Verify Email">
                </div>

                <div class="verify-body">
                    <p class="title">Verify your account</p><br>
                    <p class="subText">Thanks for joining City Sales Cloud! We just sent a verification link to your email. Click on it to continue to your subscription payment!</p>
                </div>

                <div class="verify-footer">
                    <button type="button" data-dismiss="modal" id='redirectToDashboard' class="btnVerify">Got it</button>
                </div>

            </div>
            
        </div>
      </div>
    </div>
</div>